@import 'old_common.css';

/* Begin New Common Styles from Style Guide */

/* PLEASE DO NOT CHANGE COMMENTS AS THEY ARE USED FOR 
   PARSING SNIPPETS TO THE STYLE GUIDE */

/* Resets *************************************************/

:focus {
  outline: none;
}

/* Prevents the selection of text on all but text inputs */

:not(input):not(textarea) {
  -webkit-user-select: none;
  user-select: none;
}

/* Resets :: end ******************************************/



/* Fonts ***************************************************

   Adobe Source Sans
   SIL OPEN FONT LICENSE Version 1.1 - 26 February 2007
   http://scripts.sil.org/OFL

***********************************************************/

@font-face {
  font-family: SourceSansPro;
  src: url('../fonts/SourceSansPro-ExtraLight.ttf') format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: SourceSansPro;
  src: url('../fonts/SourceSansPro-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: SourceSansPro;
  src: url('../fonts/SourceSansPro-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: SourceSansPro;
  src: url('../fonts/SourceSansPro-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: SourceSansPro;
  src: url('../fonts/SourceSansPro-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: SourceSansPro;
  src: url('../fonts/SourceSansPro-Semibold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: SourceSansPro;
  src: url('../fonts/SourceSansPro-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: SourceSansPro;
  src: url('../fonts/SourceSansPro-Black.ttf') format('truetype');
  font-weight: 900;
}

/* Fonts :: end *******************************************/



/* Root Elements ******************************************/

html {
  font-size: 10px;
}

body {
  background-color: rgb(0,0,0);
  background-image: url("../images/Hex-Background.jpg");
  display: flex;
  flex-direction: column;
  font-family: SourceSansPro, sans-serif;
  height: 1920px;
  justify-content: space-between;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 1080px;
}

/* Sectioning Content */

article,
aside,
body,
div, 
nav,
section {
  font-size: 3rem;
}

/* Root Elements :: end ***********************************/



/* Structural Elements *************************************

   These styles can only be used with
   the HTML structure suggested in the Style Guide

***********************************************************/

#center-panel {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: inherit;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}

.modal,
#settings {
  box-sizing: border-box;
  display: flex;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.modal {
  align-items: center;
  justify-content: center;
}

.modal-content {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
}

#settings {
  background-color: rgba(0, 0, 0, 0.9);
  flex: 1;
  transition: height .25s ease-out;
}

#settings.collapsed {
  height: 0%;
  overflow: hidden;
}

#app {
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
}

/* Structural Elements :: end *****************************/



/*Typography **********************************************/

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fe9c00;
  font-weight: 400;
  line-height: 1em;
  margin: .5em 0;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 6rem;
}

h3 {
  font-size: 5rem;
}

h4 {
  font-size: 4rem;
}

h5 {
  font-size: 3.6rem;
}

h6, .label {
  font-size: 3rem;
  text-transform: uppercase;
}

/* Text */

p,
ul {
  margin-bottom: 1em;
}

p,
ul,
li,
.text-input {
  color: white;
  font-size: 3rem;
}

.text-medium {
  font-size: 3.2rem;
}

.text-large {
  font-size: 3.4rem;
}

p.lead {
  font-size: 4.5rem;
  font-weight: 300;
}

/* Anchors */

a {
  color: inherit;
}

/* Lists */

ul {
  font-size: 3rem;
  margin-left: 0;
}

li {
  margin-left: 1em;
}

/* Text Overflow */

.ellipsis-one-line,
.ellipsis-two-line,
.ellipsis-three-line {
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.ellipsis-one-line {
  -webkit-line-clamp: 1;
}

.ellipsis-two-line {
  -webkit-line-clamp: 2;
}

.ellipsis-three-line, {
  -webkit-line-clamp: 3;
}

/* Typography :: end **************************************/



/* Colors *************************************************/

.orange-lt {
  color: #ffd38c;
}

.orange-lt-bg {
  background-color: #ffd38c;
}

.orange-viv {
  color: #fe9c00;
}

.orange-viv-bg {
  background-color: #fe9c00;
}

.blue-lt {
  color: #b2f0ff;
}

.blue-lt-bg {
  background-color: #b2f0ff;
}

.blue-viv {
  color: #53b5ce;
}

.blue-viv-bg {
  background-color: #53b5ce;
}

.yellow-lt {
  color: #ffffb2;
}

.yellow-lt-bg {
  background-color: #ffffb2;
}

.yellow-viv {
  color: #ffff00;
}

.yellow-viv-bg {
  background-color: #ffff00;
}

.green-lt {
  color: #cdffb2;
}

.green-lt-bg {
  background-color: #cdffb2;
}

.green-viv {
  color: #59ff00;
}

.green-viv-bg {
  background-color: #59ff00;
}

.grey {
  color: #c4c4c4;
}

.grey-bg {
  background-color: #c4c4c4;
}

.white {
  color: white;
}

.white-bg {
  background-color: white;
}

.black {
  color: black;
}

.black-bg {
  background-color: black;
}

.overlay-bg {
  background-color: rgba(0,0,0,0.8);
}

/* Colors :: end ******************************************/


/* Tables *************************************************/

table {
  width: 100%;
  background-color: transparent;
  border-collapse: collapse;
}

th, td {
  color: white;
  font-size: 2rem;
  text-align: left;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

th.no-flex,
td.no-flex {
  display: table-cell;
}

th {
  font-weight: 100;
  justify-content: flex-end;
}

td {
  font-weight: 100;
  justify-content: flex-start;
}

table tr {
  display: flex;
}

tr:nth-child(even) {
  background-color: rgba(255,211,140,.1);
}

table tr > :nth-child(1n) {
  flex: 2;
}

table tr > :nth-child(n+2) {
  flex: 1;
}

table.no-text-wrap td {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  /*display: -webkit-box;*/
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

/* Tables :: end ******************************************/


/* Buttons ************************************************/

button,
.button-infill,
.button-inshadow,
.button-outline,
.button-outshadow,
input[type='button'] {
  background-color: rgba(0, 0, 0, 0.8);
  border-color: rgba(255, 255, 255, 0.5);
  border-style: solid;
  border-width: 1px;
  color: white;
  display: inline-block;
  font-family: inherit;
  font-size: 3rem;
  font-weight: 600;
  margin: 20px;
  padding: 8px 20px 12px;
  position: relative;
}
/* Button Colors */

.button-orange {
  color: #fe9c00;
  border-color: rgba(254, 156, 0, 0.5);
}

.button-blue {
  color: #b2f0ff;
  border-color: rgba(178, 240, 255, 0.5);
}

.button-green {
  color: #59ff00;
  border-color: rgba(205, 255, 178, 0.5);
}

.button-yellow {
  color: #ffffb2;
  border-color: rgba(255, 255, 178, 0.5);
}
/* Button Inshadow */

.button-inshadow {
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5);
}

.button-inshadow.button-orange {
  box-shadow: inset 0 0 20px rgba(254, 156, 0, 0.5);
}

.button-inshadow.button-blue {
  box-shadow: inset 0 0 20px rgba(178, 240, 255, 0.5);
}

.button-inshadow.button-green {
  box-shadow: inset 0 0 20px rgba(89, 255, 0, 0.5);
}

.button-inshadow.button-yellow {
  box-shadow: inset 0 0 20px rgba(255, 255, 0, 0.5);
}

/* Button Outshadow */

.button-outshadow {
  box-shadow: 0 0 20px rgba(255, 255, 255, .5);
}

.button-outshadow.button-orange {
  box-shadow: 0 0 20px rgba(254, 156, 0, .5);
}

.button-outshadow.button-blue {
  box-shadow: 0 0 20px rgba(178, 240, 255, .5);
}

.button-outshadow.button-green {
  box-shadow: 0 0 20px rgba(89, 255, 0, 0.5);
}

.button-outshadow.button-yellow {
  box-shadow: 0 0 20px rgba(255, 255, 0, .5);
}

/* Button Infill */

.button-infill {
  background-color: rgba(128, 128, 128, .8);
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 1), inset 0 0 6em 2em rgba(0, 0, 0, .5);
  color: rgba(255, 255, 255, .8);
}

.button-infill.button-orange {
  background-color: rgba(254, 156, 0, .8);
}

.button-infill.button-blue {
  background-color: rgba(83, 181, 206, .8);
}

.button-infill.button-green {
  background-color: rgba(89, 255, 0, .7);
}

.button-infill.button-yellow {
  background-color: rgba(255, 255, 0, .8);
}

/* Clear Button */

.clear-button::after { 
  color: #c4c4c4; 
  content: "\00d7";
  font-size: 5rem;
  line-height: 100px;
  margin-left: -50px; 
}

/* Close Button */

.close-button::after {
  align-items: center;
  content: "\00d7";
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 5rem;
  height: 60px;
  justify-content: center;
  line-height: 5rem;
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
}

/* Buttons :: end *****************************************/



/* Boxes **************************************************/

.box-infill,
.box-inshadow,
.box-outline,
.box-outshadow {
  background-color: rgba(0, 0, 0, 0.8);
  border-color: rgba(255, 255, 255, 0.5);
  border-style: solid;
  border-width: 1px;
  color: #fe9c00;
  margin: 20px;
  padding: 20px;
}

.box-inshadow {
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5);
}

.box-outshadow {
  box-shadow: 0 0 20px rgba(255, 255, 255, .5);
}

.box-infill {
  background-color: rgba(128, 128, 128, .8);
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 1), inset 0 0 6em 2em rgba(0, 0, 0, .5);
  color: rgba(255, 255, 255, .8);
}

.box-header {
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-color: inherit;
  color: inherit;
  margin: -20px -20px 10px;
  padding: 20px;
}

.box-title {
  color: inherit;
  margin: 0;
}

.box-content {
  margin: -20px;
  padding: 20px;
}

/* Yellow */

.box-yellow,
.box-in-yellow,
.box-out-yellow {
  border-color: rgba(255, 255, 178, 0.5);
  color: #FFFFb2;
}

.box-in-yellow {
  box-shadow: inset 0 0 20px rgba(255, 255, 0, 0.5);
}

.box-out-yellow {
  box-shadow: 0 0 20px rgba(255, 255, 0, 0.5);
}

.box-infill-yellow {
  background-color: rgba(255, 255, 0, .8);
}

/* Orange */

.box-orange,
.box-in-orange,
.box-out-orange {
  border-color: rgba(254, 156, 0, .5);
  color: #FE9C00;
}

.box-in-orange {
  box-shadow: inset 0 0 20px rgba(254, 156, 0, .5);
}

.box-out-orange {
  box-shadow: 0 0 20px rgba(254, 156, 0, .5);
}

.box-infill-orange {
  background-color: rgba(254, 156, 0, .8);
}

/* Blue */

.box-blue,
.box-in-blue,
.box-out-blue {
  border-color: rgba(178, 240, 255, .5);
  color: #b2f0ff;
}

.box-in-blue {
  box-shadow: inset 0 0 20px rgba(178, 240, 255, .5);
}

.box-out-blue {
  box-shadow: 0 0 20px rgba(178, 240, 255, .5);
}

.box-infill-blue {
  background-color: rgba(83, 181, 206, .8);
}

/* Green */

.box-green,
.box-in-green,
.box-out-green {
  border-color: rgba(205, 255, 178, 0.5);
  color: #cdffb2;
}

.box-in-green {
  box-shadow: inset 0 0 20px rgba(205, 255, 178, .5);
}

.box-out-green {
  box-shadow: 0 0 20px rgba(205, 255, 178, .5);
}

.box-infill-green {
  background-color: rgba(89, 255, 0, .7);
}

/* Boxes :: end *******************************************/



/* Switches ***********************************************/

.switch {
  margin: 20px;
}

/* Sizes for switches */

.switch-xsmall {
  height: 50px;
  width: 100px;
}

.switch-small {
  height: 75px;
  width: 150px;
}

.switch-medium {
  height: 105px;
  width: 210px;
}

.switch-large {
  height: 150px;
  width: 300px;
} 

/* Switch Plate (long background hexagon) */

.switch-plate {
  align-items: center;
  background-repeat: no-repeat;
  background-size: 100%;
  box-sizing: border-box;
  display: flex;
  height: 100%;
}

/* On/Off Styles for Switch Plate */

.off .switch-plate {
  background-image: url('../images/switchplate_off.svg');
  justify-content: flex-start;
  padding-left: 10%;
  padding-right: 0 !important;
}

.on .switch-plate {
  background-image: url('../images/switchplate_on.svg');
  justify-content: flex-end;
  padding-left: 0 !important;
  padding-right: 10%;
}

/* Switch Control (hexagon) */

.switch-control {
  background-image: url('../images/switchcontrol.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 80%;
  width: 50%;
} 

.switch-xsmall .switch-control {
  -webkit-filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.35));
}

.switch-small .switch-control {
  -webkit-filter: drop-shadow(4px 4px 4px rgba(0,0,0,0.35));
}

.switch-medium .switch-control {
  -webkit-filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.35));
}

.switch-large .switch-control {
  -webkit-filter: drop-shadow(8px 8px 8px rgba(0,0,0,0.35));
}

/* Switches :: end ****************************************/



/* Forms **************************************************/ 

/* Text Inputs */

.text-input {
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
  color: rgba(255, 255, 255, .8);
  font-size: 3rem; 
  margin: 10px;
  padding: 20px;
}

input,
textarea,
.text-input {
  font-family: inherit;
}

::-webkit-input-placeholder,
::-moz-placeholder {
   color: #444;
}

label {
  text-transform: uppercase;
  color: #fe9c00;
  display: block;
}

label,
.text-input {
  margin: 10px;
}

.text-input:focus {
  outline: none;
  color: white;
  box-shadow: 0 0 20px rgba(255,255,255,.8);
}

/* Input Group */
/* A wrapper for grouping input fields, labels and other 
   form content. Best used on unstyled block elements (eg. div) */ 

.input-group {
  display: flex;
  justify-content: space-between;
}

.input-group label {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  text-align: right;
} 

.input-group label.left-label {
  justify-content: flex-start;
}

.input-group .text-input { 
  flex: 2;
}

/* Colorized text inputs*/

.input-yellow {
  color: rgba(255, 255, 178, .8);
}

.input-yellow:focus {
  color: #ffffb2;
  box-shadow: 0 0 20px rgba(255, 255, 178, .8); 
}

.input-blue {
  color: rgba(178, 240, 255, .8);
}

.input-blue:focus {
  color: #b2f0ff;
  box-shadow: 0 0 20px rgba(178, 240, 255, .8);
}

.input-green {
  color: rgba(205, 255, 178, 0.8);
}

.input-green:focus {
  color: #cdffb2;
  box-shadow: 0 0 20px rgba(205, 255, 178, 0.8);
}

.input-orange {
  color: rgba(255, 211, 140, 0.8);
}

.input-orange:focus {
  color: #ffd38c;
  box-shadow: 0 0 20px rgba(255, 211, 140, 0.8);
}

/* Forms :: end *******************************************/ 



/* Sliders ************************************************/

/* Slider Resets */

/* Hides the slider so that custom slider can be made */
.slider-input {
  -webkit-appearance: none;
}

/* Hides the slider thumb so that custom thumb can be made */
.slider-input::-webkit-slider-thumb {
  -webkit-appearance: none;
}

/* Removes the blue accessibility border. */
.slider-input:focus {
  outline: none;
}

/* Slider Styles */

/* Font-size required: Base size for scalability */
.slider-input {
  background: transparent;
  cursor: pointer;
  flex: 1;
  font-size: 4em;
  line-height: 0;
  margin: 0;
  overflow:hidden;
  position: relative;
}

/* The slider handle (thumb) */

.slider-input::-webkit-slider-thumb {
  font-size: 2em;
  overflow: visible;
  position:relative;
}

/* The slider track (background) */

.slider-input::-webkit-slider-runnable-track {
  background-color: #222;
  box-shadow: inset 0 0 0 .125em rgba(110, 110, 110,.25),
              inset 0 0 .5em .125em rgba(0, 0, 0, .5);
}

/* The slider level indicator bar */

.slider-input::-webkit-slider-thumb:after{
  background: rgba(178, 240, 255, 1);
  box-shadow: inset .125em .125em .5em rgba(255, 255, 255, .6),
              inset -1em -1em .125em -1em rgba(0, 0, 0, .5);
  content:" ";
  position:absolute;
}

/* Direction-Specific Styles */

.vertical-slider,
.horizontal-slider {
  align-items: center;
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
  position: relative;
}

/* Vertical Slider Styles */

.vertical-slider {
  flex-direction: column;
}

.vertical-slider .slider-input {
  -webkit-appearance: slider-vertical;
  width: 2em;
}

.vertical-slider .slider-input::-webkit-slider-thumb:after {
  height: 100vh;
  margin: 0;
  top: 100%;
  width: .5em;
}

.vertical-slider .slider-input::-webkit-slider-thumb:before {
  -webkit-filter: drop-shadow(.05em .05em .05em rgba(0,0,0,.25));
  background-image: url('../images/hex_thumb_white_horz.png');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 1em;
  bottom: 0;
  content: " ";
  height: 100vh;
  margin: 0 -.5em;
  position: absolute;
  width: 1.5em;
  z-index: 1;
}

.vertical-slider .slider-input::-webkit-slider-runnable-track {
  overflow-y: visible; 
  padding-top: 1.4em;
  width: 1em;
}

/* prevents thumb from getting cropped out at ends */
.vertical-slider.thin-slider .slider-input::-webkit-slider-runnable-track {
  padding-top: 1.2em;
}

.vertical-slider.thick-slider .slider-input::-webkit-slider-runnable-track {
  padding-top: 1.5em;
}

/* Horizontal Slider Styles */

.horizontal-slider .slider-input {
  height: 2em;
  padding: .25em 0;
}

.horizontal-slider .slider-input::-webkit-slider-thumb {
  -webkit-filter: drop-shadow(.05em .05em .05em rgba(0,0,0,.25));
  background-image: url('../images/hex_thumb_white_vert.png');
  background-repeat: no-repeat;
  background-size: .85em;
  background-position: center;
  height: 1em;
  margin: -.25em 0;
  width: .85em;
}

.horizontal-slider .slider-input::-webkit-slider-thumb:after {
  height: .5em;
  margin: .25em 0;
  right: 100%;
  width: 100vw;
}

.horizontal-slider .slider-input::-webkit-slider-runnable-track {
  height: 1em;            
}

/* Weight-Specific Slider Styles */

.thin-slider {
  font-size: .5rem;
}

.thick-slider {
  font-size: 1.5rem;
}

.thin-slider .slider-input {
  flex-basis: 90%;
}

.thick-slider .slider-input {
  flex-basis: 75%;
}

/* Button slider Styles */

.slider-button {
  align-items: center;
  -webkit-animation: bounceInDown 900ms 200ms ease-in-out both;
  animation: bounceInDown 900ms 200ms ease-in-out both;
  background: linear-gradient(#db9604, #915a00);
  border: 1px solid rgba(255, 255, 255, .4);
  box-shadow: inset 0px 0px 2px 1px #5a3800;
  display: flex;
  font-size: 4em;
  height: 40px;
  justify-content: center;
  text-align: center;
  text-shadow: 1px 1px 3px #444;
  width: 40px;
}

.button-slider .slider-input {
  flex: 0 0 82.5%;
}

.less-button::after {
  content: "\02212";
}

.more-button::after {
  content: "\0002b";
}

.less-button::after,
.more-button::after {
  color: white;
  font-size: 1em;
}

/* Weight-Specific Button Slider Styles */


.button-slider.thin-slider .slider-input {
  flex: 0 0 90%;
}

.button-slider.thick-slider .slider-input {
  flex: 0 0 75%;
}

.thin-slider .slider-button {
  height: 20px;
  width: 20px;
}

.thick-slider .slider-button {
  height: 60px;
  width: 60px;
}

/* Sliders :: end *****************************************/



/* Tabs ***************************************************/

.tabs-component {
  display: flex;
  flex-direction: column;
}

.tabs-labels {
  border-bottom: 1px solid rgba(0,0,0,.25);
  display: flex;
  flex: 1;
  margin-bottom: 1em;
  z-index: 1;
}

.tab-item {
  border-radius: 40px;
  color: rgba(0,0,0,.5);
  flex: 1;
  padding: 5px 0;
  margin-bottom: 10px;
  text-align: center;
}

.tab-item:not(:last-child) {
  margin-right: 10px;
}

.tab-item.active {
  background-color: rgba(0,0,0,.25);
  color: rgba(0,0,0,.8);
  text-shadow: 1px 1px 0 rgba(255,255,255,.5);
}

.tabs-content {
  z-index: 0;
}

/* Tabs :: end ********************************************/



/* Touch Behavior *****************************************/

/* Prevents scrolling and zooming where not specified */
html,
input,
textarea {
  touch-action: none;
}

/* Allows vertical and horizontal scrolling where specified 
   for lists */
ul, ol {
  touch-action: pan-x pan-y;
}

/* Touch Behavior :: end **********************************/



/* Scrolling Content **************************************/

/* Scrolling is disabled by default on all but list elements. */

/* Scrollbar classes */

.scrollbar-x { 
  overflow-x: auto;
  touch-action: pan-x;
  white-space: nowrap;
} 

.scrollbar-y {
  overflow-y: auto;
  touch-action: pan-y;
}

.scrollbar-xy {
  overflow: auto;
  touch-action: pan-x pan-y;
}

/* Scrollable classes */

.scrollable-x { 
  overflow-x: auto; 
  touch-action: pan-x;
  white-space: nowrap;
}

.scrollable-y {
  overflow-y: auto;
  touch-action: pan-y;
}

.scrollable-xy {
  overflow: auto;
  touch-action: pan-x pan-y;
}

.scrollable-x::-webkit-scrollbar,
.scrollable-y::-webkit-scrollbar,
.scrollable-xy::-webkit-scrollbar {
  -webkit-appearance: none;
}

/* Custom Scrollbar Styling */

.scrollbar-x::-webkit-scrollbar,
.scrollbar-y::-webkit-scrollbar,
.scrollbar-xy::-webkit-scrollbar {
  -webkit-appearance: none; 
  width: 20px;
  height: 20px;
}

.scrollbar-x::-webkit-scrollbar-track, 
.scrollbar-y::-webkit-scrollbar-track, 
.scrollbar-xy::-webkit-scrollbar-track {
  -webkit-appearance: none; 
  background-color: transparent;
  box-shadow: inset 0 0 .5em .125em rgba(0,0,0,.5);
}

.scrollbar-x::-webkit-scrollbar-thumb,   
.scrollbar-y::-webkit-scrollbar-thumb,   
.scrollbar-xy::-webkit-scrollbar-thumb {   
  -webkit-appearance: none;
  border: 5px solid transparent;
  border-radius: 10px; 
}

.scrollbar-x::-webkit-scrollbar-thumb,   
.scrollbar-xy::-webkit-scrollbar-thumb:horizontal {
  background:linear-gradient(to bottom, rgba(254, 156, 0, .8), rgba(254, 156, 0, .5));  
  background-clip: content-box;
}

.scrollbar-y::-webkit-scrollbar-thumb,   
.scrollbar-xy::-webkit-scrollbar-thumb:vertical {
  background:linear-gradient(to right, rgba(254, 156, 0, .8), rgba(254, 156, 0, .5));  
  background-clip: content-box;
}

.scrollbar-x::-webkit-scrollbar-button, 
.scrollbar-y::-webkit-scrollbar-button, 
.scrollbar-xy::-webkit-scrollbar-button {
  -webkit-appearance: none;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset .1em .1em .25em rgba(126,126,126,.1), inset -.1em -.1em .25em rgba(0,0,0,.2);
}

.scrollbar-x::-webkit-scrollbar-button,
.scrollbar-xy::-webkit-scrollbar-button:horizontal {
  background-size: 6px 10px;
}

.scrollbar-y::-webkit-scrollbar-button,
.scrollbar-xy::-webkit-scrollbar-button:vertical {
  background-size: 10px 6px;
}

.scrollbar-x::-webkit-scrollbar-button:start,
.scrollbar-xy::-webkit-scrollbar-button:horizontal:start {
  background-image: url('../images/scroll_button_left_arrow_white.png');
}

.scrollbar-x::-webkit-scrollbar-button:end,
.scrollbar-xy::-webkit-scrollbar-button:horizontal:end {
  background-image: url('../images/scroll_button_right_arrow_white.png');
}

.scrollbar-y::-webkit-scrollbar-button:start,
.scrollbar-xy::-webkit-scrollbar-button:vertical:start {
  background-image: url('../images/scroll_button_up_arrow_white.png');
}

.scrollbar-y::-webkit-scrollbar-button:end,
.scrollbar-xy::-webkit-scrollbar-button:vertical:end {
  background-image: url('../images/scroll_button_down_arrow_white.png');
}

.scrollable-x::-webkit-scrollbar-corner,  
.scrollable-y::-webkit-scrollbar-corner,  
.scrollable-xy::-webkit-scrollbar-corner {
  -webkit-appearance: none;
}

.scrollbar-x::-webkit-scrollbar-corner,  
.scrollbar-y::-webkit-scrollbar-corner,  
.scrollbar-xy::-webkit-scrollbar-corner {  
  -webkit-appearance: none;
  background-color: transparent;
  box-shadow: inset 0 0 .5em .125em rgba(0,0,0,.5);
}

/* Scrolling Content :: end *******************************/



/* Modifiers **********************************************/ 

/* Modifiers should stay at the bottom of the CSS document */

.hidden {
  display: none;
}

.borderless {
  border: none;
}

/* Positions within the first positioned parent */
.z-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.no-margin {
  margin: 0;
}

.left {
  float: left;
}

.left-align {
  text-align: left;
}

.right {
  float: right;
}

.right-align {
  text-align: right;
}

.center {
  text-align: center;
}

/* Flex Modifiers */

.flex-parent {
  display: flex;
}

.flex-item {
  flex: 1;
}

.flex-item-2 {
  flex: 2;
}

.flex-item-3 {
  flex: 3;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.flex-column-center {
  flex-direction: column;
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}