* {
    font-family: Lucida Sans, Arial, Helvetica, sans-serif;
}

html, body, iframe  {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
}                  
body{
	font: 14px/19px Tahoma,Geneva,sans-serif;
	background-color:black;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
} 

body, select, input, textarea {   color: #444; }

html { overflow-y: hidden; }

#overlay{
	position:absolute;
	top:80px;
	width:1000px;
	padding:40px;
	align:center;
	color:#FFFFFF;
	font-weight:bold;
	background:none;
}
.DNAfence{
	margin-top:15px;
}
.DNAfence, .DNAtitle, .DNAtemp, .DNAwidget{
	background:none;
}
.tabs{
	width:1080px !important;
	height:1920px;
}
.tabsTabs{
	width:1080px !important;
}
.tabsTabClear{
	width:870px !important;
}
.tabsTopPanel{
	background-size:1080px 110px;
}
.tabsCloseButton{
	position:absolute;
	top:0px;
	right:0px;
	width:42px !important;
	height:42px !important;
	margin:32px 43px;
	background-image: url('../DNA_common/images/bt_close.png');
}
.HSAGWHeading{
	text-transform:uppercase;
	margin:0 0 47px 0;
}
#weather{
	height:60px;
	width:100px;
	text-align:center;
	display:inline-block;
	vertical-align:middle;
}
#weather img{
	margin-top:20px;
}
#overlay,#lefties,#righties{
	height:0px;
}
#lefties{
	float:left;
}
#righties{
	float:right;
	text-align:right;
}
#speedo,#condition{
	color:#00BFF3;
}
#homeScrSpeed{
	font-size:75px;
	line-height:77px;
	float:left;
}
#sector7SpeedUnits{
	float:left;
	margin-top:45px;
	margin-left:10px;
}
#clock{
	font-size:62px;
	line-height:64px;
}
#date,#batteryStatus{
	font-size:35px;
	line-height:37px;
}
.DNAtemp{
	font-size:45px;
	line-height:47px;
}
.DNAtitle{
	font-size:22px;
	line-height:24px;
}

.shadowStd
{	
	border: 1px solid white;
	background: rgba(0, 0, 0, 0.8);
   -webkit-box-shadow: inset 0 0 43px rgb(179, 227, 255);
   box-shadow:         inset 0 0 43px rgb(179, 227, 255);
   }
.shadowSmall
{	
	border: 1px solid white;
	background: rgba(0, 0, 0, 0.9);
   -webkit-box-shadow: inset 0 0 20px rgb(179, 227, 255);
   box-shadow:         inset 0 0 20px rgb(179, 227, 255);
	
}

#Particle{
	display:block;
	position:relative;
	margin-top:-25px;
	z-index:-1;
}
#Particle2{
	display:block;
	position:relative;
	margin-top:-25px;
	z-index:-1;
}
#controls
{
	position:fixed;	
	background-color:#EEEEEE;
	border: 1px solid #E1E0AF;
			z-index:60;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px
}
#controls .controlGroup
{
	float:left;
	clear:both;
}
#controls .title
{
	float:left;
	clear:both;
}
#controls .controlGroup *
{
	float:left;
	clear:both;
}
#controls .slider 
{
	float:none;
	margin-left: auto;
	margin-right: auto;
	clear:both;
}
#share {
	background-color: #EEEEEA;
	border: 1px solid #E1E0AF;
	padding: 8px;
	position: fixed;
	right: 25px;
	top: 25px;
	z-index:60;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}
#btnShare
{
	float:left;
}
#canvasContainer
{
	height:1920px;
	display:block; 
	z-index:3;
	background-color:#000;
	text-align:center;
}
#controls .about
{
	margin: 0px 10px 10px;
	font-size:1.2em;
	float:right;
}
#controls .about span
{
	float:right;
}
#controls .about a
{
	float:none;
}
#helpPanel
{
	margin-right: 10px;
	margin-top: 10px;
	float:right;
	position: relative;
	padding: 0 0 15px 5px;
}
#helpInfo {
	width:250px; 
	position:absolute; 
	left: 10px; 
	top: 0;
	background: none repeat scroll 0 0 #FFFECF;
	border: 1px solid;
	padding:10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#helpPanel #helpInfo
{
	display:none;
}
#helpPanel:hover #helpInfo
{
	display:block;
}
#imgHelp
{
	width:16px;
	height:16px;
}

.title h2, .title h4
{
	margin:2px 0px;
}

body {
    margin: 0px auto;
}

header h1 {
    font-size: 36px;
    margin: 0px;
}

header h2 {
    font-size: 18px;
    margin: 0px;
    color: #888;
    font-style: italic;
}

nav ul {
    list-style: none;
    padding: 0px;
    display: block;
    clear: right;
    background-color: #666;
    padding-left: 4px;
    height: 24px;
}

nav ul li {
    display: inline;
    padding: 0px 20px 5px 10px;
    height: 24px;
    border-right: 1px solid #ccc;
}

nav ul li a {
    color: #EFD3D3;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
}

nav ul li a:hover {
    color: #fff;
}

article > header h1 {
    font-size: 20px;
    margin-left: 14px;
}

article > header h1 a {
    color: #993333;
}

article > header h1 img {
    vertical-align:middle;
}

article > section header h1 {
    font-size: 16px;
}

article p {
    clear: both;
}

footer p {
    text-align: center;
    font-size: 12px;
    color: #888;
    margin-top: 24px;
}

/*----------------------------*/

#topBarIcons {
	width: 1078px;
	height: 114px;
	position: absolute;
	left: 0;
	z-index:4;
}
#topBarIcons div{
	width:112px;
	height:112px;
	float:left;
	background-size:112px 112px;
	margin-left:4px;
}
#backicon{
	position: absolute;
	left:0;
	top: 0;
	margin: 20px 0 0 20px;
}
#gridicon{
	float:right;
	margin: 10px 20px 0 0;
	height:85px;
	width:85px;
}
.appIconNo7{
	height:89px !important;
	width:89px !important;
	background-size:87px 87px !important;
	margin-top:12px;
}

	#homeScrAppGridView{
		display:none;
		position:absolute;
		top:0px;
		padding:32px;
		padding-top:64px;
		width:1014px;
		height:1854px;
		z-index:5;
		font-size:20px;
		overflow-x:hidden;
		overflow-y:scroll;
	}
	.HSAGWHeading{
		color:white !important;
		font-size:40px;
	}
	.exitButton{
		margin-top:64px;
		margin-right:72px;
	}
	.homeScrAppGridFrame{
		width:196px;
		height:196px;
		background-color:rgba(0,0,0,0.2);
		float:left;
		margin:3px;
		text-align:center;
	}
	.homeScrAppImg{
		width:200px;
	}
	.homeScrAppGridImg img{
		margin-top:40px;
		height:100px;
	}
	#hexes {
		margin-top:100px;
	}
	.hexrow {
		white-space: nowrap;
		/*right/left margin set at (( width of child div x sin(30) ) / 2) makes a fairly tight fit; a 3px bottom seems to match*/
		margin: 0 25px 3px; 
	}
	.hexrow > div {
		width: 99px;
		height: 173.2px; /* ( width x cos(30) ) x 2 */
		/* For margin:
		right/left = ( width x sin(30) ) makes no overlap 
		right/left = (( width x sin(30) ) / 2) leaves a narrow separation
		*/
		margin: 30px 43px; 
		position: relative;
		background-image: url('../DNA_common/images/AppHex.png');
		background-position: -50px 0px; /* -left position -1 x width x sin(30) */
		background-repeat: no-repeat;
		background-size: auto 100%;
		color: white;
		text-align: center;
		line-height: 173.2px; /*equals height*/
		display: inline-block;
		vertical-align:middle;
	}
	.hexrow > div:nth-child(odd) {
		top: -44.8px; /* -1 x( ( width x cos(30) / 2) + (hexrow bottom margin / 2)) */ 
	}
	.hexrow > div:nth-child(even) {
		top: 73.3px; /* ( width x cos(30) / 2 ) */
	}
	.hexrow > div > div:first-of-type {
		position: absolute;
		width: 100%;
		height: 100%; 
		top: 0;
		left: 0;
		z-index: -1;
		overflow: hidden;
		background-image: inherit;
		
		-ms-transform:rotate(60deg); /* IE 9 */
		-moz-transform:rotate(60deg); /* Firefox */
		-webkit-transform:rotate(60deg); /* Safari and Chrome */
		-o-transform:rotate(60deg); /* Opera */
		transform:rotate(60deg);
	}
	.hexrow > div > div:first-of-type:before {
		content: '';
		position: absolute;
		width: 200px; /* width of main + margin sizing */
		height: 100%;
		background-image: inherit;
		background-position: 0 0;
		background-repeat: no-repeat;
		background-size: auto 100%;
		bottom: 0;
		left: 0;
		z-index: 1;
		
		-ms-transform:rotate(-60deg) translate(-150px, 0); /* IE 9 */
		-moz-transform:rotate(-60deg) translate(-150px, 0); /* Firefox */
		-webkit-transform:rotate(-60deg) translate(-150px, 0); /* Safari and Chrome */
		-o-transform:rotate(-60deg) translate(-150px, 0); /* Opera */
		transform:rotate(-60deg) translate(-150px, 0);
		
		-ms-transform-origin: 0 0; /* IE 9 */
		-webkit-transform-origin: 0 0; /* Safari and Chrome */
		-moz-transform-origin: 0 0; /* Firefox */
		-o-transform-origin: 0 0; /* Opera */
		transform-origin: 0 0;
	}
	.hexrow > div > div:last-of-type {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -2;
		overflow: hidden;
		background-image: inherit;
		
		-ms-transform:rotate(-60deg); /* IE 9 */
		-moz-transform:rotate(-60deg); /* Firefox */
		-webkit-transform:rotate(-60deg); /* Safari and Chrome */
		-o-transform:rotate(-60deg); /* Opera */
		transform:rotate(-60deg);
	}
	.hexrow > div > div:last-of-type:before {
		content: '';
		position: absolute;
		width: 200px; /* starting width + margin sizing */
		height: 100%;
		background-image: inherit;
		background-position: 0 0;
		background-repeat: no-repeat;
		background-size: auto 100%;
		bottom: 0;
		left: 0;
		z-index: 1;
		
		/*translate properties are initial width (100px) and half height (173.2 / 2 = 86.6) */
		-ms-transform:rotate(60deg) translate(100px, 86.6px); /* IE 9 */
		-moz-transform:rotate(60deg) translate(100px, 86.6px); /* Firefox */
		-webkit-transform:rotate(60deg) translate(100px, 86.6px); /* Safari and Chrome */
		-o-transform:rotate(60deg) translate(100px, 86.6px); /* Opera */
		transform:rotate(60deg) translate(100px, 86.6px);
		
		-ms-transform-origin: 100% 0; /* IE 9 */
		-webkit-transform-origin: 100% 0; /* Safari and Chrome */
		-moz-transform-origin: 100% 0; /* Firefox */
		-o-transform-origin: 100% 0; /* Opera */
		transform-origin: 100% 0;
	}
	.hexrow > div > span {
		vertical-align: middle;
		white-space: normal; 
	}
	.homeScrAppGridImg{
		position:absolute;
		left:0px;
		top:-20px;
	}
	.homeScrAppGridTitle{
		position:relative;
		top:40px;
	}
	.homeScrAppGridCategory{
		display:none;
	}

#bottomPanel{
	width: 1078px;
	height: 139px;
	position: fixed;
	bottom: 0px;
	left: 0;
	z-index:4;
}
#settingsicon{
	margin-left:21px;
	height:85px;
	width:85px;
}
	#settingsMenu{
		Height: 800px;
		width: 117px;
		position: fixed;
		bottom: 140px;
		left: 0;
		display:none;
		border: 1px solid white;
		box-shadow: 0 0 36px rgba(196, 196, 196, 1) inset;
	}
	#settingsMenu img{
		border-bottom:1px solid white;
	}
	#closeApp{
		bottom:0px;
		border:0px !important;
		position:absolute;
	}
#bottomPanelLogoImg{
	width:400px;
	height:100px;
	margin: 16px 0 0 215px;
}
#volume{
	float:right;
	margin:50px 31px 0 0;
}
	#volumeSlideCrop, #volumeKnob, #volumeSlider{
		position:absolute;
	}
	#volumeChannel, #volumeIndicator2, #volumeKnob{
		pointer-events: none;
	}
	#volume,#volumeSlider,#volumeSlideCrop{
		width:210px;
	}
	#volumeChannel,#volumeSlider{
		height:896px;
	}
	#volume{
		height:60px;
		background-image:url('../DNA_common/images/VolBckgrnd.png');
	}
	#volumeSlider{
		display:none;
		bottom:250px;
		right:25px;
		background-image:url('../DNA_common/images/VolSlideBckgrnd.png')
	}
	#VolLabel{
		font-weight:bold;
		font-size:32px;
		margin-left:45px;
		line-height:60px;
		color:white !important;
	}
	#volumeSlideCrop{
		height:60%;
		bottom:6px;
		overflow:hidden;
	}
	#volumeKnob{
		left:30px;
		top:282px;
	}
	#volumeKnob img{
		width:100px;
		margin: 25px 0 0 25px;
	}
	#volumeIndicator2{
		width:209px;
	}
	#volumeCrop{
		height:60px;
		width:60%;
		overflow:hidden;
	}
