.messageWrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1000;
	display: none;
	top: 0;
	left: 0;
}

.messageCloseButton {
	position: absolute;
	top: 0;
	right: 0;
	background-repeat: no-repeat;
	background-position: center;
	width: 92px;
	height: 92px;
	z-index: 1;
}

.messageCloseButton {
	position: absolute;
	top: 1px;
}

.messageTitle {
	height: 92px;
	margin-left: 25px;
	display: -webkit-box;
	-webkit-box-align: center;
	width: 578px;
}

.messageDescriptionWrapper {
	width: 100%;
	height: 1188px;
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
}

.messageDescription {
	width: 700px;
	text-align: center;
}

.popupMessageWrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1000;
	display: none;
	top: 0;
	left: 0;
}

.popupMessageWrapperCenter {
	width: 100%;
	height: 100%;
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	z-index: -1;
}

.popupMessage {
	width: 360px;
	padding: 30px 20px;
	text-align: center;
	z-index: -1;
}