.iconBackBrowser {
	background-image: url("images/browser/icon_back_blue.png");
}
.backButtonBrowser:active .iconBackBrowser {
	background-image: url("images/browser/icon_back_enabled_blue.png");
}
.iconBackBrowser_noHover {
	background-image: url("images/browser/icon_back_blue.png");
}
.iconForwardBrowser {
	background-image: url("images/browser/icon_forward_blue.png");
}
.forwardButtonBrowser:active .iconForwardBrowser {
	background-image: url("images/browser/icon_forward_enabled_blue.png");
}
.iconForwardBrowser_noHover {
	background-image: url("images/browser/icon_forward_blue.png");
}
.iconReloadBrowser {
	background-image: url("images/browser/icon_reload_blue.png");
}
.reloadButtonBrowser:active .iconReloadBrowser{
	background-image: url("images/browser/icon_reload_enabled_blue.png");
}
.iconSearchBrowser {
	background-image: url("images/browser/GO_Btn_Blu.png");
}
.iconHomeBrowser {
	background-image: url("images/browser/icon_home_blue.png");
}
.homeButtonBrowser:active .iconHomeBrowser{
	background-image: url("images/browser/icon_home_enabled_blue.png");
}

.toolbarBrowserBackground {
	background-image: url("images/browser/backgroundTopbar.png");
}
/*Browser */
.historyBoxElementBackground:active{
	background-color: rgb(0, 171, 255);
	background-color: rgba(0, 171, 255, 0.8);
}
.browserButton .boxShadowInset:hover, .tabBar .boxShadowInset:hover, .browserButton .boxShadowInset:active, .tabBar .boxShadowInset:active {
	box-shadow: 0 0 2px 2px #1DA2FF inset;
}

.browserContent::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

.browserContent::-webkit-scrollbar-corner {
	background-color: rgb(6, 36, 55);
}

.browserContent::-webkit-scrollbar-track {
	background-color: rgb(6, 36, 55);
}

.browserContent::-webkit-scrollbar-thumb {
	background-color: rgb(58, 174, 255);
}

.browserContent::-webkit-scrollbar-thumb:hover {
	background-color: rgb(0, 171, 255);
	border: 2px solid #C7C7C7;
}