<img id="settingsIcon" onclick="loadSettings();" src="./DNA_common/images/Settings_carot.png" width="120px" height="90px">
<div id="settingsMenu">
	<img id="settingBlu" src="./DNA_common/images/BluTooth_On.png" onclick="launchApplication('http://com.intel.tizen/settings');Settings.openSetting({id:'bluetooth'});">
	<img id="settingNet" src="./DNA_common/images/WiFi_On.png" onclick="launchApplication('http://com.intel.tizen/settings');Settings.openSetting({id:'wifinetworks'});">
	<img id="settingTet" src="./DNA_common/images/Tether_Off.png" onclick="launchApplication('http://com.intel.tizen/settings');Settings.openSetting({id:'wifitethering'});">
	<!--<img id="settingRvi" src="./DNA_common/images/RVI_Icon.png" onclick="launchApplication('http://com.intel.tizen/settings');Settings.openSetting({id:'rvi'});">-->
	<img id="settingMenu" src="./DNA_common/images/icongear.png" width="117px" height="117px" onclick="launchApplication('http://com.intel.tizen/settings');Settings.openSetting({id:'settingsmenu'});">
</div>
