.tabs {
	position: absolute;
	left: 0;
	top: 0;
	width: 720px;
	min-height: 1280px;
	z-index: 100;
	display: none;
}

.tabsTopPanel {
	margin: 0;
	padding: 0;
	height: 110px;
	background-repeat: no-repeat;
	background-position: left top;
	z-index: 1;
}

.tabsTopPanel .tabsTopPanelTitle {
	position: absolute;
	left: 30px;
	top: 19px;
	font-size: 0;
}

.tabsCloseButton {
	position: absolute;
	top: 0;
	right: 0;
	background-repeat: no-repeat;
	background-position: center;
	width: 92px;
	height: 92px;
	z-index: 1;
}

.tabsCloseButton:active {
	position: absolute;
	top: 1px;
}

.tabsTabs {
	position: absolute;
	left: 15px;
	width: 705px;
	overflow: hidden;
	white-space: nowrap;
}

.tabsTab {
	float: left;
	padding-top: 33px;
	padding-left: 15px;
	padding-right: 15px;
	height: 77px;
	max-width: 220px;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
	background-repeat: repeat-x;
	background-position: center top;
	text-transform: uppercase;
}

.tabsTabSelected {
	background-repeat: no-repeat;
}

.tabsTabClear {
	display: inline-block;
	height: 110px;
	width: 705px;
	background-repeat: repeat-x;
	background-position: center top;
}

.tabsTopSubPanel {
	margin-top: -20px;
	margin-bottom: 20px;
	padding-top: 20px;
	height: 60px;
	z-index: 0;	
}

.tabsCloseSubPanelButton {
	height: 43px;
	background-repeat: no-repeat;
	background-position: left top;
	text-align: right;
	padding: 0 15px 0 35px;
	line-height: 43px !important;
	display: block;
	margin-left: 20px;
	/*vertical-align: top;*/
	cursor: pointer;
	text-transform: uppercase;
	position: absolute;
	top: 20px;
}

.tabsCloseSubPanelButton:active {
	top: 21px;
}

.tabsTopSubPanel .tabsSubPanelArea {
	margin-top: -2px;
	margin-left: 150px;
	/*vertical-align: top;*/
	display: block;
	line-height: 0;
	text-transform: uppercase;
	max-width: 330px;
	overflow: hidden;
	position: absolute;
}

.tabsContent {
	margin-left: 20px;
	margin-right: 20px;
	overflow-x: hidden;
	overflow-y: auto;
}

.tabsTopPanelTitleHint {
	float: right;
	bottom: 10px;
	right: 34px;
	z-index: 100;
	position: absolute;
	text-transform: uppercase;
}