.contactsLibraryContentList .contactElement {
	padding: 10px;
	height: 70px;
	box-shadow: none;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
}

.phoneIcon {
	background-repeat: no-repeat;
	background-position: center center;
	width: 44px;
	height: 44px;
	display: inline-block;
}

.emailIcon {
	background-repeat: no-repeat;
	background-position: center center;
	width: 44px;
	height: 44px;
	display: inline-block;
}

.addressIcon {
	background-repeat: no-repeat;
	background-position: center center;
	width: 44px;
	height: 44px;
	display: inline-block;
}

.contactsLibraryContentList .phoneIcon {
	padding-top: 23px;
}

.contactsLibraryContentList .contactPhotoBox {
	width: 70px;
	height: 70px;
	display: inline-block;
	margin-left: 22px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.contactsLibraryContentList .contactPhoto {
	width: 100%;
	height: 100%;
}

.contactsLibraryContentList .contactName {
	display: inline-block;
	vertical-align: top;
	padding-left: 18px;
	line-height: 70px;
	background-color: transparent !important;
	text-transform: uppercase;
}

.contactsLibraryContentGrid {
	line-height: 0;
}

.contactsLibraryContentGrid .contactElement {
	width: 180px;
	height: 180px;
	display: inline-block;
	margin-right: 7px;
	margin-bottom: 10px;
	cursor: pointer;
}

.contactsLibraryContentGrid .phoneIcon {
	display: none;
}

.contactsLibraryContentGrid .contactPhotoBox {
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.contactsLibraryContentGrid .contactPhoto {
	width: 100%;
	height: 100%;
}

.contactsLibraryContentGrid .contactName {
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	top: -80px;
	left: 0;
	height: 70px;
	overflow: hidden;
	text-transform: uppercase;
}

.contactDetail {
	margin-top: 48px;
}

.contactDetailBox1 {
	margin-left: 45px;
	width: 120px;
	display: inline-block;
	vertical-align: top;
}

.contactDetailPhotoBox {
	width: 120px;
	height: 120px;
	display: block;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.contactDetailPhoto {
	width: 100%;
	height: 100%;
}

.contactDetailFavorite {
	width: 48px;
	height: 48px;
	margin: 30px auto 0 auto;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.contactDetailBox2 {
	display: inline-block;
	vertical-align: top;
	margin-left: 53px;
	width: 385px;
}

.contactDetailBox3 {
	margin-bottom: 30px;
}


.contactDetailBox4 {
	margin-left: 15px;
	vertical-align: top;
	display: inline-block;
	width: 320px;
}

.missedCallIcon {
	background-repeat: no-repeat;
	background-position: center center;
	width: 42px;
	height: 36px;
	display: inline-block;
}

.missedNewCallIcon {
	background-repeat: no-repeat;
	background-position: center center;
	width: 42px;
	height: 36px;
	display: inline-block;
}

.receivedCallIcon {
	background-repeat: no-repeat;
	background-position: center center;
	width: 42px;
	height: 36px;
	display: inline-block;
}

.dialedCallIcon {
	background-repeat: no-repeat;
	background-position: center center;
	width: 42px;
	height: 36px;
	display: inline-block;
}

.callHistoryBox {
	margin-top: 20px;
	border-top-style: solid;
	border-top-width: 2px;
}

.callHistoryElement {
	padding: 18px 0 18px 0;
	box-shadow: none;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	overflow: hidden;
	white-space: nowrap;
}

.callHistoryIcon {
	padding-top: 8px;
	margin-left: 20px;
}
.callHistoryIconGen {
	top: -10px;
	background-size: 70%;
}

.callHistoryDetails {
	display: inline-block;
	vertical-align: top;
}
