.contact-list-wrapper{
width: 100%;
list-style: none;
height: 93%;
overflow-y: scroll;
overflow-x: hidden;
position: absolute;
top: 115px;
padding:0 24px;
z-index: 2;
box-sizing:border-box;
display: flex;
background: url("../DNA_common/images/Hex-Background.jpg") no-repeat 0 0 #000;
}

.open-contact-list {
	background: url("../images/contact_picture_blue.png") no-repeat 50% 50%;
	background-size: 83%;
	width: 100px;
	box-shadow: none;
	border: none;
}
.push-left-65{margin-left:65px;}

.fa-users{
	color:#fe9c00;
	margin-bottom:20px;
}
.fa-users span, .fa-list span, .fa-star span, .fa-th span {
	padding-left:15px;
	color:#fff;
}

.fa-star{
	color: #53b5ce;
	margin-bottom:34px;
 }

.fa-list{
	color: #53b5ce;
	margin-bottom:34px;
 }

.fa-th {
}

.nav-filter-btns {
	font-weight:bold;
	font-size: 2rem;
}

.dk-grey {
	color:#666;
}

.contactsLibraryFilter {
margin: 0;
padding: 10px 20px 0 15px;
position: absolute;
display: flex;
flex-wrap: wrap;
width: 13%;
height: 47%;
justify-content: space-between;
align-items: flex-end;
}

.sort-filter-heads {
	border-bottom: 6px solid #000;
	padding-bottom: 15px;
}

.contactsLibraryFilter li {
	list-style-type: none;
	height:55px;
}

.contact-btn {
margin:	20px 0 0 35px;
}

.contact-btn span {
	padding-left:1.2rem;
}

#contact-filtering-controls {
	display:flex;
	flex-direction:column;
	width:300px;
	font-size:2.5rem;
	background-color:rgba(34, 34, 34, .9);
	padding:20px;
}

.contactsCarousel::-webkit-scrollbar, .contact-list-wrapper::-webkit-scrollbar, .contactList::-webkit-scrollbar  {
	display:none;
}

.visibility-hidden{
	visibility:hidden;
}
.visibility-visible{
	visibility:visible;
}

.contactList {
	margin-top:0;
	flex-wrap: wrap;
	list-style: none;
	overflow-y: scroll;
	overflow-x: hidden;
	flex:1;
}
.contactElement {
width: 29%;
padding: 0 0 12px;
margin-bottom: 40px;
border-bottom: 1px solid white;
display: inline-flex;
flex-direction: column;
flex: 1;
justify-content: space-between;
}

.contactName {
overflow: hidden;
text-overflow: ellipsis;
word-wrap: break-word;
white-space: normal;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 2;
font-weight: bold;
font-size: 3.5rem;
height: 95px;
flex: 2;
}

.contact-name-number-flex-wrap {
	display: flex;
	flex-direction: column;
}
.phone-type-mobile, .phone-type-home, .phone-type-work {
	flex:1;
}

.contactPhotoBox {
	margin: 0 auto;
	width: 130px;
}


.hidden {
	display: none;
}
.fa.fa-phone, .fa.fa-home, .fa.fa-briefcase {
font-size:22px /*I know, pixels... but once templates are in place, we'll see */
}

.phone-type-mobile, .phone-type-home {margin-bottom:12px;}

.fa-briefcase span {padding-left:13px;color:#53b5ce;}
.fa-phone span {padding-left:18px;color:#53b5ce;}
.fa-home span {padding-left:14px;color:#53b5ce;}

body {display:block;}

.phoneBody {
	display: flex;
}

.callBoxHidden {
	display:none;
}

.phone-interface-wrapper{position:relative; width:334px;margin:10% auto 35%;}

.input-phone-number-box {
	position: relative;
	border: thin rgba(255,255,255, 0.5) solid;
}
div.numbersBox .numberButton {
	font-size: 40px;
	line-height: 40px;
}
.hide-element{
	display:none;
}

input#inputPhoneNumber {
	font-size:30px;
}
.callHistoryDetails {
	font-size:14px;
}

.input-phone-number {
height: 75px;
border: none;
background-color: rgba(0, 0, 0, 0.2);
color: rgb(196,196,196);
position: relative;
padding: 0 12px;
/* width: 311px;*/
color: rgba(255, 255, 255, .8);
box-shadow: inset 0 0 20px rgba(0, 0, 0, 1), inset 0 0 6em 2em rgba(0, 0, 0, .5);
border-color: rgba(255, 255, 255, 0.9);
border: 2px;
}

.box-infill-blue {
background-color: rgba(83, 181, 206, .8);
}

.box-infill {
border-width: 1px;
border-style: solid;
border-color: rgba(255, 255, 255, 0.5);
color: rgba(255, 255, 255, .8);
box-shadow: inset 0 0 20px rgba(0, 0, 0, 1), inset 0 0 6em 2em rgba(0, 0, 0, .5);
}

.inputPhoneNumber:focus {
	outline: none;
}
.date-of-call-missed {
font-size:14px;
}

.input-phone-number-box .delete-button {

	position: absolute;
	top: 13px;
	right: 13px;
	padding: 0;
	width: 55px;
	height: 47px;
	background-position: center center;
	background-repeat: no-repeat;
	cursor: pointer;
	background-color: rgba(83, 181, 206, .4);
	color:#c4c4c4;
	font-size: 30px;
	line-height:1.6;
	text-align: center;
}

.close-contacts {
	position: absolute;
	top: 13px;
	right: 13px;
	padding: 0;
	width: 55px;
	height: 47px;
	color:#fff;
}
.noPairedDevice{
	top:130px;
	left: 200px;
	margin: 20px 0 60px 0;
	width:100%;
	height:100%;
}
.loadingSpinnerHistory {
	top:130px;
	width:100%;
	height:100%;
}
.numbersBox {
	margin-top: 7px;
	display: inline-block;
	width: 430px;
	font-size: 0;
	margin-bottom: 44px;
	position: relative;
}

.number-button {
	float: left;
	padding: 0;
	/* padding-top: 20px; */
	width: 105px;
	height: 80px;
	margin-right: 10px;
	margin-bottom: 10px;
	text-transform: uppercase;
	text-align: center;
}

.numberButtonLetters {
	margin-top: -3px;
}

.special-char {
	padding-top: 18px;
	/* height: 70px;*/
}

.special-fa-size {font-size:18px;padding-top:26px;}

.contactsCarousel {
margin: 0;
padding: 0 24px 24px;
list-style: none;
height: 350px;
width: 98%;
text-align: left;
position: relative;
bottom: 0px;
margin: 148px auto 40px;
white-space:nowrap;
overflow-x:scroll;
overflow-y:hidden;
box-shadow: 0 0 13px rgba(178, 240, 255, 0.8);
box-sizing:border-box;
}

.contactsCarousel li {
	display: inline-block;
	width:276px;
	height:inherit;
	white-space:normal;
	margin: 0;
}

.carouselBox {
	width: 240px;
	height: 315px;
	margin: 0 15px 20px 0;
	white-space: normal;
	border-right: 1px solid white;
	padding-right:20px;
	text-transform: uppercase;
	color:#fff;
}

.carouselEdgeBox {
	width: 140px;
	height: 315px;
	white-space: normal;
	visibility: hidden;
}

.carouselPhotoArea {
	margin: 5px;
	text-align: center;
	border-style: solid;
	border-width: 0;
	border-bottom-width: 2px;
}

.carouselPhotoBox {
	margin: 32px auto 28px auto;
	width: 120px;
	height: 120px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.carouselPhoto {
	width: 100%;
	height: 100%;
}

.carouselInfoBox {
	width: 205px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 34;
	line-height: 1.8;
}

.carouselCallContact {
	margin-top: 15px;
	margin-bottom: -5px;
}

.carouselName {
	margin-top: 5px;
	margin-bottom: 10px;
}

.carouselNumber {
	background-repeat: no-repeat;
	background-position: left center;
	width: 160px;
	padding-left: 45px;
	line-height: 38px;
	cursor: pointer;
}
.callButton {
	border:none;
	width: 76px;
	height:163px;
	position:absolute;
	left: -96px;
	margin:0;
	
}
.callBox {
position: relative;
margin: 154px 10% 0;
border-top: 10px solid rgb(83, 181, 206);
padding:30px 0 30px 0;
box-sizing:border-box;
}

.callBoxShow {
	left: 0;
}

.callBoxHidden {
	display:none;
}

.callInfoBox {
width: 40%;
vertical-align: top;
white-space: nowrap;
overflow: hidden;
display: inline-block;
}

.callPhotoBox {
	width: 120px;
	height: 120px;
	display: inline-block;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.callPhoto {
	width: 100%;
	height: 100%;
}

.callDuration {
	margin-left: 60px;
	display: inline-block;
	vertical-align: top;
	padding-top: 46px;
}
.callingFalse {
	box-shadow: inset 0 0 20px rgba(0, 0, 0, .2), inset 0 0 6em 2em rgba(0, 0, 0, .2);
	background-color: rgba(89, 255, 0, .7);
}
.inCallWith {
	margin-top: 11px;
}

.callName {
	margin-top: 5px;
	text-transform: uppercase;
}

.callControlsBox {
position: absolute;
width: 332px;
display: inline-flex;
font-size: 0;
right: 0;
flex-wrap: wrap;
}

.controlButton {
	padding: 70px 0 13px 0;
	width: 140px;
	margin-right: 6px;
	margin-bottom: 8px;
	text-align: center;
}

#callVolumeControl {
	margin-left: 0;
	margin-top: 25px;
	width: 600px;
	height: 55px;
	top: 20px;
}

.contactsCarouselBox {
	/* width: 95%; or in 765px; */
	top: 770px;
    left: -16px; 
	padding: 0;
	margin: 0;
	display: block;
	text-align: center;
	transition: left 1s;
	-webkit-transition: left 1s;
}

.contactsCarouselBoxShow {
	left: -16px;
}

.contactsCarouselBoxHide {
	left: -765px;
}


/* NEW STYLES FOR KEY PAD NUMBERS BASED ON FLEX BOX */
#keypadContainer {
	width:445px;
	height:540px;
	flex-direction: column;
	flex-wrap:wrap;
	justify-content: space-between;
	font-weight:bold;
	font-size:2em;
	}
.flex-container {
  display: flex; /* or inline-flex */
  justify-content: space-between;
  flex-basis:22%;
}
.digits {
	display:flex;
	justify-content:center;
	flex-basis:30%;
	background-color:#03C;
box-shadow:0px 0px 15px 0px rgba(255, 156, 0, 0.75), 0px 0px 40px 0px rgba(255, 156, 0, 0.75);

}
.contentFlexed {
	flex: 1;
	align-self: center;
	text-align: center;
}
.contentFlexed span{font-size:.5em;display:block;}

.first_position{order:1;}
.second_position{order:2;}
.third_position{order:3;}

.keypad-background{
	width:445px;height:540px;
background:radial-gradient(ellipse at center, rgba(254,156,0,1) 0%,rgba(142,87,4,0) 70%,rgba(10,5,8,0) 100%);
}

/*\\\\\\\\\\\\\\\images only \\\\\\\\\\\\\\\\\\\\\\\*/


.phoneBody {
	background-image: url("../images/bg_with_glow_blue.png");
}

.callingTrue {
	background-image: url("../images/icon_endcall_blue.png");
}

.callingFalse {
	background-image: url("../images/icon_call_blue.png");
}

.carouselNumber {
	background-image: url("../images/icon_number_blue.png");
}

.speakerButton {
	background: url("../images/icon_speaker_blue.png") no-repeat 50% 30%;
}

.muteButton {
	background: url("../images/icon_mute_blue.png") no-repeat 50% 30%;
}

.holdButton {
	background: url("../images/icon_hold_blue.png") no-repeat 50% 30%;
}

.addCallButton {
	background: url("../images/icon_addcall_blue.png") no-repeat 50% 30%;
}

.isFavoriteTrue {
	background-image: url("../images/icon_favorite_true_blue.png");
}

.isFavoriteFalse {
	background-image: url("../images/icon_favorite_false_blue.png");
}

.phoneIcon {
	background: url("../images/icon_mobile_blue.png");
}

.emailIcon {
	background-image: url("../images/icon_email_blue.png");
}

.addressIcon {
	background-image: url("../images/icon_address_blue.png");
}

.missedCallIcon {
	background: url("../images/icon_missed_blue.png") no-repeat 0 0;
	width: 37px;
	height: 43px;
}

.missedNewCallIcon {
	background-image: url("../images/icon_missed_new_blue.png");
}

.receivedCallIcon {
	background-image: url("../images/icon_received_blue.png");
}

.dialedCallIcon {
	background-image: url("../images/icon_dialed_blue.png");
}

.noContactPhoto {
	background: url("../images/contact_picture_blue.png") no-repeat;
}
.contactDetailBox3:hover .phoneIcon {
	background-image: url("../images/icon_mobile_blue_hover.png");
}

.contactDetailBox3 .phoneIcon:hover {
	background-image: url("../images/icon_mobile_blue_hover.png");
}
.libraryButton {	
	background: url("../DNA_common/images/VolSlideCtrl.png") no-repeat 0 -10px;
	background-size:100%;
}

.backButton {	
	background-image: url("DNA_common/images/common/bt_back_blue.png");
}

.previousButton {
	background-image: url("DNA_common/images/bt_previous_blue.png");
}

.nextButton {
	background-image: url("DNA_common/images/bt_next_blue.png");
}

.libraryButton {
	/*position: absolute;*/
	/*height: 82px;*/
	line-height: 3.4;
	right: 40px;
	top: 170px;
	text-align: center;
	text-transform: uppercase;
	width: 90px;
}

.libraryButton:active {
}

.backButton {
	height: 43px;
	line-height: 43px !important;
	background-repeat: no-repeat;
	background-position: left center;
	text-align: right;
	padding: 0 15px 0 35px;
	display: inline-block;
	margin-left: 20px;
	vertical-align: top;
	cursor: pointer;
}
.box-shadow-4 {
	box-shadow: 0 0 30px 2px rgba(83, 181, 206, 0.8);
}
.box-shadow-4Active:active, .box-shadow-4Active:focus {
	color:#53bce;
	box-shadow: 0 0 30px 2px rgba(178, 240, 255, 0.8);
}

