.keyboard
    {
        background-color:#011a29;
    }

.key_button
    {
  background-image: -webkit-linear-gradient(bottom, rgb(1, 34, 54) 0%, rgb(1, 78, 122) 82%);
  border-color: #50bdfc;
  box-shadow: 1px -4px 6px 0 rgba(83, 192, 255, 0.38);
    }

.key_special_spacebar
    {
        background: url(space_bar_icon.png) no-repeat 50% 50%, -webkit-linear-gradient(bottom, rgb(9, 118, 181) 0%, rgb(31, 140, 203) 100%);
    }

.key_special_capslock
    {
	    background: url(shift_off_icon.png) no-repeat 50% 50%, -webkit-linear-gradient(bottom, rgb(9, 118, 181) 0%, rgb(31, 140, 203) 100%); 
	}

.key_special_capslock .key_shifted
    {
    background: url(shift_on_icon.png) no-repeat 50% 50%, -webkit-linear-gradient(bottom, rgb(9, 118, 181) 0%, rgb(31, 140, 203) 100%);
    }
    
.key_special_capslock .key_symbol .key_alt_on
    {
    background: url(symbols_set2_icon.png) no-repeat 50% 50%, -webkit-linear-gradient(bottom, rgb(9, 118, 181) 0%, rgb(31, 140, 203) 100%);
    }
    
.key_special_capslock .key_symbol
    {
    background: url(symbols_set1_icon.png) no-repeat 50% 50%, -webkit-linear-gradient(bottom, rgb(9, 118, 181) 0%, rgb(31, 140, 203) 100%);
    }
	
.key_special_symlock .key_special_symlock_off
    {
    background: url(symbols_off_icon.png) no-repeat 50% 50%, -webkit-linear-gradient(bottom, rgb(9, 118, 181) 0%, rgb(31, 140, 203) 100%);
    }

.key_special_symlock .key_special_symlock_on
    {
    background: url(symbols_icon.png) no-repeat 50% 50%, -webkit-linear-gradient(bottom, rgb(9, 118, 181) 0%, rgb(31, 140, 203) 100%);
    }
	
	
.key_special_bksp
    {
    background: url(backspace_icon.png) no-repeat 50% 50%, -webkit-linear-gradient(bottom, rgb(9, 118, 181) 0%, rgb(31, 140, 203) 100%);
    }

.key_special_return
    {
	background: url(white_return.png) no-repeat 50% 50%, -webkit-linear-gradient(bottom, rgb(9, 118, 181) 0%, rgb(31, 140, 203) 100%);
    }