[project]
	description = Store the common components for apps
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/amcgee7
[access "refs/for/refs/*"]
	read = group user/amcgee7
	push = group user/amcgee7
	label-Code-Review = -2..+2 group user/amcgee7
	label-Verified = -1..+1 group user/amcgee7
	rebase = group user/amcgee7
	removeReviewer = group user/amcgee7
	submit = group user/amcgee7
[access "refs/heads/*"]
	read = group user/amcgee7
	create = group user/amcgee7
	push = +force group user/amcgee7
	pushMerge = group user/amcgee7
[access "refs/tags/*"]
	push = +force group user/amcgee7
	pushTag = group user/amcgee7
	pushSignedTag = group user/amcgee7
