.iconBackBrowser {
	background-image: url("images/browser/icon_back_green.png");
}
.backButtonBrowser:active .iconBackBrowser {
	background-image: url("images/browser/icon_back_enabled_green.png");
}
.iconBackBrowser_noHover {
	background-image: url("images/browser/icon_back_green.png");
}
.iconForwardBrowser {
	background-image: url("images/browser/icon_forward_green.png");
}
.forwardButtonBrowser:active .iconForwardBrowser {
	background-image: url("images/browser/icon_forward_enabled_green.png");
}
.iconForwardBrowser_noHover {
	background-image: url("images/browser/icon_forward_green.png");
}
.iconReloadBrowser {
	background-image: url("images/browser/icon_reload_green.png");
}
.reloadButtonBrowser:active .iconReloadBrowser{
	background-image: url("images/browser/icon_reload_enabled_green.png");
}
.iconSearchBrowser {
	background-image: url("images/browser/GO_Btn_Grn.png");
}
.iconHomeBrowser {
	background-image: url("images/browser/icon_home_green.png");
}
.homeButtonBrowser:active .iconHomeBrowser{
	background-image: url("images/browser/icon_home_enabled_green.png");
}
.toolbarBrowserBackground {
	background-image: url("images/browser/backgroundTopbar.png");
}
/*Browser */
.historyBoxElementBackground:active{
	background-color: rgb(34, 79, 21);
	background-color: rgba(34, 79, 21, 0.8);

}

.browserButton .boxShadowInset:active, .tabBar .boxShadowInset:active {
	box-shadow: 0 0 3px 3px #a2db83 inset;
}
.browserButton .boxShadowInset:hover, .tabBar .boxShadowInset:hover {
	box-shadow: 0 0 2px 2px rgba(102, 210, 45, 1.0) inset;
}

.browserButton .bgColorDarkTransparent{
	background-color: rgb(36, 55, 36);
	background-color: rgba(36, 55, 36, 0.8)
}

.tabBar .tab:active {
	box-shadow: 0 0 3px 3px rgb(136, 255, 80) inset;

}

.browserContent::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

.browserContent::-webkit-scrollbar-corner {
	background-color: rgb(24, 49, 11);
}

.browserContent::-webkit-scrollbar-track {
	background-color: rgb(24, 49, 11);
}

.browserContent::-webkit-scrollbar-thumb {
	background-color: rgb(102, 210, 45);
}

.browserContent::-webkit-scrollbar-thumb:hover {
	background-color: rgb(102, 210, 45);
	border: 2px solid #C7C7C7;
}