@font-face {
  font-family: letsGoDigital;
  src: url(../fonts/letsGoDigital.ttf);
  font-weight: 400;
}
.fm-designation {
  font-size: 7rem;
}
.strong-sig {
margin: 0 auto;
width: 1em;
height: 1em;
display: block;
border-radius: 50%;
border-color: #fe9c00;
position: relative;
top: -50px;
border: 2px solid gray;
}

.strong-sig.on {background-color:#59ff00;}

#keypad-container, #presets-container {
  width: 925px;
  height: 312px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  font-weight: bold;
  margin: 0 8%;
}

.flex-container-fm {
  display: flex;
 /* or inline-flex */
  justify-content: space-between;
  flex-basis: 22%;
}

.presets-digits {
  display: flex;
  justify-content:center;
  margin-bottom: 20px;
  flex-basis: 30%;
}

.digits {
  display: flex;
  /*justify-content:center;*/
  margin-bottom: 20px;
  flex-basis: 30%;
}

.contentFlexed {
  flex: 1;
  align-self: center;
  text-align: center;
}

.contentFlexed span {
  font-size: .5em;
  display: block;
}

.first_position {
  order: 1;
}

.second_position {
  order: 2;
}

.third_position {
  order: 3;
}

.flex-fm-row {
  font-family: letsGoDigital;
  flex-direction: row;
}

.fm-radio-box, .cancel-sst {
  border: 1px solid #373636;
  background-color: #202325;
  padding: 5px;
  font-family: letsGoDigital;
  font-weight: 700;
  font-size: 87px;
  width: 235px;
  height: 62px;
  line-height: 62px;
  text-align: center;
  float: right;
  margin: 0 10px;
  -webkit-box-shadow: inset 5px -5px 9px 1px rgba(0, 0, 0, 0.5);
  box-shadow: inset 5px -5px 9px 1px rgba(0, 0, 0, 0.59);
}

.cancel-sst {
  background-color: #ee3225;
  color: #fff;
  opacity: .8;
  float: none;
  font-size: 6rem;
  line-height: 0;
  box-shadow: inset -1px -1px 22px 1px rgba(0, 0, 0, 0.5);
  display: block;
  margin: 0 auto 70px;
}

.hidden {visibility:hidden;}
.visibile {visibility:visible;}

#seekControls {
  width: 1020px;
  padding: 5px;
  font-family: "Droid Sans";
  font-size: 57px;
  font-weight: bold;
  margin: 0 auto;
}

#seekControls div {
  margin: 0 20px;
}

.tuneUp {
  height: 63px;
  width: 63px;
  background: url('images/minus-plus-btn.png')no-repeat 0 0;
  color: #ffd38c;
  padding-right: 10px;
  display: inline-block;
}

.tuneDown {
  height: 63px;
  width: 63px;
  background: url('images/minus-plus-btn.png')no-repeat 0 -63pxcolor:#ffd38c;
  padding-left: 10px;
  display: inline-block;
}

.fm-gray {
  color: #646667;
}

.dna-orange {
  color: #fe9c00;
}

.title-reflect {
  -webkit-box-reflect: below -18px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 225, 0.4) ) );
}

.station-id-reflect {
  -webkit-box-reflect: below -175px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(58%, transparent), to(white));
}

.small-title {
  font-family: letsGoDigital;
  font-size: 6rem;
  color: #c4c4c4;
  text-align: center;
  margin:10px auto 50px;
  width:70%
}

#station-id {
  font-size: 32rem;
  line-height: 1.2;
  text-align: center;
  width: 1079px;
}
/* SCAN SEEK TUNE BUTTONS*/
.seek-scan-tune-wrapper {
  list-style: none;
  display: flex;
  justify-content: center;
  font-family: sourceSansPro;
  margin-bottom: 100px;
}

.seek-scan-tune-wrapper div {
  display: flex;
  flex-basis: 38%;
}

.seek-scan-tune-wrapper span {
  color: #ffd38c;
  font-size: 5rem;
  font-weight: bold;
}

.seek-scan-tune-wrapper button {
  background-color: #f7f7f7;
  background-image: -webkit-linear-gradient(top, #0F0E0E, #737070);
  color: #a7a7a7;
  margin: 0 20px;
  width: 7rem;
  height: 7rem;
  position: relative;
  display: inline-block;
  text-align: center;
  line-height: 1;
  font-weight: bold;
  font-family: SourceSansPro, sans-serif;
  font-size: 5.8rem;
  border-radius: 50%;
  border: none;
  box-shadow: 0px 3px 8px #625E5E, inset 0px 2px 3px #807D7B;
}

button.minus {
  line-height: 0;
}

.seek-scan-tune-wrapper button:active {
  color: #fe9c00;
}
 
/* keypad-numbers */
#keypad-numbers {
	width:445px;
	height:540px;
	flex-direction: column;
	flex-wrap:wrap;
	justify-content: space-between;
	font-weight:bold;
	font-size:2em;
	margin:0 auto 20px;
	}
	
#keypad-modal {
background-color: #333;
padding: 50px;
opacity: .7;
}
	
.flex-container {
  display: flex; /* or inline-flex */
  justify-content: space-between;
  flex-basis:22%;
}

div#keypad-modal {
background-color: #333;
padding: 50px;
opacity: .7;
}

.digits {
	display:flex;
	justify-content:center;
	flex-basis:30%;
    background: linear-gradient(#656565, #444);
    border: solid 1px #535353;
    border-bottom: solid 3px #414141;
    box-shadow: inset 0 0 0 1px #939393;
    box-shadow: 2px 2px 2px #000;
    color: #fe9c00;
    text-shadow: 0 2px 0 #000;

}
.contentFlexed {
	flex: 1;
	align-self: center;
	text-align: center;
	font-size: 6rem;
}

.first_position{order:1;}
.second_position{order:2;}
.third_position{order:3;}

    
.digits:hover {
    background: #4c4c4c;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#4c4c4c), to(#565656));
    background: linear-gradient(#4c4c4c, #565656);
    border: solid 1px #464646;
    border-bottom: solid 3px #414141;
    box-shadow: inset 0 0 0 1px #818181; }
    
.digits:active {
    background: #474747;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#474747), to(#444));
    background: linear-gradient(#474747, #444);
    border: solid 1px #2f2f2f;
    box-shadow: inset 0 10px 15px 0 #3e3e3e; }

/* spectrum analyzer */
.spectrumAnalyzer {
  width: 515px;
  height: 110px;
  margin: 90px auto 155px;
}
.eq{
width:460px;
height: 100px;
-webkit-transform:rotate(180deg);
}

.bar {
    background-color: #fe9c00;
    width:30px;
    height:40px;
    display: inline-block;
    vertical-align: top;
    margin-left:20px;
}
/* .bar1, .bar2, .bar3, .bar4, .bar5, .bar6, .bar7, .bar8{margin-left:10px;}*/
