<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://com.intel.tizen/news" version="1.0.0" viewmodes="fullscreen">
    <access origin="http://wmpda.com" subdomains="true"></access>
    <tizen:application id="intelPoc30.News" package="intelPoc30" required_version="2.1"/>
    <content src="index.html"/>
    <icon src="icon.png" height="120" width="120"/>
    <name>News</name>
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
    <tizen:privilege name="http://tizen.org/privilege/filesystem.write"/>
    <tizen:privilege name="http://tizen.org/privilege/filesystem.read"/>
    <tizen:privilege name="http://tizen.org/privilege/content.read"/>
    <tizen:privilege name="http://tizen.org/privilege/speech"/>
    <content src="index.html"/>
    <icon src="icon.png"/>  
    <access origin="http://wmpda.com" subdomains="true"></access>
</widget>

