<!-- template for statusBoxPluginObj.init(caption, title, status) in statusBox.js -->
<template id="statusBox">
	<div id="leftTopCorner" class="corner leftTopCorner"></div>
	<div id="leftBottomCorner" class="corner leftBottomCorner"></div>
	<div id="rightTopCorner" class="corner rightTopCorner"></div>
	<div id="rightBottomCorner" class="corner rightBottomCorner"></div>
	<div id="captionIndicator" class="boxIconText captionIndicator" data-indicator-id=""></div>
	<div id="textIndicator" class="fontSizeSmall fontWeightBold fontColorNormal textIndicator uppercase">
		<!-- title -->
	</div>
	<div id="statusIndicator" class="fontSizeXSmall fontWeightBold fontColorDimmed statusIndicator uppercase">
	<!-- status -->
	</div>
</template>