<!-- bluetooth template file -->

<div id="bluetoothPage" class="tabs bluetoothPage hidden">

	<div class="component-top">
		<div class="component-head"> 
			<div id="bluetoothBackArrow" class="settings-back-arrow"></div>
			<div class="blue-rectangle"></div>
			<div class="blue-caption-text">SETTINGS</div>			
			<div class="component-title">Bluetooth</div>
			<div class="settings-clear">	</div>
		</div>
		<div id="bluetoothPowerButton" class="settings-switch">
			<div class="switch off switch-xsmall">
			  <div class="switch-plate">
			    <div class="switch-control"></div>
			  </div>
			</div>
		</div>
		<div class="component-subhead border">
			<h3 class="hidden">Bluetooth connections available</h3>
			<div id="spinner" class="hidden">
				<div id="loadingSpinnerWrapper" class="loadingSpinnerWrapper" style="display: none;">
					<div id="loadingSpinner" class="loadingSpinner pageBgColorNormalTransparent">
						<div id="loadingSpinnerContent" class="loading-container">
							<div id="loadingSpinnerImg" class="loading"></div>
							<div id="loadingSpinnerText" class="loading-text fontSizeXXSmall fontWeightBold fontColorNormal">Scanning</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="" class="component-content">
		<div id="BluetoothNetworksList">
			<div id="bluetoothDeviceTemplate" class="networkElement">
			<!-- template information inserts here -->
			</div>
		</div>

		<div class="buttonsArea">
			<div id="BluetoothRefreshButton" class="networkRefreshButton" style="display:block"></div>
			<div id="addNetworkButton" class="addNetworkButton" style="display:block"></div>
		</div>
	</div>
</div>

<template>
	<div id="bluetoothDeviceTemplate" class="networkElement">
				<div class="networkElementInfoBox">
					<div class="networkElementTitle"><!-- name -->NGI-DEV</div>
					<div class="networkElementSubtitle"><!-- address -->Address: AVERAGE</div>
					<div class="networkElementDescription"><!-- device class -->Encryption: AES</div>
					<div class="networkElementMore selected"><!-- paired -->Paired</div>
					<div class="networkElementMore alert"><!-- SELECTED -->Selected</div>
					<!-- use the alert class to confirm 'Selected', otherwise, 'hidden' -->
				</div>
				<div class="networkElementButton">
					<button class="">PAIR</button>
					<button class="button-green hidden">UNPAIR</button>
				</div>
			</div>
</template>
