/* file copied from ../common/css/browser.css */

.iconBackBrowser {
	/*background-image: url("../images/icon_back_blue.png");*/
	background-image: url('/DNA_common/components/settings/images/back.png');
	background-size: 80px 70px;      
	background-repeat: no-repeat;
}
.backButtonBrowser:active .iconBackBrowser {
	/*background-image: url("../images/icon_back_enabled_blue.png");*/
	background-image: url('/DNA_common/components/settings/images/back.png');
	background-size: 80px 70px;      
	background-repeat: no-repeat;
}
.iconBackBrowser_noHover {
	/*background-image: url("../images/icon_back_blue.png");*/
	background-image: url('/DNA_common/components/settings/images/back.png');
	background-size: 80px 70px;      
	background-repeat: no-repeat;
}
.iconForwardBrowser {
	/*background-image: url("../images/icon_forward_blue.png");*/
	background-image: url('/DNA_common/components/settings/images/back.png');
	background-size: 80px 70px;  
	background-repeat: no-repeat;
	-webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.forwardButtonBrowser:active .iconForwardBrowser {
	/*background-image: url("../images/icon_forward_enabled_blue.png");*/
	background-image: url('/DNA_common/components/settings/images/back.png');
	background-size: 80px 70px;      
	background-repeat: no-repeat;
	-webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.iconForwardBrowser_noHover {
	/*background-image: url("../images/icon_forward_blue.png");*/
	background-image: url('/DNA_common/components/settings/images/back.png');
	background-size: 80px 70px;  
	background-repeat: no-repeat;
	-webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.iconReloadBrowser {
	background-image: url("../images/icon_reload_blue.png");
	background-image: url('/DNA_common/components/settings/images/refresh.png');
	background-size: 72px 73px;  
	background-repeat: no-repeat;
}
.reloadButtonBrowser:active .iconReloadBrowser{
	background-image: url("../images/icon_reload_enabled_blue.png");
	background-image: url('/DNA_common/components/settings/images/refresh.png');
	background-size: 72px 73px;  
	background-repeat: no-repeat;
}
.iconSearchBrowser {
	background-size: 72px 72px;  
	background-color: #53b5ce;
	color: #fff;
	font-size: 44px;
	font-weight: bold;
	text-align: center;
	line-height: 67px;
}
.iconHomeBrowser {
	background-image: url("../images/icon_home_blue.png");
	background-size: 72px 72px;
	background-repeat: no-repeat;
}
.homeButtonBrowser:active .iconHomeBrowser{
	background-image: url("../images/icon_home_blue.png");
	background-size: 72px 72px;
	background-repeat: no-repeat;
}

.toolbarBrowserBackground {
	background-image: url("../images/backgroundTopbar.png");
}
/*Browser */
.historyBoxElementBackground:active{
	background-color: rgb(0, 171, 255);
	background-color: rgba(0, 171, 255, 0.8);
}
.browserButton .boxShadowInset:hover, .tabBar .boxShadowInset:hover, .browserButton .boxShadowInset:active, .tabBar .boxShadowInset:active {
	box-shadow: 0 0 2px 2px #53b5ce inset;
}

.browserContent::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

.browserContent::-webkit-scrollbar-corner {
	background-color: rgb(6, 36, 55);
}

.browserContent::-webkit-scrollbar-track {
	background-color: rgb(6, 36, 55);
}

.browserContent::-webkit-scrollbar-thumb {
	background-color: rgb(58, 174, 255);
}

.browserContent::-webkit-scrollbar-thumb:hover {
	background-color: rgb(0, 171, 255);
	border: 2px solid #C7C7C7;
}
.text {
	padding: 0;
	text-align: left;
}
/*overwrite common.css,in which this style has been changed to pure black*/
.bgColorDark {
	/* background-color: #444; */
	/* background-color: rgba(6, 36, 55, 1.0); */
}

.boxShadowInset { 
	box-shadow: 0 0 3px 3px #53b5ce inset;
}
.bgColorThemeTransparent {
	/* background-color: rgb(83, 181, 206); */
	background-color: rgba(83, 181, 206, 0.5);
}
.boxShadow4 {
	box-shadow: 0 0 85px 3px rgba(178, 240, 255, 0.6);
}

input#inputBrowser {}

.boxShadow4Active:active,.boxShadow4Active:focus {
	box-shadow: 0 0 70px 2px rgba(178, 240, 255, 1.0);
}
.fontColorSelected {
	color: rgb(0, 171, 255);
	color: rgba(0, 171, 255, 1.0); /*#00abff*/
}

.fontColorDimmed {
	color: rgb(145, 149, 153);
	color: rgba(145, 149, 153, 1.0); /*#919599*/
}

.fontColorDimmedLight {
	color: rgb(199, 199, 199);
	color: rgba(196, 196, 196, 1.0); /*#c7c7c7*/
}
