@import url("./tabs.css");
/* these styles needs to be in DNA_common css for all apps */

.browserBody {
	/*position: absolute;*/
	/*top: 6%;*/
	/*left: 0;*/
	width: 100%;
	height: 1672px; 
}
.iconBrowser {
	position: absolute;
	top: 15px;
	left: 15px;
	width: 75px;
	height: 75px;
}
.iconReloadBrowser {
	position: absolute;
	top: 15px;
	left: 15px;
	width: 72px;
	height: 73px;
}

.iconHomeBrowser {
	position: absolute;
	top: 9px;
	left: 8px;
	width: 86px;
	height: 85px;
}

.iconSearchBrowser {
	position: absolute;
	/* top: 2px; */
	left: 7px;
	width: 72px;
	height: 72px;
}

.backButtonBrowser {
	position: absolute;
	left: 11px;
	top: 11px;
}

.forwardButtonBrowser {
	position: absolute;
	left: 116px;
	top: 11px;
}

.reloadButtonBrowser {
	position: absolute;
	left: 860px;
	top: 11px;
}

.browserToolbar {
	position: relative;
/*	top: 0;
	left: 0;*/
	width: 100%;
	height: 115px;
}

.toolbarBrowserBackground {
	background-repeat: repeat-x;
}

.inputBrowserBox {
	position: absolute;
	left: 220px;
	top: 2px;
	width: 650px;
	height: 112px;
}

.inputBrowser {
	position: absolute;
	top: 22px;
	left: 14px;
	width: 605px;
	height: 72px;
	background: transparent;
	border: none;
	outline: none;
	padding-left: 15px;
	-webkit-user-select: text;
}

.inputBrowser::-webkit-selection {
	background: rgb(0, 171, 255);
	color: rgb(255, 255, 255);
}

.searchButtonBrowser {
	position: absolute;
	top: 23px;
	left: 554px;
	width: 72px;
	height: 72px;
}

.homeButtonBrowser {
	position: absolute;
	left: 970px;
	top: 16px;
/*	width: 80px;
	height: 80px;*/
}

.historyBox {
	position: absolute;
	top: 114px;
	left: 15px;
	width: 583px;
	z-index: 10;
	overflow: hidden;
	/* transition: height 1s; */
	/*-moz-transition: height 1s; /* Firefox 4 */
	-webkit-transition: height 1s; /* Safari and Chrome */
	/*-o-transition: height 1s; /* Opera */
}

.historyBoxShadow {
	width: 100%;
	height: 100%;
	z-index: 11;
}

.historyBoxElementBackground {
	height: 58px;
	z-index: 20;
}

.historyBoxElement {
	height: 29px;
	margin-left: 7px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.historyBoxElementDevider {
	z-index: 12;
	height: 1px;
	width: 100%;
}

.historyBoxData {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 11;
}

.historyBoxHidden {
	height: 0;
}

.browserButton {
	width: 100px;
	height: 100px;
}

.browserButtonOpacity {
	opacity: 0.5;
}

.disableBox {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

.onLineIndicator {
	position: absolute;
	top: 89px;
	left: 1055px;
	border-style: solid;
	border-width: 3px;
	width: 8px;
	height: 7px;
	border-radius: 14px;
}

.onLineIndicatorTrue {
	border-color: rgb(88, 226, 88);
	background: rgb(88, 226, 88);
	opacity: 0.5;
}

.onLineIndicatorFalse {
	border-color: rgb(191, 48, 48);
	background: rgb(191, 48, 48);
	opacity: 0.5;
}
.iconBackBrowser {
	/*background-image: url("../images/icon_back_blue.png");*/
	background-image: url('/DNA_common/components/settings/images/back.png');
	background-size: 80px 70px;      
	background-repeat: no-repeat;
}
.backButtonBrowser:active .iconBackBrowser {
	/*background-image: url("../images/icon_back_enabled_blue.png");*/
	background-image: url('/DNA_common/components/settings/images/back.png');
	background-size: 80px 70px;      
	background-repeat: no-repeat;
}
.iconBackBrowser_noHover {
	/*background-image: url("../images/icon_back_blue.png");*/
	background-image: url('/DNA_common/components/settings/images/back.png');
	background-size: 80px 70px;      
	background-repeat: no-repeat;
}
.iconForwardBrowser {
	/*background-image: url("../images/icon_forward_blue.png");*/
	background-image: url('/DNA_common/components/settings/images/back.png');
	background-size: 80px 70px;  
	background-repeat: no-repeat;
	-webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.forwardButtonBrowser:active .iconForwardBrowser {
	/*background-image: url("../images/icon_forward_enabled_blue.png");*/
	background-image: url('/DNA_common/components/settings/images/back.png');
	background-size: 80px 70px;      
	background-repeat: no-repeat;
	-webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.iconForwardBrowser_noHover {
	/*background-image: url("../images/icon_forward_blue.png");*/
	background-image: url('/DNA_common/components/settings/images/back.png');
	background-size: 80px 70px;  
	background-repeat: no-repeat;
	-webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.iconReloadBrowser {
	background-image: url("../images/icon_reload_blue.png");
	background-image: url('/DNA_common/components/settings/images/refresh.png');
	background-size: 72px 73px;  
	background-repeat: no-repeat;
}
.reloadButtonBrowser:active .iconReloadBrowser{
	background-image: url("../images/icon_reload_enabled_blue.png");
	background-image: url('/DNA_common/components/settings/images/refresh.png');
	background-size: 72px 73px;  
	background-repeat: no-repeat;
}
.iconSearchBrowser {
	background-size: 72px 72px;  
	background-color: #53b5ce;
	color: #fff;
	font-size: 44px;
	font-weight: bold;
	text-align: center;
	line-height: 67px;
}
.iconHomeBrowser {
	background-image: url("../images/icon_home_blue.png");
	background-size: 72px 72px;
	background-repeat: no-repeat;
}
.homeButtonBrowser:active .iconHomeBrowser{
	background-image: url("../images/icon_home_blue.png");
	background-size: 72px 72px;
	background-repeat: no-repeat;
}

.toolbarBrowserBackground {
	background-image: url("../images/backgroundTopbar.png");
}
/*Browser */
.historyBoxElementBackground:active{
	background-color: rgb(0, 171, 255);
	background-color: rgba(0, 171, 255, 0.8);
}
.browserButton .boxShadowInset:hover, .tabBar .boxShadowInset:hover, .browserButton .boxShadowInset:active, .tabBar .boxShadowInset:active {
	box-shadow: 0 0 2px 2px #53b5ce inset;
}

.browserContent::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

.browserContent::-webkit-scrollbar-corner {
	background-color: rgb(6, 36, 55);
}

.browserContent::-webkit-scrollbar-track {
	background-color: rgb(6, 36, 55);
}

.browserContent::-webkit-scrollbar-thumb {
	background-color: rgb(58, 174, 255);
}

.browserContent::-webkit-scrollbar-thumb:hover {
	background-color: rgb(0, 171, 255);
	border: 2px solid #C7C7C7;
}
.text {
	padding: 0;
	text-align: left;
}

.boxShadowInset { 
	box-shadow: 0 0 3px 3px #53b5ce inset;
}
.browserBgColorThemeTransparent {
	background-color: rgba(83, 181, 206, 0.5);
}
.boxShadow4 {
	box-shadow: 0 0 85px 3px rgba(178, 240, 255, 0.6);
}

input#inputBrowser {}

.boxShadow4Active:active,.boxShadow4Active:focus {
	box-shadow: 0 0 70px 2px rgba(178, 240, 255, 1.0);
}
.fontColorSelected {
	color: rgb(0, 171, 255);
	color: rgba(0, 171, 255, 1.0); /*#00abff*/
}

.fontColorDimmed {
	color: rgb(145, 149, 153);
	color: rgba(145, 149, 153, 1.0); /*#919599*/
}

.fontColorDimmedLight {
	color: rgb(199, 199, 199);
	color: rgba(196, 196, 196, 1.0); /*#c7c7c7*/
}


.iconBackBrowser {
	/*background-image: url("../images/icon_back_blue.png");*/
	background-image: url('/DNA_common/components/settings/images/back.png');
	background-size: 80px 70px;      
	background-repeat: no-repeat;
}
.backButtonBrowser:active .iconBackBrowser {
	/*background-image: url("../images/icon_back_enabled_blue.png");*/
	background-image: url('/DNA_common/components/settings/images/back.png');
	background-size: 80px 70px;      
	background-repeat: no-repeat;
}
.iconBackBrowser_noHover {
	/*background-image: url("../images/icon_back_blue.png");*/
	background-image: url('/DNA_common/components/settings/images/back.png');
	background-size: 80px 70px;      
	background-repeat: no-repeat;
}
.iconForwardBrowser {
	/*background-image: url("../images/icon_forward_blue.png");*/
	background-image: url('/DNA_common/components/settings/images/back.png');
	background-size: 80px 70px;  
	background-repeat: no-repeat;
	-webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.forwardButtonBrowser:active .iconForwardBrowser {
	/*background-image: url("../images/icon_forward_enabled_blue.png");*/
	background-image: url('/DNA_common/components/settings/images/back.png');
	background-size: 80px 70px;      
	background-repeat: no-repeat;
	-webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.iconForwardBrowser_noHover {
	/*background-image: url("../images/icon_forward_blue.png");*/
	background-image: url('/DNA_common/components/settings/images/back.png');
	background-size: 80px 70px;  
	background-repeat: no-repeat;
	-webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.iconReloadBrowser {
	background-image: url("../images/icon_reload_blue.png");
	background-image: url('/DNA_common/components/settings/images/refresh.png');
	background-size: 72px 73px;  
	background-repeat: no-repeat;
}
.reloadButtonBrowser:active .iconReloadBrowser{
	background-image: url("../images/icon_reload_enabled_blue.png");
	background-image: url('/DNA_common/components/settings/images/refresh.png');
	background-size: 72px 73px;  
	background-repeat: no-repeat;
}
.iconSearchBrowser {
	background-size: 72px 72px;  
	background-color: #53b5ce;
	color: #fff;
	font-size: 44px;
	font-weight: bold;
	text-align: center;
	line-height: 67px;
}
.iconHomeBrowser {
	background-image: url("../images/icon_home_blue.png");
	background-size: 72px 72px;
	background-repeat: no-repeat;
}
.homeButtonBrowser:active .iconHomeBrowser{
	background-image: url("../images/icon_home_blue.png");
	background-size: 72px 72px;
	background-repeat: no-repeat;
}

.toolbarBrowserBackground {
	background-image: url("../images/backgroundTopbar.png");
}
/*Browser */
.historyBoxElementBackground:active{
	background-color: rgb(0, 171, 255);
	background-color: rgba(0, 171, 255, 0.8);
}
.browserButton .boxShadowInset:hover, .tabBar .boxShadowInset:hover, .browserButton .boxShadowInset:active, .tabBar .boxShadowInset:active {
	box-shadow: 0 0 2px 2px #53b5ce inset;
}

.browserContent::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

.browserContent::-webkit-scrollbar-corner {
	background-color: rgb(6, 36, 55);
}

.browserContent::-webkit-scrollbar-track {
	background-color: rgb(6, 36, 55);
}

.browserContent::-webkit-scrollbar-thumb {
	background-color: rgb(58, 174, 255);
}

.browserContent::-webkit-scrollbar-thumb:hover {
	background-color: rgb(0, 171, 255);
	border: 2px solid #C7C7C7;
}
.text {
	padding: 0;
	text-align: left;
}
/*overwrite common.css,in which this style has been changed to pure black*/
.bgColorDark {
	/* background-color: #444; */
	/* background-color: rgba(6, 36, 55, 1.0); */
}

.boxShadowInset { 
	box-shadow: 0 0 3px 3px #53b5ce inset;
}
.browserBgColorThemeTransparent {
	background-color: rgba(83, 181, 206, 0.5);
}
.boxShadow4 {
	box-shadow: 0 0 85px 3px rgba(178, 240, 255, 0.6);
}

input#inputBrowser {}

.boxShadow4Active:active,.boxShadow4Active:focus {
	box-shadow: 0 0 70px 2px rgba(178, 240, 255, 1.0);
}
.fontColorSelected {
	color: rgb(0, 171, 255);
	color: rgba(0, 171, 255, 1.0); /*#00abff*/
}

.fontColorDimmed {
	color: rgb(145, 149, 153);
	color: rgba(145, 149, 153, 1.0); /*#919599*/
}

.fontColorDimmedLight {
	color: rgb(199, 199, 199);
	color: rgba(196, 196, 196, 1.0); /*#c7c7c7*/
}
