/* file copied from ../common/css/browser.css */

.iconBackBrowser {
	background-image: url("../images/icon_back_blue.png");
	background-size: 80px 70px;      
	background-repeat: no-repeat;
}
.backButtonBrowser:active .iconBackBrowser {
	background-image: url("../images/icon_back_enabled_blue.png");
	background-size: 80px 70px;      
	background-repeat: no-repeat;
}
.iconBackBrowser_noHover {
	background-image: url("../images/icon_back_blue.png");
	background-size: 80px 70px;      
	background-repeat: no-repeat;
}
.iconForwardBrowser {
	background-image: url("../images/icon_forward_blue.png");
	background-size: 80px 70px;  
	background-repeat: no-repeat;
}
.forwardButtonBrowser:active .iconForwardBrowser {
	background-image: url("../images/icon_forward_enabled_blue.png");
	background-size: 80px 70px;      
	background-repeat: no-repeat;
}
.iconForwardBrowser_noHover {
	background-image: url("../images/icon_forward_blue.png");
	background-size: 80px 70px;  
	background-repeat: no-repeat;
}
.iconReloadBrowser {
	background-image: url("../images/icon_reload_blue.png");
	background-size: 72px 73px;  
	background-repeat: no-repeat;
}
.reloadButtonBrowser:active .iconReloadBrowser{
	background-image: url("../images/icon_reload_enabled_blue.png");
}
.iconSearchBrowser {
	background-image: url("../images/GO_Btn_Blu.png");
	background-size: 72px 72px;  
	background-repeat: no-repeat;
}
.iconHomeBrowser {
	background-image: url("../images/icon_home_blue.png");
	background-size: 86px 85px;
	background-repeat: no-repeat;
}
.homeButtonBrowser:active .iconHomeBrowser{
	background-image: url("../images/icon_home_enabled_blue.png");
}

.toolbarBrowserBackground {
	background-image: url("../images/backgroundTopbar.png");
}
/*Browser */
.historyBoxElementBackground:active{
	background-color: rgb(0, 171, 255);
	background-color: rgba(0, 171, 255, 0.8);
}
.browserButton .boxShadowInset:hover, .tabBar .boxShadowInset:hover, .browserButton .boxShadowInset:active, .tabBar .boxShadowInset:active {
	box-shadow: 0 0 2px 2px #1DA2FF inset;
}

.browserContent::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

.browserContent::-webkit-scrollbar-corner {
	background-color: rgb(6, 36, 55);
}

.browserContent::-webkit-scrollbar-track {
	background-color: rgb(6, 36, 55);
}

.browserContent::-webkit-scrollbar-thumb {
	background-color: rgb(58, 174, 255);
}

.browserContent::-webkit-scrollbar-thumb:hover {
	background-color: rgb(0, 171, 255);
	border: 2px solid #C7C7C7;
}
/*overwrite common.css,in which this style has been changed to pure black*/
.bgColorDark {
	background-color: #062437;
	background-color: rgba(6, 36, 55, 1.0);
}

.boxShadowInset { 
	box-shadow: 0 0 3px 3px #1DA2FF inset;
}
.bgColorThemeTransparent {
	background-color: rgb(58, 174, 255);
	background-color: rgba(58, 174, 255, 0.5);
}
.boxShadow4 {
	box-shadow: 0 0 85px 3px rgba(29, 162, 255, 0.4);
}

.boxShadow4Active:active,.boxShadow4Active:focus {
	box-shadow: 0 0 70px 2px rgb(29, 162, 255);
}
.fontColorSelected {
	color: rgb(0, 171, 255);
	color: rgba(0, 171, 255, 1.0); /*#00abff*/
}

.fontColorDimmed {
	color: rgb(145, 149, 153);
	color: rgba(145, 149, 153, 1.0); /*#919599*/
}

.fontColorDimmedLight {
	color: rgb(199, 199, 199);
	color: rgba(199, 199, 199, 1.0); /*#c7c7c7*/
}
