@font-face {
	font-family: HelveticaNeue;
	src: url('./css/car/fonts/HelveticaNeue-CondensedBold.eot?#iefix')
		format('embedded-opentype'),
		url('./css/car/fonts/HelveticaNeue-CondensedBold.woff') format('woff'),
		url('./css/car/fonts/HelveticaNeue-CondensedBold.ttf')
		format('truetype'),
		url('./css/car/fonts/HelveticaNeue-CondensedBold.svg#svgFontName')
		format('svg'), local("HelveticaNeue");
	font-weight: bold;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
}

.warningMessage {
	color: #FFF;
	font-size: 30px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
	font-family: HelveticaNeue;
}
