<li><div id="carouselBox_{{:#index}}" class="carouselBox" data-id="{{:id}}" onclick="callContactById('{{:id}}');">
		<div class="carouselPhotoArea">
			<div class="carouselPhotoBox noContactPhoto">
				<img class="carouselPhoto" src="{{:photoURI}}" />
			</div>
		</div>
		<!-- <div class="carouselInfoBox carouselCallContact"></div> -->
		<div
			class="carouselInfoBox carouselName text-large">
			<strong>{{if name}} {{if name.firstName}} {{:name.firstName}} {{/if}} {{if
			name.lastName}} {{:name.lastName}} {{/if}} {{/if}}</strong></div>
		<div class="carouselInfoBox carouselNumber">
			<small><strong>{{if phoneNumbers}} {{if phoneNumbers[0]}}
			{{:phoneNumbers[0].number}} {{/if}} {{/if}}</strong></small></div>
		<div class="callHistoryElement">
			<div class="{{if direction == 'missed-new'}}missedNew{{else}}{{:direction.toLowerCase()}}{{/if}}CallIcon callHistoryIcon callHistoryIconGen"></div>
			<div class="callHistoryDetails">
				<div><small>{{:startTime.toString().toUpperCase()}}</small></div>
				<div><small><strong>{{:direction.toString().toUpperCase()}}</strong></small></div>
			</div>
		</div>

	</div>
</li>
