
<div class="contactDetailBox1">
	<div class="contactDetailPhotoBox noContactPhoto">
		<img class="contactDetailPhoto" src="{{:photoURI}}" />
	</div>
	<div
		class="contactDetailFavorite isFavorite{{if isFavorite}}True{{else}}False{{/if}}">
	</div>
</div>

<div class="contactDetailBox2">
	<div class="contactDetailBox3" onClick="callContactById('{{:id}}')"> 
		<div class="phoneIcon"></div>
		<div class="contactDetailBox4">
			<div id="contactDetailMobileTitle">MOBILE</div>
			<div id= "contactDetailMobile" class="fontSizeLarger fontWeightBold fontColorNormal">{{:phoneNumber}}</div>
		</div>
		
	</div>
	<div class="contactDetailBox3">
		<div class="emailIcon"></div>
		<div class="contactDetailBox4">
			<div id="contactDetailEmailTitle">EMAIL</div>
			<div class="fontSizeLarger fontWeightBold fontColorNormal">{{:email}}</div>
		</div>
	</div>
	<div class="contactDetailBox3">
		<div class="addressIcon"></div>
		<div class="contactDetailBox4">
			<div id="contactDetailAddressTitle">ADDRESS</div>
			<div class="fontSizeLarger fontWeightBold fontColorNormal">{{:address.toUpperCase()}}</div>
		</div>
	</div>
</div>

<div class="callHistoryBox borderColorTheme">
	{{foreach history}}
	<div class="callHistoryElement borderColorTheme">
		<div
			class="{{if direction == 'missed-new'}}missedNew{{else}}{{:direction.toString().toLowerCase()}}{{/if}}CallIcon callHistoryIcon"></div>
		<div class="callHistoryDetails">
			<div class="fontSizeLarge fontWeightBold fontColorNormal">{{:startTime.toString().toUpperCase()}}</div>
			<div class="fontSizeXSmall fontWeightBold fontColorTheme">{{:direction.toString().toUpperCase()}}</div>
		</div>
	</div>
	{{/foreach}}
</div>