#clockElement {
	position: absolute;
	width: 100%;
	top: 20px;
	color: #C4C4C4;
}

#dnaDate {
	position: absolute;
	left: 40px;
	width: 300px;
	text-align: left;
	font-size: 4rem;
}

#dnaTime {
	position: absolute;
	right: 40px;
	width: 300px;
	text-align: right;
	font-size: 4rem;
}