.libraryLeftPanel {
	background-image: url('images/library/bg_left_panel_green.png');
}

.gridIcon {
	background-image: url('images/library/bt_grid_green.png');
}

.gridIconActive {
	background-image: url('images/library/bt_grid_act_green.png');
}

.gridIconDisabled {
	background-image: url('images/library/bt_grid_green_disabled.png');
}

.listIcon {
	background-image: url('images/library/bt_list_green.png');
}

.listIconActive {
	background-image: url('images/library/bt_list_act_green.png');
}

.listIconDisabled {
	background-image: url('images/library/bt_list_green_disabled.png');
}

.searchIcon {
	background-image: url('images/library/bt_search_green.png');
}

.searchIconActive {
	background-image: url('images/library/bt_search_act_green.png');
}

.searchIconDisabled {
	background-image: url('images/library/bt_search_green_disabled.png');
}

.closeLibraryButton {
	background-image: url('images/library/bt_close_green.png');
}

.libraryTopPanel {
	background-image: url('images/library/bg_top_navi_green.png');
}

.libraryTab, .libraryTabClear, .libraryTabInlineClear {
	background-image: url('images/library/bg_top_navi_unselect1px_green.png');
}

.libraryTabSelected {
	background-image: url('images/library/bg_top_navi_select_green.png');
}

.closeLibrarySubPanelButton {
	background-image: url('images/library/bt_back_green.png');
}