<!-- wifi page template file -->

<div id="WifiPage" class="tabs WifiPage hidden">

	<div class="component-top"> 
		<div class="component-head">
			<div id="wifiBackArrow" class="settings-back-arrow"></div>
			<div class="blue-rectangle"></div>
			<div class="blue-caption-text">SETTINGS</div>
			<div class="component-title">WIFI</div>
			<div class="settings-clear">	</div>
		</div>		
		<div id="wifiPowerButton" class="settings-switch">
			<div class="switch off switch-xsmall">
			  <div class="switch-plate">
			    <div class="switch-control"></div>
			  </div>
			</div>
		</div>
		<div class="component-subhead">
			<h2></h2>
		</div>
			<!-- 	<div id="loadingSpinnerWifi" class="loadingSpinnerWifi loading-container loading-container-small">
			<div class="loading loading-small"></div>
		</div> -->
	</div>

	<div class="component-content">
		<h3>Wifi Connections available</h3>		
		<div class="buttonsArea">
			<div id="wifiRefreshButton" class="wifiRefreshButton"></div>
			<div id="addNetworkButton" class="addNetworkButton"></div>
		</div>
		<div id="wifiNetworksList"><!-- name --></div>
		<h4 id="" class="hidden">Hotspot tethering is on</h4>

		<div id="WifiDeviceTemplate" class="wifiElement borderColorTheme">
			<div class="wifiElementInfoBox">
				<div class="wifiElementTitle fontSizeLarge fontColorNormal fontWeightBold"><!-- name --></div>
				<div class="wifiElementSubtitle fontSizeSmaller fontColorNormal"></div>
				<div class="wifiElementDescription fontSizeSmaller fontColorNormal"></div>
				<div class="wifiElementMore fontSizeSmaller fontColorNormal"></div>
				<div class="wifiElementMore fontSizeSmaller fontColorSelected fontWeightBold"></div>
				<div class="wifiElementMore fontSizeSmaller fontColorSelected fontWeightBold"></div>
			</div>
			
			<div class="toggleButton wifiElementButton">
				<div class="connectWhite connectGreen toggleButton toggleButtonBackground"></div>
				<div class="fontColorNormal fontSizeMedium fontWeightBold"></div>
			</div>
		</div>
	</div>

		<!-- wifi add a network modal --> 
	<div id="AddNetworkModal" class="modal hidden">
		<div class="modal-bkgrnd box-out-orange">
			<h2>Add a Network</h2>
			<div id="AddNetworkExitModal" class="close-button"></div>

			<div class="flex-center">
				<div class="labelBox">
					<h4>SSID</h4>
				</div>

				<input type="text" name="focus" class="inputField" id="inputSsid" placeholder="Enter network name">
				<div class="delete-button" type="reset"></div>					
			</div>

			<div class="flex-center">
				<div class="labelBox">
					<h4>Security</h4>
				</div>

				<input type="text" name="focus" class="inputField" id="inputSsid" placeholder="No security">
				<!-- tap the next-button replace the previous inputField's placeholder text with WEP, WPA, or WPA2 and fold out password field: -->
				<div class="next-button" id="buttonNextSecurity" type=""></div>
				<!-- this toggles to the following and no security/password field: -->
				<div class="previous-button" id="buttonPreviousSecurity" type=""></div>
			</div>

			<div class="password-field off">	
				<div class="flex-center">
					<div class="labelBox">
						<h4>PASSWORD</h4>
					</div>

					<input type="password" name="focus" class="inputField" id="inputPassword" placeholder="Enter password">
					<div class="delete-button" type="reset"></div>					
				</div>
			</div>					

			<div class="center">
				<input type="button" class="no-margin" value="Add" id="" >  
			</div>            
		</div>
	</div>
</div>