<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://com.ford.tizen/smartdevicelink" version="14.9.4796" viewmodes="fullscreen">  
	<icon src="icon.png"/>  
	<name>SmartDeviceLink</name>  
    <tizen:application id="intelPoc17.SDL" package="intelPoc17" required_version="2.1"/>
	<feature name="http://tizen.org/api/bluetooth" required="true"/>
	<feature name="http://tizen.org/api/bluetooth.admin" required="true"/>
	<feature name="http://tizen.org/api/bluetooth.gap" required="true"/>
	<feature name="http://tizen.org/api/bluetooth.spp" required="true"/>
	<feature name="http://tizen.org/api/mediacontent" required="true"/>
	<feature name="http://tizen.org/api/mediacontent.read" required="true"/>
	<feature name="http://tizen.org/api/nfc" required="true"/>
	<feature name="http://tizen.org/api/nfc.p2p" required="true"/>
	<feature name="http://tizen.org/api/nfc.tag" required="true"/>
	<feature name="http://tizen.org/api/systeminfo" required="true"/>
	<feature name="http://tizen.org/api/time" required="true"/>
	<feature name="http://tizen.org/api/time.read" required="true"/>
	<feature name="http://tizen.org/api/time.write" required="true"/>
	<feature name="http://tizen.org/api/tizen" required="true"/>
	<tizen:privilege name="http://tizen.org/privilege/tizen"/>
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
    <tizen:privilege name="http://tizen.org/privilege/filesystem.read"/>
    <tizen:privilege name="http://tizen.org/privilege/filesystem.write"/>
    <tizen:privilege name="http://tizen.org/privilege/bluetooth.admin"/>
    <tizen:privilege name="http://tizen.org/privilege/bluetooth.spp"/>
    <tizen:privilege name="http://tizen.org/privilege/bluetooth.gap"/>
	<content src="index.html"/>
	<access origin="*" subdomains="true"/>
</widget>
