*:focus {
	outline: none;
}

#fp_back {
	background-image: url('images/fingerprint/fingerprint-Icon_BLU.png');
	background-size: 100% 100%;
	border: 4px solid #53C1FE;
	position: absolute;
	top: 0%;
	right: 0%;
	height: 9%;
	width: 13%;
	margin: 0px auto;
	z-index: 3;
}

#fp_back_bottom {
	background-image: url('images/fingerprint/fingerprint-Icon_BLU.png');
	background-size: 100% 100%;
	border: 4px solid #53C1FE;
	position: absolute;
	bottom: 0%;
	left: 0%;
	height: 9%;
	width: 13%;
	margin: 0px auto;
	z-index: 3;
}

#fingerprint_options {
	background-color: #012235;
	border: 4px solid #6AC1F7;
	color: #6AC1F7;
	padding: 3%;
	font-size: 200%;
	font-weight: 500;
	text-align: center;
	overflow: hidden;
	position: absolute;
	top: 5%;
	left: 7%;
	height: 4%;
	width: 78%;
	margin: 0px auto;
	z-index: 2;
}

#create_new {
	background-color: #012235;
	border: 4px solid #6AC1F7;
	color: #6AC1F7;
	padding: 3%;
	font-size: 200%;
	font-weight: 500;
	text-align: center;
	overflow: hidden;
	position: absolute;
	top: 25%;
	left: 32%;
	height: 4%;
	width: 29%;
	z-index: 2;
}

#recall_existing {
	background-color: #012235;
	border: 4px solid #6AC1F7;
	color: #6AC1F7;
	padding: 1%;
	padding-left: 5%;
	padding-right: 5%; font-size : 200%;
	font-weight: 500;
	text-align: center;
	overflow: visible;
	position: absolute;
	top: 41%;
	left: 32%;
	height: 7%;
	width: 25%;
	z-index: 2;
	font-size: 200%;
}

#edit_existing {
	background-color: #012235;
	border: 4px solid #6AC1F7;
	color: #6AC1F7;
	padding: 1%;
	padding-left: 6%;
	padding-right: 6%;
	font-size: 200%;
	font-weight: 500;
	text-align: center;
	overflow: visible;
	position: absolute;
	top: 59%;
	left: 32%;
	height: 7%; 
	z-index: 2;
	width: 23%;
}

#create_new:hover {
	background-color: #B8E6FF;
	color: #0B6EA9;
	border: 4px solid #0B6EA9;
}

#recall_existing:hover {
	background-color: #B8E6FF;
	color: #0B6EA9;
	border: 4px solid #0B6EA9;
}

#edit_existing:hover {
	background-color: #B8E6FF;
	color: #0B6EA9;
	border: 4px solid #0B6EA9;
}

#clear {
	clear: both;
}

#Scanline {
	height: 100%;
	width: 100%;
	z-index: 2;
}

#ScanlineImage {
	background-image: url('images/fingerprint/line.png');
	background-size: 100% 100%;
	width: 99%;
	height: 0.5%;
	z-index: 2;
}

#template1 {
	background-image: url('images/fingerprint/FNGR_BCKGRND_BLU_03.png');
	background-size: 100% 100%;
	margin: 0px auto;
	width: 100%;
	height: 100%;
	z-index: 1;
}

#template2 {
	background-image: url('images/fingerprint/FNGR_SCN_BLU_03.png');
	background-size: 100% 100%;
	height: 100%;
	width: 100%;
	margin: 0px auto;
	z-index: 1;
}

#template3 {
	background-image: url('images/fingerprint/Error_Fngr_Bckgrnd_BLU.png');
	background-size: 100% 100%;
	height: 100%;
	width: 100%;
	margin: 0px auto;
	z-index: 1;
}

#template4 {
	background-image: url('images/fingerprint/scan_animation.gif');
	background-size: 100% 100%;
	height: 100%;
	width: 100%;
	margin: 0px auto;
	z-index: 1;
}

#maleAvatar {
	background-image: url('images/fingerprint/MAL_AVATAR.png');
	background-size: 100% 100%;
	height: 20%;
	width: 30%;
	position: absolute;
	top: 33%;
	right: 17%;
	z-index: 2;
}

#femaleAvatar {
	background-image: url('images/fingerprint/FEM_AVATAR.png');
	background-size: 100% 100%;
	height: 20%;
	width: 30%;
	position: absolute;
	top: 33%;
	left: 17%;
	z-index: 2;
}

#maleSelectAvatar {
	height: 16%;
	width: 30%;
	position: absolute;
	top: 33%;
	right: 17%;
	z-index: 3;
}

#femaleSelectAvatar {
	height: 16%;
	width: 30%;
	position: absolute;
	top: 33%;
	left: 17%;
	z-index: 3;
}

#InputMale {
	background: transparent;
	border: 0px;
	position: absolute;
	top: 34%;
	left: 54%;
	font-size: 250%;
	color: #53C1FE;
	width: 28%;
	height: 15%;
	z-index: 4;
	line-height:10.5;
}

#InputFemale {
	background: transparent;
	position: absolute;
	border: 0px;
	top: 34%;
	left: 19%;
	font-size: 250%;
	color: #53C1FE;
	width: 28%;
	height: 15%;
	z-index: 4;
	line-height:10.5;
}

#choose_avatar {
	background-color: #012235;
	border: 4px solid #6AC1F7;
	color: #6AC1F7;
	padding: 3%;
	font-size: 200%;
	font-weight: 500;
	text-align: center;
	overflow: hidden;
	position: absolute;
	top: 12%;
	right: 2%;
	height: 13%;
	width: 88%;
	z-index: 2;
}

#done {
	background-color: #012235;
	border: 4px solid #6AC1F7;
	color: #6AC1F7;
	padding: 2%;
	font-size: 220%;
	font-weight: 500;
	text-align: center;
	overflow: hidden;
	position: absolute;
	bottom: 0.5%;
	right: 1%;
	height: 3%;
	width: 20%;
	margin: 4px;
	z-index: 2;
}

#done:HOVER {
	background-color: #B8E6FF;
	color: #0B6EA9;
	border: 4px solid #0B6EA9;
}

#nxt_finger {
	background-color: #012235;
	border: 4px solid #6AC1F7;
	color: #6AC1F7;
	padding: 2%;
	font-size: 220%;
	font-weight: 500;
	text-align: center;
	overflow: hidden;
	position: absolute;
	bottom: 1%;
	left: 1%;
	height: 3%;
	width: 32%;
	z-index: 2;
}

#nxt_finger:HOVER {
	background-color: #B8E6FF;
	color: #0B6EA9;
	border: 4px solid #0B6EA9;
}

#press_button {
	background-image: url('images/fingerprint/press_button.png');
	background-size: 100% 100%;
	position: absolute;
	top: 40%;
	left: 25%;
	height: 15%;
	width: 50%;
	margin: 0px auto;
	z-index: 2;
}

#press_to_begin {
	background-image: url('images/fingerprint/INIT_BTN_BLU.png');
	background-size: 100% 100%;
	position: absolute;
	bottom: 1%;
	right: 2%;
	height: 11%;
	width: 35%;
	margin: 0px auto;
	z-index: 2;
}

#press_to_begin:hover {
	background-image: url('images/fingerprint/INIT_BTN_OVR_BLU.png');
}

#pls_wait {
	background-image:
		url('images/fingerprint/Pls_Wait_Fingr_Dialog_BLU.png');
	background-size: 100% 100%;
	position: absolute;
	top: 40%;
	left: 22%;
	height: 10%;
	width: 56%;
	margin: 0px auto;
	z-index: 3;
}

#scanning {
	background-image: url('images/fingerprint/Scan_Dialog_BLU.png');
	background-size: 100% 100%;
	position: absolute;
	top: 40%;
	left: 22%;
	height: 10%;
	width: 56%;
	margin: 0px auto;
	z-index: 3;
}

#id_recorded {
	background-color: #012235;
	border: 4px solid #6AC1F7;
	color: #6AC1F7;
	padding: 3%;
	font-size: 200%;
	font-weight: 500;
	text-align: center;
	overflow: hidden;
	position: absolute;
	top: 40%;
	left: 25%;
	height: 3%;
	width: 44%;
	z-index: 2;
}

#press_to_enter {
	background-image: url('images/fingerprint/Entr_Name_Bttn_BLU.png');
	background-size: 100% 100%;
	position: absolute;
	bottom: 1%;
	right: 2%;
	height: 11%;
	width: 35%;
	margin: 0px auto;
	z-index: 2;
}

#press_to_enter:hover {
	background-image: url('images/fingerprint/Entr_Name_Bttn_OVR_BLU.png');
}

#MessageBox {
	background-size: 100% 100%;
	position: absolute;
	top: 0%;
	left: 0%;
	margin: 0px auto;
	width: 100%;
	height: 100%;
	z-index: 3;
}

#place_finger {
	background-color: #012235;
	border: 4px solid #6AC1F7;
	color: #6AC1F7;
	padding: 3%;
	font-size: 200%;
	font-weight: 500;
	text-align: center;
	overflow: hidden;
	position: absolute;
	top: 37%;
	left: 23%;
	height: 11%;
	width: 48%;
	margin: 0px auto;
	z-index: 2;
}

#Message {
	background-color: #012235;
	border: 4px solid #6AC1F7;
	color: #6AC1F7;
	position: absolute;
	top: 38%;
	left: 23%;
	min-height: 8%;
	overflow: hidden;
	width: 52%;
	text-align: center;
	font-weight: normal;
	font-size: 170%;
	margin: 0px auto;
	padding: 2%;
	z-index: 3;
	width: 52%;
}

#EditExistingFingerprint {
	background-image: url('images/fingerprint/FNGR_BCKGRND_BLU_03.png');
	background-size: 100% 100%;
	margin: 0px auto;
	width: 100%;
	height: 100%;
	z-index: 1;
}

#popupback {
	background-size: 100% 100%;
	position: absolute;
	top: 0%;
	left: 0%;
	margin: 0px auto;
	width: 100%;
	height: 100%;
	z-index: 3;
}

#popup {
	position: absolute;
	top: 28%;
	left: 25%;
	margin: 0px auto;
	width: 50%;
	height: 30%;
	z-index: 4;
}

#popup_heading {
	background-color: #012235;
	border: 4px solid #6AC1F7;
	color: #6AC1F7;
	text-align: center;
	font-weight: normal;
	font-size: 170%;
	position: relative;
	padding: 4%;
	margin: 0px auto;
	width: 90%;
	min-height: 45%;
	z-index: 4;
}

#popup_yes {
	background-color: #012235;
	border: 4px solid #6AC1F7;
	color: #6AC1F7;
	padding: 2%;
	font-size: 250%;
	font-weight: 500;
	text-align: center;
	overflow: hidden;
	margin-top: 2%;
	float: left;
	width: 41%;
	height: 16%;
	z-index: 4;
}

#popup_yes:HOVER {
	background-color: #B8E6FF;
	color: #0B6EA9;
	border: 4px solid #0B6EA9;
}

#popup_no {
	background-color: #012235;
	border: 4px solid #6AC1F7;
	color: #6AC1F7;
	padding: 2%;
	font-size: 250%;
	font-weight: 500;
	text-align: center;
	overflow: hidden;
	margin-top: 2%;
	float: right;
	width: 41%;
	height: 16%;
	z-index: 4;
}

#popup_no:HOVER {
	background-color: #B8E6FF;
	color: #0B6EA9;
	border: 4px solid #0B6EA9;
}

#choose_fingerprint {
	background-color: #012235;
	border: 4px solid #6AC1F7;
	color: #6AC1F7;
	padding: 3%;
	font-size: 200%;
	font-weight: 500;
	text-align: center;
	overflow: hidden;
	position: absolute;
	top: 3%;
	left: 5%;
	height: 10%;
	width: 73%;
	margin: 0px auto;
	z-index: 2;
}

#press_to_delete {
	background-image: url('images/fingerprint/press_to_delete.png');
	background-size: 100% 100%;
	position: absolute;
	bottom: 0%;
	right: 0%;
	height: 12%;
	width: 36%;
	margin: 0px auto;
	z-index: 2;
}

#press_to_delete:HOVER {
	background-image: url('images/fingerprint/DLT_ALL_OVR_BLU.png');
}

#all_identities {
	position: absolute;
	top: 19%;
	left: 4%;
	height: 80%;
	width: 92%;
	margin: 0px auto;
	z-index: 2;
}

#male_identity {
	background-image: url('images/fingerprint/MAL_AVATAR.png');
	background-size: 100% 100%;
	float: left;
	height: 23%;
	width: 31%;
	margin: 1%;
	z-index: 2;
}

#male_identity:HOVER {
	background-image: url('images/fingerprint/MAL_AVATAR_OVR.png');
}

#female_identity {
	background-image: url('images/fingerprint/FEM_AVATAR.png');
	background-size: 100% 100%;
	float: left;
	height: 23%;
	width: 31%;
	margin: 1%;
	z-index: 2;
}

#female_identity:HOVER {
	background-image: url('images/fingerprint/FEM_AVATAR_OVR.png');
}

#identity_name {
	color: #53C1FE;
	text-align: center;
	font-weight: normal;
	font-size: 200%;
	position: relative;
	top: 80%;
	height: 13%;
	width: 94%;
	margin: 0px auto;
	z-index: 2;
}

#ShowFingerprintRecordsForUser {
	background-image: url('images/fingerprint/FNGR_BCKGRND_BLU_03.png');
	background-size: 100% 100%;
	position: absolute;
	margin: 0px auto;
	width: 100%;
	height: 100%;
	z-index: 1;
}

#record_heading {
	position: absolute;
	top: 3%;
	left: 3%;
	height: 19%;
	width: 94%;
	margin: 0px auto;
	z-index: 3;
}

#heading_identity_male {
	background-image: url('images/fingerprint/MAL_AVATAR.png');
	background-size: 100% 100%;
	float: left;
	height: 100%;
	width: 29%;
	margin: 0px;
	z-index: 2;
}

#heading_identity_female {
	background-image: url('images/fingerprint/FEM_AVATAR.png');
	background-size: 100% 100%;
	float: left;
	height: 100%;
	width: 29%;
	margin: 0px;
	z-index: 2;
}

#heading_identity_name {
	color: #53C1FE;
	text-align: center;
	font-weight: normal;
	font-size: 200%;
	position: relative;
	top: 80%;
	height: 20%;
	width: 94%;
	margin: 0px auto;
	z-index: 3;
}
/* using */
#select_finger {
	background-color: #012235;
	border: 4px solid #6AC1F7;
	color: #6AC1F7;
	padding: 2%;
	font-size: 200%;
	font-weight: 500;
	text-align: center;
	overflow: hidden;
	float: left;
	height: 30%;
	width: 60%;
	margin-left: 1%;
	margin-top: 14%;
	z-index: 2;
}

#select_individual {
	background-color: #012235;
	border: 4px solid #6AC1F7;
	color: #6AC1F7;
	padding: 1%;
	font-size: 200%;
	font-weight: 500;
	text-align: center;
	overflow: hidden;
	position: absolute;
	left: 30%;
	top: 6%;
	height: 80%;
	width: 54%;
	margin: 0px;
	z-index: 2;
}

#left_records {
	text-align: left;
	font-weight: normal;
	font-size: 200%;
	position: absolute;
	top: 24%;
	left: 3%;
	height: 55%;
	width: 47%;
	margin: 0px auto;
	z-index: 2;
	color: #53C1FE;
}

#right_records {
	color: #53C1FE;
	text-align: right;
	font-weight: normal;
	font-size: 200%;
	position: absolute;
	top: 24%;
	right: 3%;
	height: 55%;
	width: 47%;
	margin: 0px auto;
	z-index: 2;
}

#right_hand_index {
	background-image: url('images/fingerprint/FNGR_IND_RCRD_BLU_10.png');
	background-size: 100% 100%;
	float: left;
	height: 29%;
	width: 48%;
	margin: 1%;
	z-index: 2;
}

#right_hand_middle {
	background-image: url('images/fingerprint/FNGR_MID_RCRD_BLU.png');
	background-size: 100% 100%;
	float: left;
	height: 29%;
	width: 48%;
	margin: 1%;
	z-index: 2;
}

#right_hand_ring {
	background-image: url('images/fingerprint/FNGR_RNG_RCRD_BLU.png');
	background-size: 100% 100%;
	float: left;
	height: 29%;
	width: 48%;
	margin: 1%;
	z-index: 2;
}

#right_hand_pinky {
	background-image: url('images/fingerprint/FNGR_PNKY_RCRD_BLU.png');
	background-size: 100% 100%;
	float: left;
	height: 29%;
	width: 48%;
	margin: 1%;
	z-index: 2;
}

#right_hand_thumb {
	background-image: url('images/fingerprint/FNGR_THM_RCRD_BLU.png');
	background-size: 100% 100%;
	height: 29%;
	width: 48%;
	float: left;
	margin: 1%;
	z-index: 2;
}

#left_hand_index {
	background-image: url('images/fingerprint/FNGR_IND_RCRD_BLU_10.png');
	background-size: 100% 100%;
	float: left;
	height: 29%;
	width: 48%;
	margin: 1%;
	z-index: 2;
}

#left_hand_middle {
	background-image: url('images/fingerprint/FNGR_MID_RCRD_BLU.png');
	background-size: 100% 100%;
	float: left;
	height: 29%;
	width: 48%;
	margin: 1%;
	z-index: 2;
}

#left_hand_ring {
	background-image: url('images/fingerprint/FNGR_RNG_RCRD_BLU.png');
	background-size: 100% 100%;
	float: left;
	height: 29%;
	width: 48%;
	margin: 1%;
	z-index: 2;
}

#left_hand_pinky {
	background-image: url('images/fingerprint/FNGR_PNKY_RCRD_BLU.png');
	background-size: 100% 100%;
	float: left;
	height: 29%;
	width: 48%;
	margin: 1%;
	z-index: 2;
}

#left_hand_thumb {
	background-image: url('images/fingerprint/FNGR_THM_RCRD_BLU.png');
	background-size: 100% 100%;
	height: 29%;
	width: 48%;
	float: left;
	margin: 1%;
	z-index: 2;
}

#RecallExistingFingerprint {
	background-image: url('images/fingerprint/FNGR_BCKGRND_BLU_03.png');
	background-size: 100% 100%;
	position: absolute;
	margin: 0px auto;
	width: 100%;
	height: 100%;
	z-index: 1;
}

#swipe_finger {
	background-color: #012235;
	border: 4px solid #6AC1F7;
	color: #6AC1F7;
	padding: 3%;
	font-size: 200%;
	font-weight: 500;
	text-align: center;
	overflow: hidden;
	position: absolute;
	top: 35%;
	left: 25%;
	height: 11%;
	width: 44%;
	z-index: 2;
}

#Verified_Heading {
	background-color: #012235;
	border: 4px solid #6AC1F7;
	color: #6AC1F7;
	padding: 3%;
	font-size: 200%;
	font-weight: 500;
	text-align: center;
	overflow: hidden;
	position: absolute;
	top: 18%;
	left: 26%;
	height: 3%;
	width: 44%;
	margin: 0px auto;
	z-index: 2;
}

#UserDetailsMale {
	background-image: url('images/fingerprint/MAL_AVATAR.png');
	background-size: 100% 100%;
	position: absolute;
	top: 40%;
	left: 35%;
	height: 20%;
	width: 30%;
	margin: 0px auto;
	z-index: 2;
}

#UserDetailsFemale {
	background-image: url('images/fingerprint/FEM_AVATAR.png');
	background-size: 100% 100%;
	position: absolute;
	top: 40%;
	left: 35%;
	height: 20%;
	width: 30%;
	margin: 0px auto;
	z-index: 2;
}

#ErrorScreen {
	background-image: url('images/fingerprint/Error_Fngr_Bckgrnd_BLU.png');
	background-size: 100% 100%;
	position: absolute;
	margin: 0px auto;
	width: 100%;
	height: 100%;
	z-index: 1;
}

#ErrorDialog {
	background-color: #012235;
	border: 4px solid #6AC1F7;
	color: #6AC1F7;
	padding: 3%;
	font-size: 200%;
	font-weight: 500;
	text-align: center;
	overflow: hidden;
	position: absolute;
	top: 44%;
	left: 25%;
	height: 3%;
	width: 44%;
	z-index: 2;
}

#DeleteDialog {
	background-color: #012235;
	border: 4px solid #6AC1F7;
	color: #6AC1F7;
	padding: 2%;
	font-size: 220%;
	font-weight: 500;
	text-align: center;
	overflow: hidden;
	position: absolute;
	top: 44%;
	left: 25%;
	height: 5%;
	width: 46%;
	margin: 0px auto;
	z-index: 2;
}

#press_to_scan_again {
	background-image: url('images/fingerprint/ERR_BTN_BLU.png');
	background-size: 100% 100%;
	position: absolute;
	bottom: 1%;
	right: 1%;
	height: 11%;
	width: 35%;
	margin: 0px auto;
	z-index: 2;
}

#press_to_scan_again:hover {
	background-image: url('images/fingerprint/ERR_BTN_OVR_BLU.png');
}

#NomatchDialog {
	background-color: #012235;
	border: 4px solid #6AC1F7;
	color: #6AC1F7;
	padding: 2%;
	font-size: 220%;
	font-weight: 500;
	text-align: center;
	overflow: hidden;
	position: absolute;
	top: 44%;
	left: 25%;
	height: 5%;
	width: 46%;
	margin: 0px auto;
	z-index: 2;
}
