/* Styles specific to Weather app */
.weatherIcon {
  width: 153px;
  float: left;
}
html {
  position: absolute !important;   
}

#locList {
  visibility: visible;
  overflow: hidden;
  flex: 1;
  display: flex;
}
.itemList {
  margin-top: 26px; 
  overflow-y: scroll;
  overflow-x: hidden;
  touch-action: pan-y;
}
#locListInner {
  visibility: visible;
}
.locListItemInner {
  overflow: hidden;
}
.locListItem {
  width: 3240px;
  overflow: hidden;
  border-top: 1px solid rgb(83, 181, 206);
  border-bottom: 1px solid rgb(83, 181, 206);
  margin-bottom: 15px; 
  margin-top: 0;
}
.forecastGrid {
  display: inline-block;
  vertical-align: middle;
}
.forecastGrid_load {
  display: inline-block;
  vertical-align: middle;
  width: 1076px;
  height: 178px;
  background: rgba(178, 240, 255, .9);
  font-family: verdana,arial,sans-serif;
  z-index: -3;
}
.listItem_load {
  display: inline-block;
  vertical-align: middle;
  width: 716px;
  padding-top: 40px;
  background: -webkit-linear-gradient(left, #000000 0%,transparent 20%,transparent 80%,#000000 100%);
  margin-top: 0;
}
.listItem {
  display: inline-block;
  vertical-align: middle;
  width: 1076px;
  background-color: rgba(83, 181, 206, 0.4);
  margin-top: 0;
  height: 178px;
}
.awxCurrentConditions {  
  background: -webkit-linear-gradient(left, #000000 0%,transparent 20%,transparent 80%,#000000 100%);
  height: 178px;
  display: flex;        
  justify-content: space-between;
  align-items: flex-end;
  flex: 1;
}
.hourly {
  float: left;
  text-align: center;
  width: 178px;  
  border-left:none;
  padding-top: 3px;
}
.hourly > img {
  width: 108px;
}
.fiveDay {
  float: left;
  text-align: center;
  width: 215px;
}
.locName {
  text-transform: uppercase;
  font-weight: bold; 
  text-align: center;
  text-overflow:ellipsis;
  word-wrap: break-word;
  display:  -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.currentDetails {
  line-height: 10px;
  padding-bottom: 20px;
}
.condImage {
  margin-left: 10px;
  margin-bottom: 45px;
}
img.icon {
  width: 100px;
}
.fiveDay > img.icon {
  width: 216px;
  margin-top: -9px;
  left: 0px;
  z-index: -1;
}
.iconPhrase {
  height: 43px;
  margin-top: -13px;
  line-height: 23px;
  margin-bottom: 13px;
  font-size: .75em;
}
.fiveDay > .iconPhrase  {
  margin-top: -93px;
}
.tempBox {
  margin-right: 10px;
}
.temp {
  font-size: 8.25em;
  color: white;
  font-weight: lighter;
  letter-spacing: -5px;
}
.cityName {
  font-weight: bold;
  font-size: 188%;
  line-height: 95%;
}
.itemText {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  margin-top: 8px;
  width: 56%;
}
.moreInfo {
  width: 600px;
  overflow: hidden;
  font-weight: bold;
  color: white;
  align: justify;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-in-out;
  transition: opacity 0.6s ease-in-out;
}
.temp {
  font-size: 4em;
  color: white;
  font-weight: bold;
  letter-spacing: -2px;
  line-height: 1.75em;
}
sup {
  font-size: 50%;
}
.L_indicator {
  margin-right: 7px;
  height: 50px;
  width: 50px;
  float: left;
  margin-top: 15px;
}
.R_indicator {
  margin-left: 10px;
  margin-top: 105px;
  float: right;
}
.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 35px solid transparent;
  border-bottom: 30px solid transparent;  
  border-left: 55px solid rgba(255,255,255, 0.65)
}

.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 35px solid transparent;
  border-bottom: 30px solid transparent;  
  border-right:55px solid rgba(255,255,255, 0.65)
}
.searchResults > li {
  color: #fff;
  font-size: 1.25em;
  margin: 10px;
  padding: 15px;
  background-color: rgba(83, 181, 206, .5);
  border: 1px solid rgb(83, 181, 206);
  width: 555px;
}
.hour_temp  {
  font-weight: bold;
}
.hourly > p {
  color: #333;
  font-size: .85em;
}
.hour {
  font-weight: bold;
}
.weekday {
  font-weight: bold;
  padding-top: 2px;
  font-size: .85em;
}
span.fontSizeSmall {
  padding: 10px;
}

#locationModal{
  display:none;
}
.modal-bkgrnd{
  -webkit-box-shadow: 0 0 90px rgba(135,181,213,0.8);
  width: 615px;
  background-color: #222;
  top: 40%;  
  left: 50%;  
  position: absolute;  
  transform: translate(-50%, -50%);
  padding: 0 20px 20px 30px;
}
.removeLocationControl{
  display: none;
  border: 1px solid rgb(83, 181, 206);
  width: 60px;
  height: 60px;
  background-color: rgba(83, 181, 206, .5);
  float: left;
  margin-top: 55px;
  margin-left: -109px;
}
.removeLocationControl::after {
  content:  "\00d7";
  font-size: 80px;
  line-height: 52px;
  color: rgba(255, 255, 255, 1.0);
}
.addLocation {
  width: 115px;
  height: 115px;
  line-height: 110px;
  text-align: center;
  border: 1px solid rgb(83, 181, 206);
  font-size: 140px;
  background-color: rgba(83, 181, 206, .5);
  color: rgba(196, 196, 196, 1.0);
}
.removeLocation {
  width: 115px;
  height: 115px;
  line-height: 0px;
  text-align: center;
  border: 1px solid rgb(83, 181, 206);
  font-size: 135px;
  background-color: rgba(83, 181, 206, .5);
  color: rgba(196, 196, 196, 1.0);
}

* {
    margin: 0;
    padding: 0;
}
p, ul, li {
  color: #333;
  font-size: .75em;
  margin-bottom: 0px;
}
li {
    margin-left: 0;
    overflow: hidden;
    position: relative;
}
.boxShadow4 {
  box-shadow: 0 0 70px 2px rgba(29, 162, 255, 0.4);
}

.boxShadow4Active:active,.boxShadow4Active:focus {
  box-shadow: 0 0 70px 2px rgb(29, 162, 255);
}
.justify {
  display: flex;  
  align-items: flex-end;    
  justify-content: space-between;
}
#bottomBarLogoImg {
  content:url('/images/accuweather_icon.png');
}
#app {
  flex-direction: column;
  border: 2px solid rgba(255,255,255, 0.5);
}
ul .settingElement {
  margin: 0 40px; 
}