/* note: will ultimately remove the font declaration here and shove it into commons. left here for testing. */
body { font-family: "Droid Sans"; margin: 0; padding: 0; width: 1080px; height: 1920px; color: #fff; background: url(images/bg_blue_1080_1920.png) no-repeat; position: relative; }
div, p, ul { margin: 0; padding: 0; }
.playerWrapper video { position: absolute; top: 230px; left: 55px; width: 610px; height: 300px; padding: 0; margin: 0; display: none; }
.carouselWrapper { width: 765px; height: 300px; position: absolute; top: 230px; left: -15px; padding: 0; margin: 0; display: block; border-bottom-style: solid; border-bottom-width: 1px; }
.carouselList { margin: 0; padding: 0; list-style: none; display: block; }
.carouselList li { display: block; float: left; }
.carouselItem { margin-right: 15px; display: block; width: 240px; height: 300px; overflow: hidden; }
.carouselItemSelected { box-shadow: 0 0 5px 1px #1DA2FF; }
.carouselImage { width: 240px; height: 240px; }
.carouselImageReflect { -webkit-box-reflect: below 1px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 225, 0.4) ) ) }
.albumCarouselDescription { width: 230px; height: 95px; bottom: 95px; padding: 0 5px; }
.albumCarouselDescriptionText { text-align: center; top: 15px; }
.backgroundAudioClass { position: absolute; top: 0; left: 0; width: 720px; height: 1280px; -webkit-background-size: cover; -moz-background-size: cover; -ms-background-size: cover; -o-background-size: cover; background-size: cover; }

/* spectrum analyzer */
.spectrumAnalyzer { position: absolute; top: 775px; left: 300px; width: 400px; height: 110px; }
.barAnalyzer { position: absolute; width: 33px; height: 5px; float: left; margin-left: 5px; }
.bar1Class { left: 0; }
.bar2Class { left: 38px; }
.bar3Class { left: 76px; }
.bar4Class { left: 114px; }
.bar5Class { left: 152px; }
.bar6Class { left: 190px; }
.bar7Class { left: 228px; }
.bar8Class { left: 266px; }
.bar9Class { left: 304px; }
.bar10Class { left: 342px; }

/* text panel artist, album, song title */
.currentlyPlayingPreviewClass { position: absolute; top: 0; left: 0; }
.textPanel { position: absolute; width: 405px; top: 577px; left: 55px; }
.blueIconText { position: relative; height: 25px; }

/* time progress bar and remaining time */
.timeBarClass { position: absolute; top: 0; left: 283px; width: 325px; height: 80px; font-size: large; }
.infoPanelClass { position: absolute; left: 283px; top: 80px; width: 325px; }
.volumeControlClass { position: absolute; top: 928px; left: 35px; width: 660px; height: 55px; background: none; }
.progressPot { position: absolute; top: 4px; left: 0; width: 100%; height: 3px; }
.progressBar { position: absolute; top: 50px; left: 0; width: 325px; height: 10px; border-style: solid; border-width: 0 0 1px 0; }
.leftText { position: absolute; top: 10px; left: 0; width: 40px; height: 15px; }
.rightText { position: absolute; top: 10px; right: 25px; width: 40px; height: 15px; }

/*audio controls*/
.audioControlsButtons { position: absolute; top: 1000px; left: 0; width: 610px; padding: 0 55px; background-repeat: no-repeat; background-position: 50%; }
.previousBtn { opacity: 1; width: 66px; height: 66px; float: left; margin: 0; margin-right: 35px; background-repeat: no-repeat; background-position: 50%; }
.previousBtnActive { opacity: 1; width: 66px; height: 66px; float: left; margin: 0; margin-right: 35px; background-repeat: no-repeat; background-position: 50%; }
.prevBtnInactive { opacity: 0.5; width: 66px; height: 66px; float: left; margin: 0; margin-right: 35px; background-repeat: no-repeat; background-position: 50%; }
.pauseBtn { opacity: 1; width: 66px; height: 66px; float: left; margin: 0 35px; background-repeat: no-repeat; background-position: 50%; }
.playBtn { opacity: 1; width: 66px; height: 66px; float: left; margin: 0 35px; background-repeat: no-repeat; background-position: 50%; }
.nextBtn { opacity: 1; width: 66px; height: 66px; float: left; margin: 0 35px; background-repeat: no-repeat; background-position: 50%; }
.nextBtnActive { opacity: 1; width: 66px; height: 66px; float: left; margin: 0 35px; background-repeat: no-repeat; background-position: 50%; }
.nextBtnInactive { opacity: 0.5; width: 66px; height: 66px; float: left; margin: 0 35px; background-repeat: no-repeat; background-position: 50%; }
.shuffleBtn { width: 66px; height: 66px; float: left; margin: 0 35px; background-repeat: no-repeat; background-position: 50%; }
.shuffleBtnActive { width: 66px; height: 66px; float: left; margin: 0 35px; background-repeat: no-repeat; background-position: 50%; }
.repeatBtn { width: 66px; height: 66px; float: left; margin: 0; margin-left: 35px; background-repeat: no-repeat; background-position: 50%; }
.repeatBtnActive { width: 66px; height: 66px; float: left; margin: 0; margin-left: 35px; background-repeat: no-repeat; background-position: 50%; }
.songNameTextPosition { top: 12px; }
.artistNameTextMargin { margin-bottom: 5px; }

/* library button */
#right-triangle { position: absolute; left: 0; width: 0; height: 0; border-left: 25px solid black; border-top: 23px solid transparent; border-bottom: 22px solid transparent; }
.flag { position: absolute; color: #fff; font-size: 18px; font-weight: bold; letter-spacing: 1px; }
.library-flag { top: 230px; right: 1px; }
.button-flag { background-color: #0e3e5f; position: relative; width: 140px; height: 45px; }

/* Media Carousel*/
.caroufredsel_wrapper { display: block; text-align: start; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 765px; height: 0px; margin: 0px; overflow: hidden; cursor: move; }
.carousellist { text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 383px; margin: 0px; width: 765px; height: 0px; }
.media-carousel-container { width: 1000px; margin: 375px 0 75px 0; background: none; overflow: hidden; height: 420px; border-bottom: #3399FF 1px solid; }
.carousel-item-container { background: url(images/album-art-test.jpg) no-repeat center top; height: 300px; width: 300px; position: relative }
.song-title-carousel { font-size: 30px; position: absolute; top: 212px; }
.artist-name-carousel { font-size: 18px; position: relative; top: 248px; }
.album-carousel-description { width: 230px; height: 95px; bottom: 95px; padding: 0 5px; text-align: center }
ul.no-bullets { list-style-type: none }
.media-carousel-items { text-transform: uppercase; color: #fff; font-weight: 700; border-color: #E00DCF; }
.one-line-ellipsis { overflow: hidden; text-overflow: ellipsis; word-wrap: break-word; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1 }
.two-lines-ellipsis { overflow: hidden; text-overflow: ellipsis; word-wrap: break-word; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2 }
.three-lines-ellipsis { overflow: hidden; text-overflow: ellipsis; word-wrap: break-word; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3 }
.carousel-image-reflect { -webkit-box-reflect: below 1px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.5, transparent), to(white)); ">
}

/* Current Playing Media*/
.current-playing-media-container { overflow: auto; width: 990px; padding: 0 0 0 85px; text-transform: uppercase; }
.fl-left { float: left }
.fl-right { float: right }
.track-number-duration { width: 560px; font-size: 42px; overflow: auto; margin-bottom: 25px; padding: 0 40px 0 0; }
.track-numbers.info { display: inline-block; }
.track-description-container { width: 650px; }
.track-playing-text { border-left: #3399FF 70px solid; padding-left: 10px; font-size: 20px; line-height: 20px; margin: 0; position: relative; left: 342px; top: 72px; }
.artist-name-text { font-size: 34px; }
.album-name-text { font-size: 20px; }
.song-title-text { font-size: 48px; }
.album-title-text { font-size: 42px; color: #3aaeff; }
.album-thumbnail { width: 300px; height: 300px; }
.clear-me { clear: both; }
.spectrumAnalyzer { width: 600px; height: 200px; position: relative; top: -10px; margin-left: 343px; }
.playback-console-container { width: 1080px; height: 121px; padding: 5px 0; margin: 116px 0 54px 0; }
.set-media-time-bar-holder { height: 55px; }

/* ARTISTS */
.musicLibraryContentList .musicElement { padding: 10px 0 10px 0; height: 70px; box-shadow: none; border-bottom-style: solid; border-bottom-width: 2px; line-height: 0; text-align: left; cursor: pointer; }
.musicLibraryContentList .musicImage { width: 70px; height: 70px; display: inline-block; margin-right: 20px; background-position: center center; background-repeat: no-repeat; background-size: 100% 100%; }
.musicLibraryContentList .musicImage img { width: 100%; height: 100%; }
.musicLibraryContentList .musicInfoBox { display: inline-block; vertical-align: top; padding-top: 11px; background-color: transparent !important; }
.musicLibraryContentList .musicInfoBox.musicInfoBoxCentered { padding-top: 20px; }
.musicInfoBoxShort { max-width: 470px; }
.musicLibraryContentGrid { line-height: 0; }
.musicLibraryContentGrid .musicElement { width: 180px; height: 180px; display: inline-block; margin-right: 7px; margin-bottom: 10px; line-height: 0; vertical-align: top; cursor: pointer; }
.musicLibraryContentGrid .musicImage { width: 100%; height: 100%; background-position: center center; background-repeat: no-repeat; background-size: 100% 100%; }
.musicLibraryContentGrid .musicImage img { width: 100%; height: 100%; }
.musicLibraryContentGrid .musicInfoBox { position: absolute; top: 110px; left: 0; width: 180px; height: 70px; text-align: center; }
.musicLibraryContentGrid .musicElement .contentTitle { width: 160px; margin: 10px auto 0 auto; }
.textTransformUppercase { text-transform: uppercase; }

/* LIBRARY */
.library { position: absolute; left: 720px; top: 0; width: 720px; min-height: 1280px; z-index: 100; -webkit-transition: 1s; }
.libraryLeftPanel { position: absolute; top: 0; left: 0; width: 100px; min-height: 1280px; height: 100%; background-repeat: no-repeat; background-position: left top; }
.libraryLeftControl { margin-top: 164px; width: 100px; cursor: pointer; }
.gridIcon { width: 100px; height: 110px; background-repeat: no-repeat; background-position: left top; }
.listIcon { width: 100px; height: 110px; background-repeat: no-repeat; background-position: left top; }
.searchIcon { width: 100px; height: 110px; background-repeat: no-repeat; background-position: left top; }
.libraryTopPanel { margin: 0; padding: 0; margin-left: 50px; height: 110px; background-repeat: no-repeat; background-position: left top; z-index: 1; overflow: hidden; }
.libraryTopPanel .libraryTopPanelTitle { position: absolute; left: 57px; top: 19px; font-size: 0; }
.closeLibraryButton { position: absolute; top: 25px; right: 25px; background-repeat: no-repeat; background-position: left top; width: 42px; height: 42px; z-index: 1; }
.closeLibraryButton:active { position: absolute; top: 26px; }
.libraryTabs { position: absolute; left: 40px; font-size: 0; overflow-y: hidden; overflow-x: scroll; white-space: nowrap; width: 550px; height: 100%; bottom: -10px; padding-bottom: 10px; }
.tabsWrapper { position: absolute; font-size: 0; /*overflow: auto;*/ height: 100%; }
.libraryTab { float: left; padding-top: 33px; padding-left: 15px; padding-right: 15px; height: 77px; max-width: 220px; overflow: hidden; white-space: nowrap; cursor: pointer; background-repeat: repeat-x; background-position: center top; text-transform: uppercase; }
.libraryTabSelected { background-repeat: no-repeat; }
.libraryTabClear { display: inline-block; height: 110px; width: 130px; background-repeat: repeat-x; background-position: center top; position: absolute; top: 0; left: 640px; }
.libraryTabInlineClear { display: inline-block; height: 110px; max-width: 630px; background-repeat: repeat-x; background-position: center top; }
.libraryTopSubPanel { margin-top: -20px; left: 76px; padding-top: 20px; height: 60px; width: 645px; margin-bottom: 20px; z-index: 0; text-transform: uppercase; }
.closeLibrarySubPanelButton { height: 43px; background-repeat: no-repeat; background-position: left top; text-align: right; padding: 0 15px 0 35px; line-height: 43px !important; display: block; margin-left: 20px; /*vertical-align: top;*/ cursor: pointer; text-transform: uppercase; position: absolute; top: 20px; }
.closeLibrarySubPanelButton:active { top: 21px; }
.libraryTopSubPanel .subPanelArea { margin-top: -2px; margin-left: 150px; /*vertical-align: top;*/ display: block; line-height: 0; max-width: 470px; overflow: hidden; position: absolute; }
.libraryContent { margin-left: 90px; margin-right: 50px; overflow-x: hidden; overflow-y: auto;/*-webkit-overflow-scrolling: touch;*/ }
.boxIconText { position: relative; height: 25px; }
.boxIconRectangle { display: inline-block; vertical-align: middle; width: 55px; height: 15px; }
.boxIconCaption { margin-left: 3px; display: inline-block; vertical-align: middle; }
.boxIconRectangleSmall { width: 30px; height: 10px; display: inline-block; vertical-align: middle; }
.boxIconCaptionSmall { margin-left: 3px; display: inline-block; vertical-align: middle; }
