.bottomPanelLogoImg {
	background: url('../images/AMG_Linux_White.png') no-repeat center !important;
}

.bottomPanelLogo {
	position: absolute;
	left: 205px !important;
	top: 49px;
	width: 300px !important;
	height: 150px;
}
