.settingsContent .settingElement {
	padding: 20px 0;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
	text-transform: uppercase;
}

.themesContent {
	line-height: 0;
}

.themesContent .themeElement {
	width: 215px;
	height: 215px;
	display: inline-block;
	margin-right: 7px;
	margin-bottom: 10px;
	cursor: pointer;
}

.themesContent .themeElement .themeImage {
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.themesContent .themeElement .themeImage img {
	width: 100%;
	height: 100%;
}

.themesContent .themeElement .themeTitle {
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 80px !important;
	top: -80px;
	left: 0;
	height: 80px;
	overflow: hidden;
	text-align: center;
	text-transform: uppercase;
}

.wifiElement {
	padding: 20px 0;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
	text-transform: uppercase;
}

.wifiElement .wifiElementInfoBox {
	width: 495px;
	display: block;
	float: left;
}

.wifiElement .wifiElementSubtitle {
	margin-top: 5px;
}

.wifiElement .wifiElementButton {
	display: block;
	float: right;
	width: 180px;
	top: 26px;
}

.toggleButton {
	width: 90px;
	height: 43px;
}

.toggleButtonBackground {
	width: 100%;
	height: 100%;
	opacity: 0.5;
}

.toggleButton .toggleButtonText {
	position: relative;
	text-align: center;
	top: -43px;
	line-height: 43px;
}

.subPanelToggleButton {
	position: absolute;
	right: 20px;
	top: 20px;
}

.subPanelToggleButtonWide {
	width: 200px;
}

.buttonsArea {
	width: 680px;
	margin-top: 20px;
	min-height: 43px;
}

.wifiRefreshButton {
	width: 180px;
	float: left;
}

.addNetworkButton {
	width: 180px;
	float: right;
}

.bluetoothRefreshButton {
	width: 180px;
	margin: 0 auto;
}

.wifiNetworkInfoElement {
	padding: 10px 0;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
	text-transform: uppercase;
}

.networkConnectButton {
	margin: 20px auto;
	width: 200px;
}

.loadingSpinnerWifi {
	position: absolute;
	top: 33px;
	right: 240px;
}

.loadingSpinnerBluetooth {
	position: absolute;
	top: 33px;
	right: 240px;
}

.popupContainer {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 999;
	display: none;
    top: 0;
    left: 0;
}

.popupContainerWrapper {
	width: 100%;
	height: 100%;
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
}

.popupWrapper {
	border-width: 1px;
	border-style: solid;
}

.popupHeader {
	width: 400px;
	height: 80px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	text-transform: uppercase;
}

.popupContent {
	width: 400px;
	min-height: 100px;
}

.popupContentContainer {
	padding: 10px;
}

.popupContentContainerKey {
	text-transform: uppercase;
	display: block;
}

.popupContentContainerValue {
	text-transform: uppercase;
	display: block;
}

.popupInputBox {
	margin-top: 10px;
}

.popupFooter {
	width: 400px;
	border-top-width: 1px;
	border-top-style: solid;
}

.popupButton {
	width: 185px;
	height: 55px;
	display: inline-block;
	padding: 10px 0 10px 10px;
}

.popupButtonBackground {
	width: 100%;
	height: 100%;
	opacity: 0.5;
}

.popupButton .popupButtonText {
	position: relative;
	text-align: center;
	top: -55px;
	line-height: 55px;
}

.contentContainer {
	padding: 10px;
}

.contentContainerKey {
	text-transform: uppercase;
	display: inline-block;
	width: 200px;
}

.contentContainerValue {
	text-transform: uppercase;
	display: inline-block;
}

.contentInputBox {
	display: inline-block;
}

.inputBox .settingsInputWideInline {
	width: 350px;
}

.inputBox .settingsInputSelectionWideInline {
	width: 310px;
}

.wifiHandoverButton {
	width: 300px;
	margin: 0 auto;
}

.disabledArea {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	z-index: 11;
}

.bluetoothPINCode {
	float: left;
	bottom: 10px;
	left: 34px;
	z-index: 100;
	position: absolute;
	text-transform: uppercase;
}