/* Overrides */

/* Overrides DNA_common/css/common.css*/

#navigation-app #app {
	overflow: hidden;
	position: relative;
	flex-direction: column;
}

.content {
	flex: 1;
	padding: 20px;
}

.label,
.content h3 {
	margin: 0; 
}

.label-lead-line {
	width: 20%;
	margin: 6px 10px 6px 0;
}

/* Overrides DNA_common/components/progressBar/progressBar.css */

#navigation-app #VCouter,
#navigation-app #VCbarWrapper,
#navigation-app #VCline,
#navigation-app #VCinner {
	position: relative;
	top: 0;
	left: 0;
}

#navigation-app #VCinner {
	height: 6px;
}

/* Overrides DNA_common/components/bottomBar/css/bottomBar.css 
	 and DNA_common/components/topBar/css/topBar.css */

#nav-map {
	position: relative;
}

.flex-val-2 {
	flex: 2;
}

.flex-val-3 {
	flex: 3;
}

.flex-val-5 {
	flex: 5;
}

.placesLibraryContentList .placesElement {
	padding: 10px 0 10px 0;
	height: 70px;
	box-shadow: none;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	line-height: 0;
	text-align: left;
	cursor: pointer;
}

.placesLibraryContentList .placesBox {
	display: inline-block;
	vertical-align: top;
	padding-top: 20px;
	background-color: transparent !important;
}

#turn-arrow {
	width: 100%;
	height: 70px;
	background-repeat: no-repeat;
	background-position: center center;
}

#navigation-panel {
	flex: 9;
}

#indicators {
	margin-right: 20px;
}

#nav-directions p,
#destination-item p {
	margin: 0;
}

#nav-data-top .content {
	height: 200px;
}

#nav-data-bottom {
	height: 150px;
}

#distance-to > small {
	font-size: .8em;
	color: rgba(196, 196, 196, 0.8);
	padding-left: 6px;
}

/* Hex Arrow */

.hex-arrow {
	width: 200px;
	height: 50px;
	line-height: 50px;
	background-image: url(../images/blue_lt_flag.png);
	background-repeat: no-repeat;
	background-size: 100%;
}

.menu-icon {
	width: 18px;
	height: 18px;
	display: inline-block;
	background-image: url(../images/menu_icon_black.png);
	background-size: 18px;
}
					
/* Library */


#places-library.expanded {
	left: 0;
}

#destination-address {
	margin-top: 2px;
}

#destination-address-town {
	margin-top: 2px;
}

#still-to-go-time-and-distance {
	margin: 0;
}

#still-to-go-time-and-distance > .time:after {
	content: "/";
}

#arrival-text:before {
	content: "arrival ";
}

#arrival-text small:before {
	content: " (";
}

#arrival-text small:after {
	content: ")";
}

#arrival-text small.metric:after {
	content: "km/h)";
}

#arrival-text small.imperial:after {
	content: "mph)";
}

.view-switch {
	right: 0;
	bottom: 0;
	position: absolute;
	width: 180px;
	height: 180px;
}

.satellite-icon {
	background-image: url(../images/satellite_hex_icon.png);
	display: none;
}

.map-icon {
	background-image: url(../images/mapview_hex_icon.png);
}

.map-icon,
.satellite-icon {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 75%;
}

.bottomPanelLogoImg {
	background: url('../images/AMG_Linux_White.png') no-repeat center !important;
}
