/* This rule can be removed once showLoadingSpinner() is removed form JS */
#loadingSpinnerWrapper.loadingSpinnerWrapper {
    display: none !important;
}

/**********************************************************/

body {
    background-color: rgb(0,0,0);
    background-image: url("/DNA_common/images/Hex-Background.jpg");
    display: flex;
}

/* Switches ***********************************************/

#powerToggle {
  margin-top: 10em;
}

.switch {
    margin-left:auto;
    margin-right:auto;
}

.switch-mysize .switch-plate {
    width: 112px;
    height: 38px;
}

.nfcBackground {
    position: absolute;
    left: 0;
    top: 0;
    width: 720px;
    height: 1280px;    
}

.nfcwrapper {
  position: relative;
}

.nfcPowerText {
    position: absolute;
    top: 6em;
    width: 100%;
    text-align: center;
    color: rgb(196,196,196);
}

.toggleLabelOff{
    float: left;
}

.toggleLabelOn{
    float: right;
}

.toggleLabel {
    margin-top: 1em;
    margin-left:auto;
    margin-right:auto;
    width: 155px;
    height: 38px;
    color: rgb(196, 196, 196);
    text-align: center;
}

.inputBar {
    margin-top: 2em;
    width: 28.0em;
    height: 80px;
    margin-left:3em;
    margin-right:auto;
    border: none;
}

.inputNumber {
    width: 100%;
    height: 100%;
    display: inline;
    float: left;
    border: none;
    line-height: 1.25em;
    color: rgb(196,196,196);
    font-size:3rem;
    padding-left:20px;
}

.inputNumber:active {
    border: 1px solid #ffffb2;
    outline: none;
}

.keyboard {
    display: none;
}

.nfcAdapterPoweredWrapper {
    position: absolute;
    width: 100%;
    height: 720px;
    top: 20em;
    color: rgb(196,196,196);
}

.nfcNDEFRecordTextInputBox {
    width: 380px;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 170px;
}

.inputBox input.nfcNDEFRecordTextInput {
    text-align: center;
    width: 330px;
    padding-right: 25px;
}

.inputBox input.nfcNDEFRecordTextInput:focus {
    color: rgb(255, 255, 255);
    color: rgba(255, 255, 255, 1.0);
    font-size: 34px;
    line-height: 34px;
}

.nfcNDEFMessageText {
    text-align: center;
    position: absolute;
    top: .5em;
    width: 100%;
}

.nfcPlaceTagText {
    text-align: center;
    position: absolute;
    top: 0em;
    width: 100%;
}

.nfcWriteDataWrapper {
    position: absolute;
    top: .5em;
    width: 100%;
    height: 119px;
}

.nfcEditDataText {
    text-align: center;
}

.nfcWriteDataButton {
    width: 220px;
    margin: 30px auto 0 auto;
    padding: 1em;
    border: 1px solid rgb(196, 196, 196);
    background: rgba(0, 0, 0, 0.9);
    box-shadow: inset 0 0 20px rgb(205, 255, 178);
    color: rgb(255, 255, 255);
    list-style: none;
    text-align: center;
    line-height: 43px;
}

.nfcWriteDataButton:active{
    border: 1px solid rgb(255, 255, 178);
    background: rgba(0, 0, 0, 0.9);
    box-shadow: inset 0 0 36px rgb(89, 255, 0);
    color: rgb(205, 255, 178);
}
@-webkit-keyframes wink {
    from { background-position: 0; }
    to { background-position: -5356px; }
}

.nfcPlaceTag {
    position:absolute;
    top: 9em;
    height: 412px;
    width: 412px;
    left:11.0em;
    color: rgb(197,197,197);
	background-image:url(../images/tag_detection_img.png);
	-webkit-animation: wink 1.5s steps(13) infinite;
}

.on.nfcPlaceTag {
    background-image: url('../images/detectorHexOn.png');

}

.off.nfcPlaceTag {
    background-image:url(../images/tag_detection_img.png);
	-webkit-animation: wink 1.5s steps(13) infinite;

}

.hexText {
    text-align: center;
    position: absolute;
    top: 5em;
    height: 412px;
    width: 412px;
}


.dummy {
    top: 15em;
    height: 412px;
    width: 412px;
}

.nfcTagDetected {
    height: 412px;
    width: 412px;
    top: 10em;
    left: 20.4em;
    margin: 20em 0 0 20.7em;
    color: rgb(197,197,197);
    background-image: url('../images/detectorHexOn.png');
    background-repeat: no-repeat;
/* background-position: -3296px 0;
}

.nfcTagNotDetected {
    background-position: 0 0;
    -webkit-animation-duration: 0.75s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: step-start;
    -webkit-animation-name: animate-detecting;
    -webkit-animation-direction: alternate;
}

@keyframes animate-detecting {
    0% {
	background-position: 0 0;
    }

    12.5% {
	background-position: 0 0;
    }

    25% {
	background-position: -412px 0;
    }

    37.5% {
	background-position: -824px 0;
    }

    50% {
	background-position: -1236px 0;
    }

    62.5% {
	background-position: -1648px 0;
    }

    75% {
	background-position: -2060px 0;
    }

    87.5% {
	background-position: -2472px 0;
    }

    100% {
	background-position: -2884px 0;
    }
}*/

.bottomPanelLogoImg {
    background: url('../images/AMG_Linux_White.png') no-repeat center !important;
}

