<?xml version="1.0"?>
<cameras>
   <camera id="0">
      <type>USB</type>
      <location>usb-0000:00:1d.0-1.1</location>
      <gst_launch_cmd>/usr/bin/gst-launch-1.0 -q v4l2src device=/dev/video0 ! videorate ! video/x-raw, format=YUY2, width=320, height=240, framerate=15/1 ! videoconvert ! queue ! theoraenc ! oggmux</gst_launch_cmd>
   </camera>

  <camera id="1">
      <type>USB</type>
      <location>usb-0000:00:1d.0-1.4</location>
      <gst_launch_cmd>/usr/bin/gst-launch-1.0 -q v4l2src device=/dev/video1 ! videorate ! video/x-raw, format=YUY2, width=320, height=240, framerate=15/1 ! videoconvert ! queue ! theoraenc ! oggmux</gst_launch_cmd>
   </camera>

  <camera id="2">
      <type>USB</type>
      <location>usb-0000:00:1d.0-2.2</location>
      <gst_launch_cmd>/usr/bin/gst-launch-1.0 -q v4l2src device=/dev/video2 ! videorate ! video/x-raw, format=YUY2, width=320, height=240, framerate=15/1 ! videoconvert ! queue ! theoraenc ! oggmux</gst_launch_cmd>
   </camera>

   <camera id="7">
      <type>IP</type>
      <location>rtsp://192.168.4.80:554/13</location>
      <screenshot_stream>1</screenshot_stream>
      <gst_launch_cmd>/usr/bin/gst-launch-1.0 -q rtspsrc location=rtsp://192.168.4.80:554/13 latency=100 ! rtph264depay ! avdec_h264 ! videorate ! jpegenc ! multifilesink location=/home/app/.config/xwalk-service/applications/intelPoc41.JLRCameras/tmp/7.jpg</gst_launch_cmd>
   </camera>

   <camera id="8">
      <type>IP</type>
      <screenshot_stream>1</screenshot_stream>
      <location>rtsp://192.168.4.89:554/13</location>
      <gst_launch_cmd>/usr/bin/gst-launch-1.0 -q rtspsrc location=rtsp://192.168.4.89:554/13 latency=100 ! rtph264depay ! avdec_h264 ! videorate ! jpegenc ! multifilesink location=/home/app/.config/xwalk-service/applications/intelPoc41.JLRCameras/tmp/8.jpg</gst_launch_cmd>
   </camera>

   <camera id="9">
      <type>IP</type>
      <screenshot_stream>1</screenshot_stream>
      <location>rtsp://192.168.4.78:554/13</location>
      <gst_launch_cmd>/usr/bin/gst-launch-1.0 -q rtspsrc location=rtsp://192.168.4.78:554/13 latency=100 ! rtph264depay ! avdec_h264 ! videorate ! jpegenc ! multifilesink location=/home/app/.config/xwalk-service/applications/intelPoc41.JLRCameras/tmp/9.jpg</gst_launch_cmd>
   </camera>

   <camera id="10">
      <type>IP</type>
      <screenshot_stream>1</screenshot_stream>
      <location>rtsp://192.168.4.168:554/13</location>
      <gst_launch_cmd>/usr/bin/gst-launch-1.0 -q rtspsrc location=rtsp://192.168.4.168:554/13 latency=100 ! rtph264depay ! avdec_h264 ! videorate ! jpegenc ! multifilesink location=/home/app/.config/xwalk-service/applications/intelPoc41.JLRCameras/tmp/10.jpg</gst_launch_cmd>
   </camera>

   <camera id="11">
      <type>IP</type>
      <screenshot_stream>1</screenshot_stream>
      <location>rtsp://192.168.4.131:554/13</location>
      <gst_launch_cmd>/usr/bin/gst-launch-1.0 -q rtspsrc location=rtsp://192.168.4.131:554/13 latency=100 ! rtph264depay ! avdec_h264 ! videorate ! jpegenc ! multifilesink location=/home/app/.config/xwalk-service/applications/intelPoc41.JLRCameras/tmp/11.jpg</gst_launch_cmd>
   </camera>

   <camera id="12">
      <type>IP</type>
      <screenshot_stream>1</screenshot_stream>
      <location>rtsp://192.168.4.188:554/13</location>
      <gst_launch_cmd>/usr/bin/gst-launch-1.0 -q rtspsrc location=rtsp://192.168.4.188:554/13 latency=100 ! rtph264depay ! avdec_h264 ! videorate ! jpegenc ! multifilesink location=/home/app/.config/xwalk-service/applications/intelPoc41.JLRCameras/tmp/12.jpg</gst_launch_cmd>
   </camera>

   <camera id="14">
      <type>ANALOG</type>
      <location>PCIe:0000:03:00.0</location>
      <input>0</input>
      <standard>NTSC-M</standard>
      <gst_launch_cmd>/usr/bin/gst-launch-1.0 -q v4l2src device=/dev/video2 ! video/x-raw, format=YUY2, width=320, height=240 ! videoconvert ! queue ! theoraenc ! oggmux</gst_launch_cmd>
   </camera>
</cameras>
