<?xml version="1.0"?>
<cameras>
   <camera id="0">
      <type>USB</type>
      <location>usb-0000:00:1d.0-1.2.1.2</location>
      <gst_launch_cmd>/usr/bin/gst-launch-0.10 -q v4l2src device= video_source ! video/x-raw-yuv, framerate=30/1, width=640, height=480 ! ffmpegcolorspace ! theoraenc ! oggmux</gst_launch_cmd>
   </camera>

   <camera id="7">
      <type>IP</type>
      <location>rtsp://10.13.8.114:554</location>
      <gst_launch_cmd>/usr/bin/gst-launch-1.0 -q rtspsrc location= video_source ! rtph264depay ! h264parse ! mp4mux fragment-duration=10000 streamable=1</gst_launch_cmd>
   </camera>

   <camera id="8">
      <type>IP</type>
      <location>rtsp://10.13.8.117:554</location>
      <gst_launch_cmd>/usr/bin/gst-launch-1.0 -q rtspsrc location= video_source ! rtph264depay ! h264parse ! mp4mux fragment-duration=10000 streamable=1</gst_launch_cmd>
   </camera>

   <camera id="9">
      <type>IP</type>
      <location>rtsp://10.13.8.119:554</location>
      <gst_launch_cmd>/usr/bin/gst-launch-1.0 -q rtspsrc location= video_source ! rtph264depay ! h264parse ! mp4mux fragment-duration=10000 streamable=1</gst_launch_cmd>
   </camera>

   <camera id="10">
      <type>IP</type>
      <location>rtsp://10.13.8.92:554/live1.sdp</location>
      <gst_launch_cmd>/usr/bin/gst-launch-1.0 -q rtspsrc location= video_source ! rtph264depay ! h264parse ! mp4mux fragment-duration=10000 streamable=1</gst_launch_cmd>
   </camera>

   <camera id="11">
      <type>IP</type>
      <location>rtsp://10.13.8.102:554/live1.sdp</location>
      <gst_launch_cmd>/usr/bin/gst-launch-1.0 -q rtspsrc location= video_source ! rtph264depay ! h264parse ! mp4mux fragment-duration=10000 streamable=1</gst_launch_cmd>
   </camera>

   <camera id="12">
      <type>IP</type>
      <location>rtsp://10.13.8.112:554/live1.sdp</location>
      <gst_launch_cmd>/usr/bin/gst-launch-1.0 -q rtspsrc location= video_source ! rtph264depay ! h264parse ! mp4mux fragment-duration=10000 streamable=1</gst_launch_cmd>
   </camera>

   <camera id="14">
      <type>ANALOG</type>
      <location>PCIe:0000:02:00.0</location>
      <input>0</input>
      <standard>PAL</standard>
      <gst_launch_cmd>/usr/bin/gst-launch-0.10 -q v4l2src device= video_source ! video/x-raw-yuv, width=640, height=480 ! ffmpegcolorspace ! theoraenc ! oggmux</gst_launch_cmd>
   </camera>
</cameras>