.tabBar {
	position: absolute;
	top: 80px;
	left: 0;
	width: 720px;
	height: 80px;
}

.tabBar div {
	float: left;
	line-height: 80px;
	height: 80px;
	cursor: pointer;
}

.tabBar .addTabBtn {
	float: right;
	width: 80px;
	text-align: center;
	font-size: 70px;
	line-height: 65px;
}

.tabBar .tab {
	overflow: hidden;
}

.tabBar .tab .tabIcon {
	position: absolute;
	top: 33px;
	left: 5px;
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	background-size: 16px 16px;
	background-image: url('./images/default.png');
}

.tabBar .tab .text { /* max-width: 100%;
	margin-right: 10px; */
	margin-left: 26px;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
}

.tabBar .tab .closeTabBtn {
	display: none;
	position: absolute;
	top: 19px;
	right: 5px;
	width: 42px;
	height: 42px;
	border-radius: 21px;
	background-image: url("car/images/bt_close.png");
}

.tabBar .closeTabBtn:active {
	background-color: rgb(200, 0, 0);
	background-color: rgba(200, 0, 0, 0.5);
}

.browserContent {
	position: absolute;
	top: 160px;
	left: 0;
	width: 720px;
	height: 860px;
	overflow: auto;
	z-index: 1; /* for visible scrollbars  */
}

.actionBlocker {
	position: absolute;
	top: 160px;
	left: 0;
	width: 720px;
	height: 860px;
	z-index: 0;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	display: -webkit-box;
}

.actionBlockerBg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.loadingDots {
	display: inline-block;
	margin-left: 5px;
	width: 40px;
}

.jlrIFrame {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
	background-color: rgb(255, 255, 255);
	z-index: 0;
}