/* APPLICATIONS */
@import url("./musicplayer.css");
@import url("./store.css");
@import url("./homescreen.css");
@import url("./dashboard.css");
@import url("./phone.css");
@import url("./settings.css");
@import url("./hvac.css");
@import url("./nouislider.fox.css");
@import url("./navigation.css");
@import url("./audiocontrols.css");
@import url("./weather.css");
@import url("./nfc.css");
@import url("./fingerprint.css");
@import url("./keyboard.css");
@import url("./voicePrint.css");
@import url("./email.css");

/* COMPONENTS */
@import url("./common.css");
@import url("./topbariconsimages.css");
@import url("./bottombaricons.css");
@import url("./progressBarImg.css");
@import url("./library.css");
@import url("./tabs.css");

.libraryButton {	
	background-image: url("images/common/bt_library_green.png");
}

.backButton {	
	background-image: url("images/common/bt_back_green.png");
}

.previousButton {
	background-image: url("images/common/bt_previous_green.png");
}

.nextButton {
	background-image: url("images/common/bt_next_green.png");
}
