/*  Added for review */

/* ////////////// GREEN THEME ////////////// */

#voiceHomeScreenBg {
	background-image: url('./images/voicePrint/VP_Sml_BCKGRND_GRN.png');
	background-size: 100% 100%;
	height: 100%;
	width: 100%;
	margin: 0px auto;
	z-index: 1;
	position: absolute;
}

#homeScreenLabel {
	top: 5%;
	left: 4.5%;
	width: 90%;
	height: 12%;
	background-size: 100% 100%;
	overflow: hidden;
	margin: 0px auto;
	z-index: 2;
	position: absolute;
    border: 2px solid rgb(112, 213, 59);
}

#homeScreenLabel h1 {
	color: rgb(224, 246, 213);
	font-weight: 600;
	font-size: 4em;
	text-align: center;
	padding: 30px;
}

/* ////////////// Home Screen Buttons ////////////// */

.homeScreenButtons {
	width: 40%;
	height: 8.5%; 
	background-size: 100% 100%;
	margin: 0px auto;
	z-index: 2;
	position: absolute;
	color: rgb(112, 213, 59);
	border: 2px solid rgb(112, 213, 59);
	background-color: rgba(22, 46, 10, .8);
	font-size: 2em;
	text-align: center;
	left: 29.8%;
}

.homeScreenButtons:active {
	color: rgb(207, 237, 255);
	background-color: rgba(207, 237, 255, .2);
}

#recallExisting p {padding: 28px 5px;}
#recallExisting {top: 26.8%;}
#recallExisting:active {top: 26.8%;}

#createNew p {padding: 28px;}
#createNew {top: 43.7%;}
#createNew:active {top: 43.7%;}

#editExisting p {padding: 28px;}
#editExisting {top: 60.5%;}
#editExisting:active {top: 60.5%;}

/* --------------------------------------------------------------------------- */
.container {
	height: 100%;
	width: 100%;
	position: absolute;
	background-image: url('./images/voicePrint/VP_Sml_BCKGRND_GRN.png');
	background-size: 100% 100%;
	margin: 0px auto;
	z-index: 1;
}

/* #userInputBackButton {
	position: absolute;
	top: 0%;
	right: 0.5%;
	width: 15%;
	height: 10%;
	background-image: url(./images/voicePrint/REC_BACK_GRN_ICON.png);
	background-color: black;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	overflow: hidden;
	z-index: 2;
} */

.voiceBack {
	position: absolute;
	top: 0%;
	right: 0.5%;
	width: 15%;
	height: 10%;
	background-image: url(./images/voicePrint/REC_BACK_GRN_ICON.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	overflow: hidden;
	z-index: 2;
}

#inputLabelForContainer {
	position: absolute;
	top: 12.5%;
	left: 5%;
	width: 89%;
	height: 10%;
	background-size: 100% 100%;
	overflow: hidden;
	margin: 2px;
	z-index: 2;
	border: 2px solid rgb(112, 213, 59);
	background-color: rgba(22, 46, 10, .8);
}

#inputLabelForContainer p {
	font-size: 1.8em;
	color: rgb(112, 213, 59);
	text-align: center;
	padding: 38px;
}

/* Female */
#inputProfileStruct0 {
	background-image: url(./images/voicePrint/FEM_AVATAR.png);
	background-size: 100% 100%;
	/*border: 3px solid green;*/
	position: absolute;
	top: 32%;
	left: 15%;
	width: 30%;
	height: 20%;
	text-transform:uppercase;
	overflow: hidden;
	z-index: 2;
}

#inputProfileStruct0:active {
	background-image: url(./images/voicePrint/FEM_AVATAR_OVR.png);
}

/* Male */
#inputProfileStruct1 {
	background-image: url(./images/voicePrint/MAL_AVATAR.png);
	background-size: 100% 100%;
	/*border: 3px solid green;*/
	position: absolute; top : 32%;
	/*left: 70%;*/
	right: 15.5%;
	width: 30%;
	height: 20%;
	text-transform:uppercase;
	overflow: hidden;
	z-index: 2;
	top: 32%;
}

#inputProfileStruct1:active {
	background-image: url(./images/voicePrint/MAL_AVATAR_OVR.png);
}

/*
.InputDefaultProfile {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 80%;
  background-image: url(./images/voicePrint/Avatar_male_outlier.png);
  background-size:100% 100%;
  overflow: hidden;
}

.inputDisplayNameControl {
  position: absolute;
  background: #1B2A0A;
  top: 80%;
  left: 0.5%;
  width: 99%;
  height: 20%;
  color: #70D53B;
  color: white;
  text-align: center;
  font-weight:bold;
  font-size:200%;
  margin: 2px;
  z-index: 2;
  overflow: hidden;
}
*/
.testBoxInput {
	position: absolute;
	background: #1B2A0A;
	border: none ! important; box-shadow : none ! important; outline : none
	! important; background-color : transparent;
	top: 0%; left : 1%; right : 1%; width : 90%;
	height: 95%; color : #70D53B; font-size : 200%; margin : 2px; z-index :
	3;
	text-transform:uppercase;
	padding: 5px;
	text-align: center;
	overflow: hidden;
	line-height:13.5;	
}

/*
background-color:transparent;
#hand_unit_id {
    border: none ! important;
    box-shadow: none ! important;
    outline: none ! important;
}
#hand_unit_id:focus {
    border: none ! important;
    box-shadow: none ! important;
    outline: none ! important;
}
*/

#doneButton p {
	font-size: 2em;
	color: rgb(112, 213, 59);
	text-align: center;
	padding: 11px;
}

#doneButton {
	position: absolute;
	top: 63%;
	right: 5%;
	width: 30%;
	height: 5%;
	background-size: 100% 100%;
	margin: 4px;
	z-index: 2;
	overflow: hidden;
	border: 2px solid rgb(112, 213, 59);
	background-color: rgba(22, 46, 10, .8);
}

#doneButton:active {
    color: rgb(207, 237, 255);
	background-color: rgba(207, 237, 255, .2);
}

/* --------------------------------------------------------------------------- */
.StartLabelInfo {
	position: absolute;
	top: 12.5%;
	left: 5%;
	width: 89%;
	height: 10%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	overflow: hidden;
	margin: 2px;
	z-index: 2;
	border: 2px solid rgb(112, 213, 59);
	background-color: rgba(22, 46, 10, .8);
}

.StartLabelInfo p {
	font-size: 1.8em;
	color: rgb(112, 213, 59);
	text-align: center;
	padding: 37px;
}

.InProgressLabelInfo {
	position: absolute;
	top: 3.5%;
	left: 5%;
	width: 89%;
	height: 10%;
	border: 2px solid rgb(112, 213, 59);
	background-color: rgba(22, 46, 10, .8);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	overflow: hidden;
    margin: 2px;
	z-index: 2;
}

.InProgressLabelInfo p {
	font-size: 1.8em;
	color: rgb(112, 213, 59);
	text-align: center;
	padding: 3.5%;
}

.CompleteLabelInfo {
	position: absolute;
	top: 3.5%;
	left: 20%;
	width: 60%;
	height: 16%;
	background-image: url(./images/voicePrint/Voice_Record_cmplt_Dialog_GRN.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	overflow: hidden;
	margin: 2px;
	z-index: 2;
}

.RecordDoneLabelInfo {
	position: absolute;
	top: 3.5%;
	left: 20%;
	width: 60%;
	height: 16%;
	background-image: url(./images/voicePrint/Voice_success_Dialog_GRN.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	overflow: hidden;
	margin: 2px;
	z-index: 2;
}

/* Image Src needs to be Changed */
.RecordFailedLabelInfo {
	position: absolute;
	top: 3.5%;
	left: 20%;
	width: 60%;
	height: 16%;
	background-image: url(./images/voicePrint/Voice_Error_Dialog_GRN.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	overflow: hidden;
	margin: 2px;
	z-index: 2;
}

.RecordFoundLabelInfo {
	position: absolute;
	top: 3.5%;
	left: 20%;
	width: 60%;
	height: 16%;
	background-image: url(./images/voicePrint/Voice_Recognized_Dialog_GRN.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	overflow: hidden;
	margin: 2px;
	z-index: 2;
}

.VoiceScanner {
	position: absolute;
	top: 26.5%;
	left: 5%;
	width: 90%;
	height: 34%;
	background-image: url(./images/voicePrint/REC_CANVAS_GRN.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	/*background-color: black;*/
	overflow: hidden;
	margin: 2px;
	z-index: 2;
}

.VoiceCounter {
	position: absolute;
	top: 60%;
	left: 4.5%;
	width: 100%;
	height: 4.5%;
	background-image: url(./images/voicePrint/REC_STEP_COUNT_GRN.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-color: black;
	/*border: 1px solid white;*/
	overflow: hidden;
	margin: 2px;
	z-index: 2;
}

#counterLabel {
	position: absolute;
	top: 5%;
	left: 35%;
	width: 85%;
	height: 70%;
	color: #70D53B;
	text-align: center;
	vertical-align: middle;
	/*font-weight: bold;*/
	font-size: 200%;
	overflow: hidden;
	padding:1%; 
	margin: 2px auto;
	z-index: 3;
}
#recorderCanvasTimer {
	position: absolute;
	top: 5%;
	left: 5%;
	width: 15%;
	height: 70%;
	color: #FFF;
	text-align: center;
	vertical-align: middle;
	/* font-weight: bold; */
	font-size: 200%;
	overflow: hidden;
	/* padding: 1%; */
	margin: 2px auto;
	z-index: 3;
	/* background-color: #69c6fc; */
}

.RecorderCanvas {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*background-color: black;*/
	overflow: hidden;
	margin: 2px;
	z-index: 3;
}


/* Female */
#foundUserProfile0 {
	background-image: url(./images/voicePrint/FEM_AVATAR.png);
	background-size: 100% 100%;
	/*border: 3px solid green;*/
	position: absolute;
	top: 20%;
	left: 35%;
	width: 30%;
	height: 60%;
	overflow: hidden;
	z-index: 4;
}

/* Male */
#foundUserProfile1 {
	background-image: url(./images/voicePrint/MAL_AVATAR.png);
	background-size: 100% 100%;
	/*border: 3px solid green;*/
	position: absolute; 
	top: 20%;
	left: 35%;
	width: 30%;
	height: 60%;
	overflow: hidden;
	z-index: 4;
}

.textFoundName {
	position: absolute;
	background: #1B2A0A;
	border: none ! important; box-shadow : none ! important; outline : none
	! important; background-color : transparent;
	top: 75%; left : 1%; right : 1%; width : 90%;
	height: 20%; color : #70D53B; font-size : 200%; margin : 2px; z-index :
	3;
	/*border: 2px solid #70D53B;*/
	padding: 5px;
	text-align: center;
	overflow: hidden;	
}

.RecordButton {
	position: absolute;
	top: 77%;
	left: 41%;
	width: 18%;
	height: 15%;
	background-image: url(./images/voicePrint/Mic_Initial_GRN.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	overflow: hidden;
	margin: 2px;
	z-index: 2;
}

.InProgressButton {
	position: absolute;
	top: 77%;
	left: 41%;
	width: 18%;
	height: 15%;
	background-image: url(./images/voicePrint/Mic_Live_GRN.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	overflow: hidden;
	margin: 2px;
	z-index: 2;
}

.CompleteButton {
	position: absolute;
	top: 77%;
	left: 41%;
	width: 18%;
	height: 15%;
	background-image: url(./images/voicePrint/Mic_Initial_GRN.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	opacity:0.4;
	overflow: hidden;
	margin: 2px;
	z-index: 2;
}

/* --------------------------------------------------------------------------- */

.chooseLabelForContainer {
  	position: absolute;
	top: 3.5%;
	left: 5%;
	width: 79%;
	height: 16%;
	background-image: url(./images/voicePrint/Choose_Delete_Dialog_GRN.png);
	background-size: 100% 100%;
	overflow: hidden;
	margin: 2px;
	z-index: 2;
}

.boxForUserId  {
	position: absolute;
	top: 22%;
	left: 5%;
	width: 90%;
	height: 62%;
	overflow: hidden;
	margin: 2px;
	z-index: 2;
}

#boxForUserIdDisabled {
	position: absolute;
	top: 22%;
	left: 5%;
	width: 90%;
	height: 62%;
	overflow: hidden;
	opacity: 0.4;
	margin: 2px;
	z-index: 4;
}

#ProfileStruct0  {
	position: absolute;
	/* background-image: url(./images/voicePrint/MAL_AVATAR.png);
	background-size: 100% 100%; */
	top: 0%;
	left: 0%;
	width: 30%;
	height: 30%;
	text-transform:uppercase;
	overflow: hidden;
	margin: 2px;
	z-index: 3;
}

#ProfileStruct1 {
	position: absolute;
	/* background-image: url(./images/voicePrint/MAL_AVATAR.png);
	background-size: 100% 100%; */
	top: 0%;
	left: 35%;
	width: 30%;
	height: 30%;
	text-transform:uppercase;
	overflow: hidden;
	margin: 2px;
	z-index: 3;
}

#ProfileStruct2 {
	position: absolute;
	/* background-image: url(./images/voicePrint/MAL_AVATAR.png);
	background-size: 100% 100%; */
	top: 0%;
	/*left: 70%;*/
	right: 0%;
	width: 30%;
	height: 30%;
	overflow: hidden;
	margin: 2px;
	z-index: 3;
}

#ProfileStruct3 {
	position: absolute;
	/* background-image: url(./images/voicePrint/MAL_AVATAR.png);
	background-size: 100% 100%; */
	top: 35%;
	left: 0%;
	width: 30%;
	height: 30%;
	overflow: hidden;
	margin: 2px;
	z-index: 3;
}

#ProfileStruct4 {
	position: absolute;
	/* background-image: url(./images/voicePrint/MAL_AVATAR.png);
	background-size: 100% 100%; */
	top: 35%;
	left: 35%;
	width: 30%;
	height: 30%;
	overflow: hidden;
	margin: 2px;
	z-index: 3;
}

#ProfileStruct5 {
	position: absolute;
	/* background-image: url(./images/voicePrint/MAL_AVATAR.png);
	background-size: 100% 100%; */
	top: 35%;
	/*left: 70%;*/
	right: 0%;
	width: 30%;
	height: 30%;
	overflow: hidden;
	margin: 2px;
	z-index: 3;
}

#ProfileStruct6 {
	position: absolute;
	/* background-image: url(./images/voicePrint/MAL_AVATAR.png);
	background-size: 100% 100%; */
	top: 70%;
	left: 0%;
	width: 30%;
	height: 30%;
	overflow: hidden;
	margin: 2px;
	z-index: 3;
}

#ProfileStruct7 {
	position: absolute;
	/* background-image: url(./images/voicePrint/MAL_AVATAR.png);
	background-size: 100% 100%; */
	top: 70%;
	left: 35%;
	width: 30%;
	height: 30%;
	overflow: hidden;
	margin: 2px;
	z-index: 3;
}

#ProfileStruct8 {
	position: absolute;	
	top: 70%;
	/*left: 70%;*/
	right: 0%;
	width: 30%;
	height: 30%;
	overflow: hidden;
	margin: 2px;
	z-index: 3;
}

.male {
	background-image: url(./images/voicePrint/MAL_AVATAR.png);
	background-size: 100% 100%;
}

.male:active {
	background-image: url(./images/voicePrint/MAL_AVATAR_OVR.png);
}

.female {
	background-image: url(./images/voicePrint/FEM_AVATAR.png);
	background-size: 100% 100%;
}

.female:active {
	background-image: url(./images/voicePrint/FEM_AVATAR_OVR.png);
}

.DefaultProfile {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 80%;
	background-image: url(./images/voicePrint/MAL_AVATAR_OVR.png);
	background-size: 100% 100%;
	overflow: hidden;
	margin: 2px;
	z-index: 4;
}

.DisplayNameControl {
	position: absolute;
	/*top: 67px;*/
	bottom: 0%;
	left: 0%;
	width: 100%;
	height: 20%;
	background-color: black;
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 100%;
	overflow: hidden;
	margin: 2px;
	z-index: 4;
}

.DeleteAllButton {
	position: absolute;
	bottom: 0.5%;
	right: 0.5%;
	width: 40%;
	height: 9.5%;
	background-image: url(./images/voicePrint/Delete_ALL_BTN_GRN.png);
	background-size: 100% 100%;
	/*button_PressToDeleteAll*/
	overflow: hidden;
	margin: 2px;
	z-index: 2;
}

.DeleteAllButton:active {
	background-image: url(./images/voicePrint/Delete_ALL_BTN_OVR_GRN.png);
}

.ConfirmBox {
	position: absolute;
	top: 20%;
	left: 20%;
	width: 60%;
	height: 45%;
	overflow: hidden;
	margin: 2px;
	z-index: 4;
}

.ConfirmMessage {
	position: absolute;
	top: 0%;
	left: 0%;
	right:0%;
	height: 65%;	
	background: #1B2A0A;
	border: 2px solid #70D53B;
	color: #70D53B;
	text-align: center;
    display: block;
   	float: left;
   	/*padding-top: 5%;*/
   	padding-top: 5px;
   	padding-left: 2%;
   	padding-right: 2%;
	font-size: 210%;
	overflow: hidden;
	margin: 2px;
	z-index: 5;
}

.YesButton {
	position: absolute;
	background-image: url(./images/voicePrint/YES_GRN.png);
	background-size: 100% 100%;
	top: 70%;
	left: 0%;
	width: 40%;
	height: 30%;
	overflow: hidden;
	margin: 2px;
	z-index: 5;
}

.YesButton:active {
	background-image: url(./images/voicePrint/YES_OVR_GRN.png);
}

.NoButton {
	position: absolute;
	background-image: url(./images/voicePrint/NO_GRN.png);
	background-size: 100% 100%;
	top: 70%;
	right: 0%;
	width: 40%;
	height: 30%;	
	overflow: hidden;
	margin: 2px;
	z-index: 5;
}

.NoButton:active {
	background-image: url(./images/voicePrint/NO_OVR_GRN.png);
}

/*------------------------------------------------------------------------------------------*/

#MessageBack {
	background-size: 100% 100%;
	position: absolute;
	margin: 0px auto;
	width: 100%;
	height: 100%;
	z-index: 3;
}

#Message {
	border: 2px solid rgb(112, 213, 59);
	background-color: rgba(22, 46, 10, .8);
	background-size: 100% 100%;
	position: absolute;
	top: 38%;
	left: 22%;
	min-height: 8%;
	overflow: hidden;
	width: 52%;
	color: #6CD638;
	text-align: center;
	font-weight: normal;
	font-size: 210%;
	margin: 0px auto;
	padding: 3%;
	z-index: 3;
	width: 52%;
}

#Message p {
	padding: 3%;
}
