.noVolumeSlider, 
.noVolumeSlider * {
	-webkit-box-sizing: border-box;
   	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-user-select: none;
   	-moz-user-select: none;
	-ms-user-select: none;
	display: block;
	cursor: default;
}
.noVolumeSlider {
	position: relative;
}
.noVolumeSlider a {
	position: absolute;
	z-index: 1;
}
.noVolumeSlider a:nth-child(2) {
	background: inherit !important;
}
.noVolumeSlider.vertical a {
	width: 100%;
	bottom: 0;
}
.noVolumeSlider.horizontal a {
	height: 100%;
	right: 0;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.noVolumeSlider:before,
	.TOUCH,
	.noVolumeSlider div {
		-ms-touch-action: none;
	}
	.noVolumeSlider:before {
		display: block;
		position: absolute;
		width: 150%;
		left: -25%;
		height: 400%;
		top: -150%;
		content: "";
		z-index: -1;
	}
	.noVolumeSlider.vertical:before {
		width: 400%;
		left: -150%;
		height: 150%;
		top: -25%;
	}
}
.noVolumeSlider {
	border-radius: 3px;
}

.noVolumeSlider,
.noVolumeSlider.connect.lower a {
	left:0;

}
/*.noVolumeSlider.disabled,
.noVolumeSlider.disabled.connect.lower a {
		
}*/
.noVolumeSlider div {
	width:100px;
	height: 100px;
	border-radius: 3px;
	/*background: #efefe7;*/
		
/*	left:100%; */					
}
/*.noVolumeSlider.disabled div {
		
		
}
.noVolumeSlider.horizontal {
		
}*/
.noVolumeSlider.horizontal div {
	margin: -23px 0 0 -50px;
	top: -27px;
}

#volumeControl .noVolumeSlider.horizontal a{
	top:30px;
	height:4px;
	background: #05141d;
}

.noVolumeSlider{
	width: 150px;
	height: 100%;
}

.sliderStart{
	position:absolute;
	top: 25px;
	left: 0px;
	width: 2px;
	height: 6px;
}

#volumeControl.volumeControlClass{
	position:absolute;
	top: 105px;
	right: 5px;
}

#volumeControl #VCinner{
	width: 100%;
}

#VCline {
	position: absolute;
	top: 36px;
	height: 1px;
	width: 100%;
}
#VCicon {
	position: absolute;
	top: 0;
	left: 0;
	width: 37px;
	height: 18px;
	background-size: 37px 18px;
	display: block;
}

#VCcircle {
	position: absolute;
	top: -10px;
	width: 80px;
	height: 80px;
}

#VCinner {
	position: absolute;
	top: 30px;
	height: 2px;
}


