#clockElement {
display:none
}

#topBar,#bottomBar {
/*position:absolute;*/
}

body {
/*font-family:SourceSansPro!important*/
}

.audio-hd-borders {
	border-left:240px solid #fe9c00;
	border-right:240px solid;
	padding-left:2%;
}

.audio-hd-border-lft {
	border-left:173px solid #fe9c00;
	padding-left:2%;
	height:22%;
	line-height:.7;
}

.special-3d-inline {
font-size:14rem;
font-weight:700;
position:relative;
top:-98px;
float:right;
}

div.wrapper#audiosettings {
width:100%;
height:78.125%;
margin:0;
position:relative;
top:8%
}

#audiosettings .contents {
width:99%;
height:85%;
position:fixed;
top:7%;
overflow:hidden
}

#audiosettings .dimension2D,.dimension3D {
position:static
}

#audiosettings div.static_parts_bg {
background:url(../images/static_elements_720_585.svg) no-repeat 0 77px;
height:60.8%;
width:100%;
position:absolute;
top:28%;
background-size:100%
}

#audiosettings .surround_header {
width:67%;
height:5.8%;
top:11.5%;
position:absolute;
left:4.16667%;
line-height:.7
}

#audiosettings div.surround_sound_3D {
width:58.75%;
height:5.7%;
top:2.5%;
position:absolute;
left:4.2%
}

div.on_off_btns,div.surround_btn_sets,div.dimension_2D,div.dimension_3D {
position:initial
}

div.on_btn {
height:5%;
width:14.4%;
position:absolute;
top:2.5%;
left:82%;
box-shadow:inset 0 0 20px #53b5ce;
font-size:1.4em;
line-height:1.9;
text-align:center;
color:#c4c4c4
}

div.on_btn.on {
background-color:#53b5ce;
color:#fff
}

div.off_btn {
height:5%;
width:14.4%;
position:absolute;
top:2.5%;
left:66%;
box-shadow:inset 0 0 20px #53b5ce;
font-size:1.4em;
line-height:1.9;
text-align:center;
color:#c4c4c4
}

div.off_btn.on {
box-shadow:none;
background-color:#53b5ce;
color:#fff
}

div.audioDimensionTxt {
width:3.6%;
height:1.5%;
position:absolute;
right:38.4%;
top: 21%; 
color:#fff;
font-weight:700;
/* right and top */
/* left:44.335%;
top:11.5%;
background-size:100%*/
}

div.audioDimensionTxt.on {
/* background:url(../images/3d_txt_26_15.svg) no-repeat; '3d appears when on is clicked. This is a graphic though */
background-size:100%
}

div.surround_btns.on {
display:block
}

div.surround_btns {
display:none
}

div.surround_btn {
width:20.42%;
height:8%;
position:absolute;
top:15.5%;
box-shadow:inset 0 0 20px #53b5ce
}

div.meridian2D {
background:url(../images/meridian2D_147_80.svg) no-repeat;
left:4.2%;
background-size:100%
}

div.meridian2D.on {
background:url(../images/meridian2D_hover_147_80.svg) no-repeat;
background-size:100%
}

div.meridian3D {
background:url(../images/meridian_147_80.svg) no-repeat;
left:4.2%;
background-size:100%
}

div.meridian3D.on {
background:url(../images/meridian_hover_147_80.svg) no-repeat;
background-size:100%
}

div.dolby {
background:url(../images/dolby_147_80.svg) no-repeat;
left:27%;
background-size:100%
}

div.dolby.on {
background:url(../images/dolby_hover_147_80.svg) no-repeat;
background-size:100%
}

div.dts {
background:url(../images/dts_147_80.svg) no-repeat;
left:51%;
background-size:100%
}

div.dts.on {
background:url(../images/dts_hover_147_80.svg) no-repeat;
background-size:100%
}

div.stereo {
left:76%;
box-shadow:inset 0 0 20px rgba(83,181,206,0.8);
font-size:1.4em;
line-height:3;
text-align:center;
color:#c4c4c4
}

div.stereo.on {
background-color:rgba(83,181,206, .3);
color:#fff
}

div.incremental_btn {
width:7.5%;
height:5.8%;
position:absolute;
z-index:5
}

div.plus {
background:url(../images/plus_54_58.svg) no-repeat;
background-size:100%
}

div.plus:active,.plus:hover {
background:url(../images/plus_hover_54_58.svg) no-repeat;
background-size:100%
}

div.incremental_btn.plus {
top:42.5%
}

div.vol.incremental_btn.plus {
top:97.5%;
left:5.5%
}

div.minus {
background:url(../images/minus_54_58.svg) no-repeat;
background-size:100%
}

div.minus:active,.minus:hover {
background:url(../images/minus_hover_54_58.svg) no-repeat;
background-size:100%
}

div.incremental_btn.minus {
top:90%
}

div.vol.incremental_btn.minus {
top:97.5%;
left:89%
}

div.incremental_btn.bass {
left:6.8%
}


div.incremental_btn.treble {
left:22.6%
}

div.incremental_btn.sub {
left:37.9%
}

div.tone_txt {
font-size:2em;
color:#fff;
position:absolute;
top:38%;
text-align:center;
width:7%
}

div.bass_display {
left:6.9%
}

div.treble_display {
left:22.9%
}

div.sub_display {
left:38.3%
}

div.noUiSliderVolumeBack {
background:url(../images/most_bar_off.svg) no-repeat;
position:absolute;
width:68.5%;
height:7.5%;
top:96.75%;
left:16%
}

div.car_top_view {
background:url(../images/car_top_view_215_478.png) no-repeat 0 0;
background-size:100%;
width:30%;
height:67%;
position:absolute;
top:45%;
left:59.5%
}

div.bf_btn {
position:absolute;
background-size:100%
}

div.balanceBtn {
width:8%;
height:4%;
top:58.5%
}

div.fadeBtn {
height:5.8%;
width:27%;
left:60.77%
}

div.right {
background:url(../images/move_right_58_194.svg) no-repeat center center;
left:89%;
background-size:100%
}

div.right:hover,.right:active {
background:url(../images/move_right_hover_58_194.svg) no-repeat 50%;
background-size:100%
}

div.left {
background:url(../images/left_move_58_194.svg) no-repeat center center;
left:51%;
background-size:100%
}

div.left:hover,.left:active {
background:url(../images/left_move_hover_58_194.svg) no-repeat 50%;
background-size:100%
}

div.up {
background:url(../images/up_move_194_58.svg) no-repeat;
top:36%;
background-size:100%
}

div.up:hover,.up:active {
background:url(../images/up_move_hover_194_58.svg) no-repeat;
background-size:100%
}

div.down {
background:url(../images/down_move_58_194.svg) no-repeat;
bottom:5.5%;
background-size:100%
}

div.down:hover,.down:active {
background:url(../images/down_move_hover_58_194.svg) no-repeat;
background-size:100%
}

div.crossHairContainer {
width:30%;
height:47.8%;
position:absolute;
top:41%;
left:59%;
overflow:hidden
}

div.crosshair {
background:url(../images/crosshair_430_952.svg) no-repeat;
width:200%;
height:200%;
left:-50%;
top:-50%;
position:absolute;
background-size:100%
}
