<div class="fontSizeMedium fontColorNormal fontWeightBold">
	<span class="subPanelElement">Save As... </span>
	<div class="inputBox">	
		<input id="fileNameInput" class="subPanelElement input fontSizeLarge fontSizeBold fontColorNormal boxShadow4 boxShadow4Active userSelectable" />
	</div>
	<div id="saveButton" class="button subPanelElement">
		<div class="bgColorThemeTransparent boxShadowInset button buttonOpacity"></div>
		<div class="buttonText fontColorNormal fontSizeSmaller fontWeightBold">Save</div>
	</div>
</div>