/* Do not remove this comment, causes crashes on IVI */

.bottomPanelImg {
	background-image: url('./images/bottombaricons/panel_bottom_blue.png');
}

.bottomPanelLogoImg {
	background-image: url('./images/bottombaricons/blank_logo.png');
}

.bottomBackButtonBackgroundImg {
	background-image: url('./images/bottombaricons/icon_back.png');
}

.bottomBackButton {
	position: absolute;
	left: 58px;
	top: 95px;
	width: 57px;
	height: 63px;
	cursor: pointer;
}

.bottomBackButton:active {
	position: absolute;
	left: 58px;
	top: 97px;
	width: 57px;
	height: 63px;
}

.bottomPanelLogo {
	position: absolute;
	left: 250px;
	top: 49px;
	width: 200px;
	height: 150px;
}

.bottomPanel {
	position: absolute;
	left: 0;
	top: 1080px;
	width: 720px;
	height: 200px;
}
