*.wgt
/dist
*.swp
.build/
.settings
/dist/*
_dist
_buildResults
.externalToolBuilders
builder/build.sh
builder/build.cmd
builder/buildCfg.xml
builder/profiles.xml
/builder/unitTesting/jasmine/SpecRunner.html
/out/
/docs.zip
/docs/apps/**
*.d
*.o