.nfcBackground {
	background-image: url("images/nfc/bg_blue.png");
}

.nfcPowerToggleButtonOnBg {
	background-image: url("images/nfc/icon_toggle_on_blue.png");
}

.nfcPowerToggleButtonOffBg {
	background-image: url("images/nfc/icon_toggle_off_blue.png");
}

.nfcTagDetected {
	background-image: url("images/nfc/img_tag_detected_blue.png");
}

.nfcTagNotDetected {
	background-image: url("images/nfc/img_tag_not_detected_blue.png");
}