 div#main-area 
	{
	height: 1022px;
	width: 720px;
	position: fixed;
	left: 0;
	top: 84px;
	background: #40427f;
}

/* ----------------------------------- */
/*   Text styles and in-game button  - */
/* ----------------------------------- */

h1 
	{
	font-family: 'MyTitan', Arial,sans-serif;
	font-size: 3em;
	margin-bottom: 0.2em;
	color: #ff0000;
	}

h3 
	{
	font-family: 'MyTitan', Arial,sans-serif;
	font-size: 2em;
	color: #4d5798;
}

.talk
	{
	font-size: 22px;
	color: #666666;
	font-family: 'MyHandwrite', cursive;
	text-align: center;
}

div.button_next    /* for end round */
	{
	z-index: 60;
	background: url('../../images/ui/button-sprites.png') no-repeat -348px 0;
	position: absolute;
	width: 116px;
	height: 69px;
	top: 528px;
	left: 364px;
	}
div.button_next:hover { background-position: -348px -80px; }

/* ------------------------------ */
/* - Pop up divs                - */
/* ------------------------------ */

.popup_div
	{
	display: none;
	z-index: 0;
	}

#start_round_popup
	{
	padding: 0;
	margin: 0;
	width: 624px;
	height: 991px;
	background:  url('../../images/ui/round-start.png') 0 0 no-repeat;	
	}

#start_turn_popup
	{
	width: 970px;
	height: 423px;
	background: url('../../images/ui/bkgd-new-turn.png') 0 0 no-repeat;
	padding: 60px 0 0 0;
	text-align: center;
    display:none;
	margin: 312px 0 0 -117px;	
	}

#end_round_popup
	{
	z-index: 1;
	position: absolute;
	margin: 84px 0 0 0;
	padding: 0;
	width: 624px;
	height: 719px;
	background: url('../../images/ui/fin/scroll.png') 0 0 no-repeat;
}

/* ---------------------------------------------- */
/* - Contents + animation for END ROUND Pop up  - */
/* ---------------------------------------------- */

div.fin
	{
	position: absolute;
	margin: 0;
	padding: 0;
	width: 624px;
	height: 719px;
	background-repeat: no-repeat;
	background-position: 0 0;
}

#fin_lost
	{
	z-index: 50;
	background: url('../../images/ui/fin/ribbon-lost.png') 0 0 no-repeat;
}
#fin_won
	{
	z-index: 50;
	background: url('../../images/ui/fin/ribbon-won.png') 0 0 no-repeat;
}

#fin_fail_starbottle
	{
	z-index: 20;
	background: url('../../images/ui/fin/base-starbottle.png') 0 0 no-repeat;
	opacity: .4;
}
#fin_success_starbottle
	{
	z-index: 30;
	background: url('../../images/ui/fin/success-starbottle.png') 0 0 no-repeat;
	-webkit-animation: throb 4s ease 0;
	-webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes throb
	{
	0%		{ -webkit-transform: scale(1, 1); opacity: 0; }
	60%		{ -webkit-transform: scale(1, 1); opacity: 0; }
	80%		{ -webkit-transform: scale(1, 1); opacity: 1; }
	85%		{ -webkit-transform: scale(1.1, 1.1); opacity: 1; }
	90%		{ -webkit-transform: scale(1, 1); opacity: 1; }
	95%		{ -webkit-transform: scale(1.1, 1.1); opacity: 1; }
	100%	{ -webkit-transform: scale(1, 1); opacity: 1; }
}

#fin_fail_bigbad
	{
	z-index: 20;
	background: url('../../images/ui/fin/base-bigbad.png') 0 0 no-repeat;
	-webkit-animation: shiver 0.2s ease 0 6 alternate;
}

#fin_fail_minions
	{
	z-index: 20;
	background: url('../../images/ui/fin/base-minions.png') 0 0 no-repeat;
	-webkit-animation: shiver 0.2s ease 1s 6 alternate;
	}

#fin_fail_bonus
	{
	z-index: 20;
	background: url('../../images/ui/fin/base-bonus.png') 0 0 no-repeat;
	-webkit-animation: shiver 0.2s ease 2s 6 alternate;
	}

@-webkit-keyframes shiver
	{
	0% { margin-left: 5px; }
	100% { margin-left: 0; }
	}

#fin_success_bigbad
	{
	z-index: 20;
	background: url('../../images/ui/fin/success-bigbad.png') 0 0 no-repeat;
	-webkit-animation: fade_in_1st 2s ease;
	}
@-webkit-keyframes fade_in_1st
	{
	0% { opacity: 0; }
	25% { opacity: 0; }
	50% { opacity: 1; }
	100% { opacity: 1; }
	}

#fin_success_minions
	{
	z-index: 20;
	background: url('../../images/ui/fin/success-minions.png') 0 0 no-repeat;
	-webkit-animation: fade_in_2nd 2s ease;
	}
@-webkit-keyframes fade_in_2nd
	{
	0% { opacity: 0; }
	50% { opacity: 0; }
	75% { opacity: 1; }
	100% { opacity: 1; }
	}
	
#fin_success_bonus
	{
	z-index: 20;
	background: url('../../images/ui/fin/success-bonus.png') 0 0 no-repeat;
	-webkit-animation: fade_in_3rd 2s ease;
	}
@-webkit-keyframes fade_in_3rd
	{
	0% { opacity: 0; }
	75% { opacity: 0; }
	100% { opacity: 1; }
	}

/* ---------------------------------------------- */
/* - Instructions page                          - */
/* ---------------------------------------------- */

div#instruct_page
	{
	margin: 20px auto 0 auto;
	padding: 0;
	width: 600px;
	}

div.instruct_area
	{
	margin: 40px auto 0 auto;
	width: 330px;
	background-color: #fff;
	-webkit-border-radius: 18px;
	padding: 20px;
	}

#instruct_page h1
	{
	font-size: 32px;
	color: #ff0000;
	font-family: 'MyTitan', cursive;
	text-align: center;
	padding: 0 0 6px 0;
	-webkit-text-stroke: 1px #fff;
	}

#instruct_page h4
	{
	font-size: 24px;
	color: #ff0000;
	font-family: 'MyTitan', cursive;
	text-align: left;
	letter-spacing: 1px;
	margin: 0 0 6px 0;
	padding: 0;
	}

#instruct_page h5
	{
	font-size: 18px;
	color: #555555;
	font-family: 'MyHandwrite', cursive;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1;
	margin: 0;
	}

#instruct_page h6
	{
	font-size: 18px;
	color: #7172a0;
	font-family: 'MyTitan', cursive;
	text-align: right;
	letter-spacing: 1px;
	line-height: 0.92;
	margin: 0;
	}

div#instruct_bigbad
	{
	width: 100%;
	height: 60px;
	background: url('../../images/ui/instruct-bigbad.png') no-repeat;
	margin: 0;
	padding: 0;
	}

div#instruct_minions
	{
	width: 100%;
	height: 60px;
	background: url('../../images/ui/instruct-minions.png') no-repeat;
	margin: 0;
	padding: 0;
}

div#instruct_bonus
	{
	width: 100%;
	height: 60px;
	background: url('../../images/ui/instruct-bonus.png') no-repeat;
	margin: 0;
	padding: 0;
	}