.talk
	{
	font-size: 35px;
	color: #ffc833;
	font-family: 'MyHandwrite', cursive;
	text-align: center;
}

div#button_area
	{
	position: absolute;
	z-index: 100;
	top: 870px;
	left: 0;
	width: 720px;
	height: 200px;
	padding: 0; margin: 0;
	font-family: MyTitan;
	text-align: center;
	background-color: #40427f;
	}	

div.button_instructions
	{
	position: relative;
	top: 0; left: 0;
	width: 186px;
	height: 49px;
	margin: 16px auto 0 auto;
	padding: 6px 0 0 0;
	background: url('../../images/ui/button-sprites.png') no-repeat -161px 0;
}

div.intro
	{
	position: absolute;
	top: 0;
	left: 0;
	width: 720px;
	height: 870px;
	background-repeat: no-repeat;
	background-position: 0 0;
	padding: 0; margin: 0;
	text-align: left;
	}

div#intro_cliff
	{
	z-index: 15;
	top: 196px;
	}

div#intro_title
	{
	z-index: 14;
	top: 660px;
	-webkit-animation: intro_title 20s linear 0 1 normal;
	-webkit-animation-fill-mode: both;
	}
@-webkit-keyframes intro_title
	{
	0% { opacity: 1;  margin-top: 0; }
	12% { opacity: 1; margin-top: 0;}
	16% { opacity: 0; margin-top: 0; }
	90% { opacity: 0; margin-top: 182px; }
	91% { opacity: 1; margin-top: 182px; }
	96% { opacity: 1; margin-top: 0; }
	100% {  opacity: 1; margin-top: 0px; }
	}

div#mask_title
	{
	z-index: 16;
	top: 815px;
	-webkit-animation: mask_title 20s linear 0 1 normal;
	-webkit-animation-fill-mode: both;
	}
@-webkit-keyframes mask_title
	{
	0% { opacity: 0;}
	89% { opacity: 0;}
	90% { opacity: 1;}
	97% {opacity: 1;}
	100% { opacity: 0;}
	}

div#intro_flying1
	{
	z-index: 13;
	top: 130px;
	-webkit-animation: intro_flying1 20s ease-in 0 1 normal;
	-webkit-animation-fill-mode: forwards;
	}
@-webkit-keyframes intro_flying1
	{
	0% { opacity: 0; }
	50% { opacity: 0; }
	51% { opacity: 1; margin-top: 200px; margin-left: -240px; }
	70% { opacity: 1; margin-top: 0; margin-left: 290px; }
	71% { opacity: 0; }
	100% { opacity: 0; margin-top: 0; margin-left: 290px; }
	}

div#intro_flying2
	{
	z-index: 11;
	top: 132px;
	left: 300px;
	margin: 0;
	-webkit-animation: intro_flying2 20s ease-out 0 1 normal;
	-webkit-animation-fill-mode: forwards;
	}
@-webkit-keyframes intro_flying2
	{
	0% { opacity: 0; }
	70% { opacity: 0;}
	71% { opacity: 1; margin: 0; -webkit-transform: scale(1,1); }
	88% { margin-left: 10px; margin-top: -170px; -webkit-transform: scale(.01,.01); }
	89% {opacity: 1; }
	90% {opacity: 0; }
	100% { margin-left: 10px; margin-top: -170px; -webkit-transform: scale(.01,.01); }
	}

div#intro_bigbad
	{
	z-index: 7;
	top: 220px;
	-webkit-animation: intro_bigbad 20s linear 0 1 normal;
	-webkit-animation-fill-mode: forwards;
	}
@-webkit-keyframes intro_bigbad
	{
	0% { margin-top: 10px; margin-left: -50px; }
	32% { margin-top: 10px; margin-left: -50px; }
	37% { margin-top: -185px;  margin-left: 0; }
	50% { margin-top: -185px;  margin-left: 0; }
	51% { margin-top: -205px;  margin-left: 0; }
	52% { margin-top: -185px;  margin-left: 0; }
	53% { margin-top: -205px;  margin-left: 0; }
	54% { margin-top: -185px;  margin-left: 0; }
	100% { margin-top: -185px;  margin-left: 0; }
	}

div#intro_lights
	{
	z-index: 3;
	top: 490px;
	-webkit-animation: intro_flicker .5s linear 0.5s 7 alternate;
	-webkit-animation-fill-mode: forwards;
	}
@-webkit-keyframes intro_flicker
	{
	0% { opacity: 1; }
	2% { opacity: 1; }
	4% { opacity: 0; }
	40% { opacity: 0; }
	42% { opacity: 1; }
	44% { opacity: 1; }
	46% { opacity: 0; }
100% { opacity: 0; }
	}

div#intro_scene
	{
	z-index: 1;
	}
	
div.intro_talk_any
	{
	z-index: 15;
	top: 710px;
	text-align: center;
	-webkit-animation-fill-mode: both;
	opacity: 0;
	}
div#intro_talk1 { -webkit-animation: intro_talk 4s linear 3s 1 normal; }
div#intro_talk2 { -webkit-animation: intro_talk 4s linear 6.5s 1 normal; }
div#intro_talk3 { -webkit-animation: intro_talk 4s linear 10s 1 normal; }
div#intro_talk4 { -webkit-animation: intro_talk 4s linear 14s 1 normal; }
@-webkit-keyframes intro_talk
	{
	0% { opacity: 0; margin-left: 500px; }
	1% { opacity: 1; margin-left: 500px; }
	40% { opacity: 1; margin-left: 0; }
	60% {  margin-left: 0; }
	99% {  opacity: 1; margin-left: -500px; }
	100% { opacity: 0; margin-left: -500px; }
	}
