	
@font-face { font-family: 'MyHandwrite'; src: url('../../fonts/patrickhand-regular-webfont.woff') format('woff'); }
@font-face { font-family: 'MyTitan'; src: url('../../fonts/titanone-regular-webfont.woff') format('woff'); }
	
a {color: #000000;}
a:hover {color: #b14f00;}
a:link, a:visited
	{
	text-decoration: none;
	}

.projectile_div
	{
	position: fixed;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 7px solid white;
    opacity: .75;
	}
	
#game_canvas
	{
	position: fixed;
	overflow: hidden;
	top: 84px;
	left: 0px;
	}
		
#animations_canvas
	{
	position: fixed;
	overflow: hidden;
	top: 84px;
	left: 0px;
	}

/* ---------------------- */
/* - BASICS for HTML    - */
/* ---------------------- */

body 
	{
	font-family: 'PT Sans Caption', Arial,sans-serif;
	font-size: 24px;
	margin: 0px;
	padding: 0px;
	text-align: center;
	background-color: #413b7b;
	}

img 
	{
	margin: 0px;
	padding: 0px;
	border: 0;
	}

div 
	{
	background-repeat: no-repeat;
	}

div#topper 
	{
	height: 84px;
	width: 720px;
	left: 0;
	top: 0;
	}

div#wrapper 
	{
	height: 1280px;
	width: 720px;
	position: fixed;
	left: 0;
	top: 0;
	}

div#footer 
	{
	height: 1052px;
	width: 182px;
	position: fixed;
	left: 0;
	top: 1098px;
	}

/* ---------------------------------- */
/* - THINGS for during game play    - */
/* ---------------------------------- */

div#game-area 
	{
	height: 1014px;
	width: 720px;
	position: fixed;
	left: 0;
	top: 84px;
	background: #413b7b url('../../images/scenery.png');
}

div.overlay_game_area 
	{
	height: 1014px;
	width: 720px;
	position: fixed;
	left: 0;
	top: 83px;
}

#projectile_source
	{
	position: absolute;
	top: 845px;
	left: 500px;
    width: 200px;
    height: 171px;
	background: url('../../images/ui/projectile-source.png') top center no-repeat;
	}
	
.projectile_label
	{
	margin: 30px 0 0 0;
	padding: 0;
	font-size: 24px;
	color: #fff;
	font-family: 'MyTitan', cursive;
	text-align: center;
	-webkit-text-stroke: 1px #395597;
	line-height: 0.9;
	}

#projectile_number
	{
	display: inline;
	font-size: 45px;
}

#level_info
	{
	position: absolute;
	top: 870px;
	left: 0;
    width: 132px;
    height: 111px;
	background: url('../../images/ui/level-flag.png') top center no-repeat;
	}
	
.level_label
	{
	margin: 18px 0 0 0;
	padding: 0;
	font-size: 18px;
	color: #feff00;	
	font-family: 'MyTitan', cursive;
	text-align: center;
	-webkit-text-stroke: 1px #543f37;
	}

/* ------------------------------------------- */
/* - THINGS for Instructions AND end round   - */
/* ------------------------------------------- */

.button_text
	{
	font-size: 24px;
	color: #40427f;
	font-family: 'MyHandwrite', cursive;
	text-align: center;
	letter-spacing: 1px;
	-webkit-text-stroke: 1px #40427f;
	margin: 0;
	padding: 0;
}

.button_text_big
	{
	font-size: 36px;
	-webkit-text-stroke: 2px #40427f;
	line-height: 2.2;
}

div.button_play       /* for home page and instructions page */
	{
	position: relative;
	top: 0; left: 0;
	width: 159px;
	height: 80px !important;
	padding: 0;
	margin: 0 auto 0 auto;
	background: url('../../images/ui/button-sprites.png') no-repeat 0 0;
}


/* ------------------------------------------- */
/* - THINGS for in-game score area           - */
/* ------------------------------------------- */

div#scoring 
	{
	position: relative;
	margin: 14px 0 0 14px;
	height: 97px;
	width: 97px;
	background:  url('../../images/ui/score-area.png') top left no-repeat;
	text-align: left;
	}

div#star_bigbad 
	{
	position: absolute;
	left: 45px;
	top: 7px;
	display: none;
	-webkit-animation: star_throb 3.5s linear;
	-webkit-animation-fill-mode: both;
	}

div#star_minions 
	{
	position: absolute;
	left: 7px;
	top: 7px;
	display: none;
	-webkit-animation: star_throb 3.5s linear;
	-webkit-animation-fill-mode: both;
	}

div#star_coins 
	{
	position: absolute;
	left: 7px;
	top: 45px;
	display: none;
	-webkit-animation: star_throb 3.5s linear;
	-webkit-animation-fill-mode: both;
	}

@-webkit-keyframes star_throb
	{
	0% { opacity: 1; }
	20% { opacity: 1; }
	21% { opacity: .3; }
	24% { opacity: .3; }
	25% { opacity: 1; }
	30% { opacity: .3; }
	34% { opacity: .3; }
	35% { opacity: 1; }
	50% { opacity: 1; }
	100% { opacity: 1; }
	}

div#score_text_bigbad
	{
	position: absolute;
	left: 55px;
	top: 0;
	margin: -9px;
	width: 300px;
}

div#score_text_minions
	{
	position: absolute;
	left: 74px;
	top: 18px;
	width: 300px;
}

div#score_text_bonus
	{
	position: absolute;
	left: 44px;
	top: 8px;
	width: 300px;
}

.score_text
	{
	font-size: 21px;
	color: #ffc833;
	font-family: 'MyHandwrite', cursive;
	text-align: left;
	letter-spacing: 1px;
	-webkit-animation: text_throb 3.5s linear;
	-webkit-animation-fill-mode: forwards;
	}
@-webkit-keyframes text_throb
	{
	0% { opacity: 1; }
	20% { opacity: 1; }
	21% { opacity: .6; }
	24% { opacity: .6; }
	25% { opacity: 1; }
	30% { opacity: .6; }
	34% { opacity: .6; }
	35% { opacity: 1; }
	50% { opacity: 1; }
	100% { opacity: 0; }
	}
