<!-- RVI html template page for settings -->

<div id="rviPage" class="tabs rviPage hidden">

	<div class="component-top">
		<div class="component-head"> 
			<div id="rviBackArrow" class="settings-back-arrow"></div>
			<div class="blue-rectangle"></div>
			<div class="blue-caption-text">SETTINGS</div>			
			<div class="component-title">RVI</div>
			<div class="settings-clear">	</div>
		</div>
		<div id="rviPowerButton" class="settings-switch">
			<div class="switch off switch-xsmall">
			  <div class="switch-plate">
			    <div class="switch-control"></div>
			  </div>
			</div>
		</div>
		<div class="component-subhead border">
			<h2>Remote Vehicle Interaction</h2>		
		</div>
	</div>

	<div class="component-content">
		<div class="component-subhead"><h3>Initial Set-up</h3></div>
		<form id="rviSetup" class="component-form">	
			<!-- <div class="close-button" type="reset"></div> -->			
			<div class="input-group">
				<label for="" class="component-label">VIN Number</label>
				<input type="text" name="focus" class="text-input input-white" id="vinNumber" placeholder="Enter new number">
				<div class="delete-button" type="reset"></div>				
			</div>

			<div class="center">
				<input type="button" class="no margin button-blue" value="submit" id="">
			</div>
		</form>
	</div>

	<div id="resultMessage" class="modal hidden">
		<div class="modal-bkgrnd box-out-orange">
			<div id="" class="close-button"></div>
			<h3>Success!</h3>
			<p>You have saved information on this device that will enable up 
			to 4 mobile devices to connect to and operate the HVAC system remotely.</p>
		</div>
	</div>
</div>

 
