<!-- RVI html template page for settings -->

<div id="rviPage" class="tabs pageBgColorNormalTransparent rviPage hidden">

	<div id="tabsTopSubPanel" class="tabsTopSubPanel">
 
		<div id="tabsCloseSubPanelRviButton" class="tabsCloseSubPanelButton"></div>
		<div class="tabsSubPanelArea">
			<div id="tabsTopSubPanelTitle">
				<div class="boxIconRectangleSmall bgColorTheme"></div>
				<div class="boxIconCaptionSmall boxCaptionText">SETTINGS</div>
			</div>
			<div id="tabsTopSubPanelSubtitle" class="componentHeader">RVI</div>
			<div class="tabsTabClear">
			</div>
		</div>

	</div>
	<div id="" class="tabsTopSubPanel" style="display: block;">

		<!-- start of tabsContent portion-->
		<div id="" class="tabsContent wifiContent">	
			<div class="wifiElement borderColorTheme">
				<div class="wifiElementInfoBox">
					<div class="wifiElementTitle fontSizeLarge fontColorNormal fontWeightBold">Remote Vehicle Interaction</div>
					<div class="wifiElementSubtitle fontSizeSmaller fontColorNormal"></div>
					<div class="wifiElementDescription fontSizeSmaller fontColorNormal"></div>
					<div class="wifiElementMore fontSizeSmaller fontColorNormal"></div>
					<div class="wifiElementMore fontSizeSmaller fontColorSelected fontWeightBold"></div>
					<div class="wifiElementMore fontSizeSmaller fontColorSelected fontWeightBold"></div>
				</div>	
			</div>
		</div>
	</div>
</div>

 
