<!-- RVI html template page for settings -->

<div id="rviPage" class="tabs rviPage hidden">

	<div class="component-top">
		<div class="component-head"> 
			<div id="rviBackArrow" class="settings-back-arrow"></div>
			<div class="blue-rectangle"></div>
			<div class="blue-caption-text">SETTINGS</div>			
			<div class="component-title">RVI</div>
			<div class="settings-clear">	</div>
		</div>
		<div id="rviPowerButton" class="settings-switch">
			<div class="switch off switch-xsmall">
			  <div class="switch-plate">
			    <div class="switch-control"></div>
			  </div>
			</div>
		</div>
		<div class="component-subhead">
			<h2>Remote Vehicle Interaction</h2>		
		</div>
	</div>

	<div class="component-content">
		<form id="rviSetup" class="component-form">			
			<h3>Initial Set-up</h3>
			<!-- <div class="close-button" type="reset"></div> -->	

			<div class="flex-center">
				<div class="label-box">
					<h4>VIN Number</h4>
				</div>
				<input type="text" name="focus" class="inputField" id="vinNumber" placeholder="Enter new number">
				<div class="delete-button" type="reset"></div>				
			</div>

			<div class="center">
				<div class="button button-blue">
					<input id="submit" type="submit" value="submit">
				</div>
			</div>
		</form>
	</div>

	<div id="resultMessage" class="resultMessage hidden">
		<div id="messageOverlay"></div>
		<div class="message">
			<h3>Success!</h3>
			<p>You have saved information on this device that will enable up 
			to 4 mobile devices to connect to and operate the HVAC system remotely.</p>
			<button class="button button-orange">Close</button>
		</div>
	</div>
</div>

 
