<!-- Template for BuildItemHTML(itemPhoto,itemTitle,itemDesc) in main.js -->
<template id="articleListItemTemplate">
	<li data-item-guide="" data-item-feed="">
		<div class="article-list-item textBgColorThemeTransparent">
			<div class="thumbnail" ontouchend="showArticle('')">
				<img src="" alt="" data-item-photo="" width="180px">
			</div>
			<div class="item-text">
				<span class="item-date fontSizeXXSmall fontColorTheme">   </span>
				<span ontouchend="showArticle('')" class="item-title fontSizeSmall fontColorNormal" data-item-title=""></span>
				<span class="item-desc fontSizeXSmall fontColorNormal" data-item-desc=""></span>
			</div>
			<div class="item-text-grad-fade"></div>
		</div>
	</li>
</template>

<!-- Template for $.get(url, function(xml)) in main.js -->
<template id="articleOutputTemplate">
	<li class="article-item">
		<div class="article-body fontSizeLarge fontColorNormal">
		  <span class="article-head fontSizeLarger fontColorNormal" data-article-head=""></span>
		  <!-- articleBody -->
	  </div>
  </li>
</template>
