/* ARTISTS */
.musicLibraryContentList .musicElement {
	padding: 10px 0 10px 0;
	height: 70px;
	box-shadow: none;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	line-height: 0;
	text-align: left;
	cursor: pointer;
}

.musicLibraryContentList .musicImage {
	width: 70px;
	height: 70px;
	display: inline-block;
	margin-right: 20px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.musicLibraryContentList .musicImage img {
	width: 100%;
	height: 100%;
}

.musicLibraryContentList .musicInfoBox {
	display: inline-block;
	vertical-align: top;
	padding-top: 11px;
	background-color: transparent !important;
}

.musicLibraryContentList .musicInfoBox.musicInfoBoxCentered {
	padding-top: 20px;
}

.musicInfoBoxShort {
	max-width: 470px;
}

.musicLibraryContentGrid {
	line-height: 0;
}

.musicLibraryContentGrid .musicElement {
	width: 180px;
	height: 180px;
	display: inline-block;
	margin-right: 7px;
	margin-bottom: 10px;
	line-height: 0;
	vertical-align: top;
	cursor: pointer;
}

.musicLibraryContentGrid .musicImage {
	width: 100%;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.musicLibraryContentGrid .musicImage img {
	width: 100%;
	height: 100%;
}

.musicLibraryContentGrid .musicInfoBox {
	position: absolute;
	top: 110px;
	left: 0;
	width: 180px;
	height: 70px;
	text-align: center;
}

.musicLibraryContentGrid .musicElement .contentTitle {
	width: 160px;
	margin: 10px auto 0 auto;
}

.textTransformUppercase {
	text-transform: uppercase;
}